@import "var_style";

.footer {

  &_body {
    @media (min-width: $md2+px) {
      display: flex;
      margin: 0 -15px;
    }
  }

  &_column {
    @media (min-width: $md2+px) {
      padding: 0 15px;
      flex: 0 1 50%;
    }
    margin: 0 0 25px 0;

    &:first-child {
      display: flex;
      flex-direction: column;
    }
  }

  &_block {

  }

  &_widgets {
    display: flex;
  }

  &_bottom {
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #dadada;
    text-align: center;

    @media (min-width: 560px) {
      display: flex;
      text-align: left;
    }
  }

  &_copy {
    flex: 1 1 auto;
    color: #999999;
    font-size: 12px;
    font-weight: 300;

    @media (max-width: 560px) {
      margin: 0 0 10px 0;
    }
  }

  &_payments {
    @media (max-width: 560px) {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }
}

.block-footer {
  padding: 0 0 20px 0;
  text-align: center;

  @media (min-width: 560px) {
    text-align: left;
    display: flex;
    flex: 1 1 auto;
  }

  &_column {
    &:first-child {
      flex: 0 0 165px;

    }

    &:last-child {
      flex: 1 1 auto;

      @media (min-width: 560px) {
        padding: 0 0 0 45px;
      }
    }
  }

  &_phones {
    padding: 0 0 0 15px;
    @media (min-width: 560px) {
      padding: 0 0 0 30px;
      background: url("../img/icons/footer/footer-phone/footer-phone.png") left no-repeat;
    }

    p {
      margin: 0 0 10px 0;

      &:last-child {
        margin: 0 0 0 0;
      }
    }

    @media (max-width: 560px) {
      margin: 0 0 30px 0;
    }
  }

  &_phone {
    color: #333333;
    font-weight: 900;

    @media (max-width: 560px) {
      font-size: 18px;
    }
  }
}

.logo-footer {
  display: inline-block;
  margin: 0 0 30px 0;
}

.delivery-footer {

  @media (max-width: 560px) {
    text-align: center;
  }

  &_title {
    color: #999999;
    font-size: 14px;
    font-weight: 900;
    font-family: Play, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin: 0 0 10px 0;
  }

  &_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;

    @media (max-width: 560px) {
      justify-content: center;
    }
  }

  &_item {
    filter: grayscale(1);
    padding: 0 9px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      filter: grayscale(0);
    }
  }
}

.widgets-footer {
  display: flex;
  margin: 0 -15px;

  @media (min-width: $md2+px) {
    justify-content: flex-end;
  }

  @media (max-width: 560px) {
    display: block;
    text-align: center;
  }

  &_column {
    padding: 0 15px;

    img {
      max-width: 100%;
    }
  }
}

.social-footer {
  display: flex;
  align-items: center;

  &_item {
    margin: 0 0 0 10px;
  }

  @media (max-width: 560px) {
    justify-content: center;

    &_item {
      margin: 0 5px;
    }
  }
}