// ------------------------------
$fontFamily: "Roboto";

$maxWidth: 1400px;

$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// ------------------------------

.rub:after {
  content: "₽";
  font-size: inherit;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: $fontFamily;
}

input:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}

._arrow {
  background: url("../img/icons/productsSlider/blueArrow.png") 0 0 no-repeat;
  width: 83px;
  height: 50px;
  cursor: pointer;

  @media (min-width: $md2+px) {
    &:hover {
      background: url("../img/icons/productsSlider/orangeArrow.png") 0 0 no-repeat;
    }
  }
}

._arrow_prev {
  transform: rotate(-180deg) translate(0, 5px);
  transition: all 0.3s ease 0s;

  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(-180deg) translate(0, 5px);
    }
  }
}

._arrow_next {
  transition: all 0.3s ease 0s;
  transform: translate(0, -5px);

  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(0deg) translate(0, -5px);
    }
  }
}

%grayStyle {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

%grayStyleOff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

// Бургер меню заготовка
//   .icon-menu {
//      display: none;
//      @media (max-width: $md2+px) {
//        display: block;
//        position: absolute;
//        top: 18px;
//        right: 10px;
//        width: 30px;
//        height: 18px;
//        cursor: pointer;
//        z-index: 5;
//
//        span {
//          transition: all 0.3s ease 0s;
//          top: calc(50% - 1px);
//          left: 0;
//          position: absolute;
//          width: 100%;
//          height: 2px;
//          background-color: #000;
//
//          &:first-child {
//            top: 0;
//          }
//
//          &:last-child {
//            top: auto;
//            bottom: 0;
//          }
//        }
//
//        &._active {
//          span {
//            transform: scale(0);
//
//            &:first-child {
//              transform: rotate(-45deg);
//              top: calc(50% - 1px);
//            }
//
//            &:last-child {
//              transform: rotate(45deg);
//              bottom: calc(50% - 1px);
//            }
//          }
//        }
//      }
//    }


