@import "var";

.filter {
  border: 4px solid #72c9d4;
  margin: 0 0 38px 0;

  &_title {
    padding: 25px 15px 5px 15px;
    color: #36949f;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: all 0.3s ease 0s;

    @media (max-width: $md2+px) {
      padding: 25px 15px 25px 15px;

      &._active {
        padding: 25px 15px 5px 15px;
      }
    }
  }

  &_content {
    @media (max-width: $md2+px) {
      display: none;
    }

    @media (min-width: $md2+px) {
      display: block !important;
    }
  }

  &_footer {
    display: flex;
    padding: 15px;
    justify-content: space-between;
  }

  &_btn {
    padding: 0 15px;
    text-transform: none;
  }
}

.section-filter {
  padding: 15px;
  border-bottom: 1px solid #72c9d4;

  &:last-child {
    border: 0;
  }

  &_title {
    color: #36949f;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &._spoller {
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &::after {
        transition: all 0.3s ease 0s;
        content: "";
        border-radius: 50%;
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        border: 1px solid #72c9d4;
        background: url("../img/catalog/arrows-spoller.png") 5px center no-repeat;
      }

      &._active {
        color: #000000;

        &::after {
          transform: rotate(90deg);
          filter: grayscale(6);
        }
      }

      &._spoller + .section-filter_body {
        display: none;
      }
    }
  }

  &_body {
    padding: 15px 0 0 0;
  }

  &_checkbox {
    display: block;
    margin: 0 0 15px 0;

    &:last-child {
      margin: 0 0 0 0;
    }
  }
}

.price-filter {

  &_slider {
    height: 4px;
    background-color: #eaeaea;
    margin: 0 11px 50px 11px;
    position: relative;

    &::before,
    &::after {
      content: "";
      background-color: #eaeaea;
      width: 11px;
      height: 4px;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -11px;
    }

    &::after {
      right: -11px;
    }

    .noUi-base,
    .noUi-connects {
      position: relative;
      height: 4px;
    }

    .noUi-origin,
    .noUi-connect {
      will-change: transform;
      position: absolute;
      width: 100%;
      height: 10%;
      z-index: 1;
      top: 0;
      right: 0;
      transform-origin: 0 0;
      transform-style: flat;
    }

    .noUi-connect {
      background-color: #ffcda5;
      width: 100%;
      height: 100%;
      top: 0;
    }

    .noUi-handle {
      position: relative;
      top: -10px;
      left: 188px;
      width: 23px;
      height: 23px;
      border: 1px solid #f68038;
      background-color: #FFFFFF;
      border-radius: 50%;
      cursor: pointer;

      &::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 3.3px;
        top: 3.3px;
        border-radius: 50%;
        background-color: #f68038;
      }
    }

    .noUi-tooltip {
      position: absolute;
      bottom: -22px;
      left: 50%;
      color: #999999;
      font-size: 12px;
      font-weight: 300;
      transform: translate(-50%, 0);
    }
  }
}

.values-price-filter {
  display: flex;
  margin: 0 -15px;

  &_column {
    padding: 0 15px;
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }

  &_label {
    color: #999999;
    font-size: 12px;
    font-weight: 300;
  }

  &_input {
    flex: 1 1 auto;
    padding: 0 0 0 10px;

    .input {
      height: 20px;
      padding: 0 10px;
      font-size: 12px;
    }
  }
}

.compare-filter {

  &_items {
    padding: 0 13px 0 0;
    margin: 0 0 20px 0;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;

    &:last-child {
      margin: 0 0 0 0;
    }
  }

  &_link {
    line-height: 16px;
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
  }

  &_remove {
    flex: 0 0 10px;
    position: relative;
    margin: 3px 0 0 0;

    &:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      right: 1px;
      background: url("../img/catalog/closeIcon.png") 0 0 no-repeat;
      opacity: 0.6;
      transition: all 0.3s ease 0s;
    }

    @media (min-width: $md2+px) {
      &:hover::before {
        opacity: 1;
      }
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    background-color: #1ab9ce;
    padding: 0 13px;
    border-radius: 25px;

    span {
      background: url("../img/catalog/compare.png") left no-repeat;
      padding: 0 0 0 30px;
      line-height: 33px;
      display: inline-block;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 900;
    }
  }

  &_clean {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #e6e6e6 url("../img/catalog/trash.png") center no-repeat;
  }
}

//===================================================================================
.catalog {

  &_title {
    color: #dadada;
    font-family: Play, sans-serif;
    font-size: 30px;
    line-height: 130%;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  &_actions {
    margin: 0 0 15px 0;
  }

  &_navi {
  }
}

.actions-catalog {
  background-color: #f3f3f3;
  align-items: center;
  padding: 10px 20px;

  @media(min-width: 540px) {
    display: flex;
  }

  &_order {
    @media(max-width: 540px) {
      margin: 0 0 15px 0;
    }
  }
}

.order-catalog {
  @media(min-width: 540px) {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &_label {
    margin: 0 20px 0 0;
    color: #333333;
    font-size: 14px;
    font-weight: 900;

    @media(max-width: 540px) {
      margin: 0 0 10px 0;
    }
  }

  &_select {
  }
}

.select-catalog, .select-show {
  position: relative;
  padding: 0 15px;
  line-height: 30px;
  background-color: #FFFFFF;
  min-width: 166px;
  cursor: pointer;

  span {
    font-weight: 900;
  }

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    transition: all 0.3s ease 0s;
    width: 14px;
    height: 7px;
    right: 5%;
    top: 40%;
    background: #FFFFFF url("../img/catalog/triangle.png") right /14px no-repeat;
  }


  &._active:before {
    transform: rotate(180deg);
  }

  &_form {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 5;

    &._active {
      display: block !important;
    }
  }

  &_option {
    padding: 0 15px;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.select-show {
  color: #999999;
  border: 2px solid #f3f3f3;
  min-width: 56px;
  padding: 0 0 0 12px;

  &::before {
    right: 10%;
  }
}

.show-catalog {
  @media (min-width: 540px) {
    display: flex;
    align-items: center;
  }

  &_label {
    margin: 0 20px 0 0;
    color: #333333;
    font-size: 14px;
    font-weight: 900;

    @media(max-width: 540px) {
      margin: 0 0 10px 0;
    }
  }
}

.select-catalog {
  color: #0097ac;
}

.view-catalog {
  display: flex;

  &_item {
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin: 0 0 0 8px;
  }

  &_grid {
    background: #4da0b9 url("../img/catalog/grid-white.png") center /25px no-repeat;

    &._active {
      background: #FFFFFF url("../img/catalog/grid-black.png") center /25px no-repeat;
    }
  }

  &_list {
    background: #4da0b9 url("../img/catalog/list-white.png") center /27px no-repeat;

    &._active {
      background: #FFFFFF url("../img/catalog/list-black.png") center /27px no-repeat;
    }
  }

  @media(max-width: 540px) {
    margin: 0 10px 0 0;
  }
}

.navi-catalog {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 10px 15px;

  &_top {
    margin: 0 0 23px 0;
  }

  @media (min-width: 540px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// todo: недоделан ползунок цены товаров
// Адаптивная верстка интернет-магазина с нуля. Часть #5. GULP SCSS JS 0:0:00