@charset "UTF-8";
.rub:after {
  content: "₽";
  font-size: inherit;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto";
}

input:focus, select:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 30px;
  display: block;
  padding: 0 15px;
}
.input.error {
  border: 1px solid red;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}

._arrow {
  background: url("../img/icons/productsSlider/blueArrow.png") 0 0 no-repeat;
  width: 83px;
  height: 50px;
  cursor: pointer;
}
@media (min-width: 991.98px) {
  ._arrow:hover {
    background: url("../img/icons/productsSlider/orangeArrow.png") 0 0 no-repeat;
  }
}

._arrow_prev {
  transform: rotate(-180deg) translate(0, 5px);
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  ._arrow_prev:hover {
    transform: rotate(-180deg) translate(0, 5px);
  }
}

._arrow_next {
  transition: all 0.3s ease 0s;
  transform: translate(0, -5px);
}
@media (min-width: 991.98px) {
  ._arrow_next:hover {
    transform: rotate(0deg) translate(0, -5px);
  }
}

.checkbox {
  position: relative;
}
.checkbox_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox_input:checked + .checkbox_text:before {
  border: 2px solid #009aaf;
}
.checkbox_input:checked + .checkbox_text:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 9px;
  height: 9px;
  background-color: #53b5de;
}
.checkbox_text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  color: #666666;
  line-height: 1.25;
  cursor: pointer;
}
.checkbox_text:before {
  content: "";
  align-self: flex-start;
  margin: 0 14px 0 0;
  flex: 0 0 15px;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  border: 2px solid #dadada;
}

.btn {
  display: inline-flex;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  height: 39px;
  background-color: #f68038;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #b86029;
  }
}
.btn_grey {
  color: #666666;
  background-color: #e6e6e6;
}
@media (min-width: 991.98px) {
  .btn_grey:hover {
    color: #000000;
    background-color: #a1a1a1;
  }
}
.btn._fw {
  width: 100%;
}

.quantity {
  width: 150px;
  height: 33px;
  display: flex;
  align-items: center;
}
.quantity_button {
  flex: 0 0 48px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background: url("../img/product-page/arrow_gray.png") 0 0/70% no-repeat;
  width: 48px;
  height: 34px;
}
@media (min-width: 991.98px) {
  .quantity_button:hover {
    background: url("../img/product-page/arrow_orange.png") 0 0/70% no-repeat;
  }
}
.quantity_button_minus {
  transform: rotate(-180deg);
}
.quantity_input {
  flex: 1 1 auto;
  padding: 0 6px;
  height: 33px;
}
.quantity_input input {
  color: #999999;
  font-size: 16px;
  border: 2px solid #e5e5e5;
  height: 100%;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=common_style.css.map */
