@import "var";

.rub:after {
  content: "₽";
  font-size: inherit;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: $fontFamily;
}

input:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 30px;
  display: block;
  padding: 0 15px;
  &.focus {

  }

  &.error {

  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}

._arrow {
  background: url("../img/icons/productsSlider/blueArrow.png") 0 0 no-repeat;
  width: 83px;
  height: 50px;
  cursor: pointer;

  @media (min-width: $md2+px) {
    &:hover {
      background: url("../img/icons/productsSlider/orangeArrow.png") 0 0 no-repeat;
    }
  }
}

._arrow_prev {
  transform: rotate(-180deg) translate(0, 5px);
  transition: all 0.3s ease 0s;

  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(-180deg) translate(0, 5px);
    }
  }
}

._arrow_next {
  transition: all 0.3s ease 0s;
  transform: translate(0, -5px);

  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(0deg) translate(0, -5px);
    }
  }
}


