@import "var";

.rub:after {
  content: "₽";
  font-size: inherit;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: $fontFamily;
}

input:focus, select:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 30px;
  display: block;
  padding: 0 15px;

  &.focus {

  }

  &.error {

  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}

._arrow {
  background: url("../img/icons/productsSlider/blueArrow.png") 0 0 no-repeat;
  width: 83px;
  height: 50px;
  cursor: pointer;

  @media (min-width: $md2+px) {
    &:hover {
      background: url("../img/icons/productsSlider/orangeArrow.png") 0 0 no-repeat;
    }
  }
}

._arrow_prev {
  transform: rotate(-180deg) translate(0, 5px);
  transition: all 0.3s ease 0s;

  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(-180deg) translate(0, 5px);
    }
  }
}

._arrow_next {
  transition: all 0.3s ease 0s;
  transform: translate(0, -5px);

  @media (min-width: $md2+px) {
    &:hover {
      transform: rotate(0deg) translate(0, -5px);
    }
  }
}

.checkbox {
  position: relative;

  &_input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkbox_text:before {
      //background: #fff url("") center no-repeat;
      border: 2px solid #009aaf;
    }

    //todo: разобраться с чек боксами в выдадающем списке вверху и в боковом меню
    &:checked + .checkbox_text:after {
      content: "";
      position: absolute;
      left: 3px;
      top: 3px;
      width: 9px;
      height: 9px;
      background-color: #53b5de;
    }
  }

  &_text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    color: #666666;
    //letter-spacing: -0.3px;
    line-height: calc(15 / 12);
    cursor: pointer;

    &:before {
      content: "";
      align-self: flex-start;
      margin: 0 14px 0 0;
      flex: 0 0 15px;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background: #FFFFFF;
      border: 2px solid #dadada;
    }
  }
}

.btn {
  display: inline-flex;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  height: 39px;
  background-color: #f68038;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $md2+px) {
    &:hover {
      background-color: #b86029;
    }
  }

  &_grey {
    color: #666666;
    background-color: #e6e6e6;

    @media (min-width: $md2+px) {
      &:hover {
        color: #000000;
        background-color: #a1a1a1;
      }
    }
  }

  &._fw {
    width: 100%;
  }
}

.quantity {
  width: 150px;
  height: 33px;
  display: flex;
  align-items: center;

  &_button {
    flex: 0 0 48px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: url("../img/product-page/arrow_gray.png") 0 0 /70% no-repeat;
    width: 48px;
    height: 34px;

    //&::before,
    //&::after {
    //  content: "";
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  //transition: all 0.3s ease 0s;
    //  //margin: 0 0 0 -4.5px;
    //  //background: url("../img/product-page/arrow-gray.png") 0 0 /100% no-repeat;
    //  //width: 20px;
    //  //height: 17px;
    //}

    @media (min-width: $md2+px) {
      &:hover {
        background: url("../img/product-page/arrow_orange.png") 0 0 /70% no-repeat;
      }
    }

    &_plus {
    }

    &_minus {
      transform: rotate(-180deg);
    }
  }

  &_input {
    flex: 1 1 auto;
    padding: 0 6px;
    height: 33px;

    input {
      color: #999999;
      font-size: 16px;
      border: 2px solid #e5e5e5;
      height: 100%;
      width: 100%;
      text-align: center;
    }
  }
}

// Стилизация select с дропдауном

//.select {
//  position: relative;
//
//  &_item {
//    position: relative;
//    min-width: 166px;
//  }
//
//  &_title {
//    color: #000000;
//    //border: 1px solid #d9d9d9;
//    background-color: #FFFFFF;
//    cursor: pointer;
//    //border-radius: 4px;
//
//    //@media (max-width: $md2+px) {
//    //  font-size: 18px;
//    //}
//  }
//
//  &_value {
//    display: flex;
//    font-size: 14px;
//    color: #0097ac;
//    height: 30px;
//    padding: 0 15px;
//    align-items: center;
//    justify-content: space-between;
//    flex-direction: row-reverse;
//
//    span {
//      height: 1em;
//      overflow: hidden;
//      display: -webkit-box;
//      -webkit-line-clamp: 1;
//      -webkit-box-orient: vertical;
//    }
//
//    &:before {
//      content: "";
//      display: inline-block;
//      transition: all 0.3s ease 0s;
//      width: 11px;
//      height: 7px;
//      background: url("../img/catalog/triangle.png") center / 100% no-repeat;
//    }
//  }
//
//  &_input {
//    width: 100%;
//    background-color: transparent;
//    height: 100%;
//  }
//
//  &_options {
//    color: #000000;
//    display: none;
//    position: absolute;
//    top: 29px;
//    //border-radius: 0 0 4px 4px;
//    min-width: 100%;
//    left: 0;
//    background-color: #FFFFFF;
//    border-top: 0;
//    //border: 1px solid #d9d9d9;
//    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
//    font-size: 14px;
//    padding: 10px 0 5px 0;
//
//    @media (max-width: $md2+px) {
//      font-size: 18px;
//    }
//  }
//}


