.header .color_width {
  background-color: #1ab9ce;
}
.header .top-header_contacts {
  position: relative;
  z-index: 15;
}
.header .top-header_content {
  background: #1ab9ce;
  display: flex;
  align-items: center;
  height: 90px;
}
.header .top-header_column {
  flex: 0 1 calc(50% - 95px);
}
.header .top-header_column_logo {
  position: relative;
  z-index: 15;
  align-self: center;
  flex: 0 0 190px;
  text-align: center;
  padding: 0 0 0 0;
  font-family: Play, sans-serif;
  color: #fff;
  font-size: 13.5px;
}
.header .top-header_column_logo > span > span {
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .header .top-header_column_logo > span > span {
    font-size: 40px;
  }
}
.header .top-header .icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .header .top-header .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 16;
  }
  .header .top-header .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .header .top-header .icon-menu span:first-child {
    top: 0;
  }
  .header .top-header .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .header .top-header .icon-menu._active span {
    transform: scale(0);
    background-color: #fff;
  }
  .header .top-header .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header .top-header .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@media (max-width: 991.98px) {
  .header .top-header .menu_body {
    transition: all 0.5s ease 0s;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 110px 20px 30px 20px;
    z-index: 11;
    background-color: #fff;
  }
  .header .top-header .menu_body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: #1ab9ce;
  }
  .header .top-header .menu_body._active {
    opacity: 1;
    visibility: visible;
  }
}
.header .top-header .menu_list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}
.header .top-header .menu_list li {
  margin: 1px 0;
}
@media (max-width: 1192px) {
  .header .top-header .menu_list {
    grid-template-columns: 90px 130px 160px;
  }
}
@media (max-width: 991.98px) {
  .header .top-header .menu_list {
    display: block;
    padding-top: 30px;
  }
}
.header .top-header .menu_link {
  font-family: Play, sans-serif;
  min-height: 27px;
  white-space: nowrap;
  text-decoration: underline;
  color: #FFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 22px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .header .top-header .menu_link:hover {
    border-radius: 20px;
    background-color: #068292;
  }
}
@media (max-width: 1192px) {
  .header .top-header .menu_link {
    padding: 5px 15px;
  }
}
@media (max-width: 991.98px) {
  .header .top-header .menu_link {
    color: #000;
    font-size: 24px;
    padding: 5px 0;
  }
}
.header .top-header .contacts-header {
  display: flex;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .header .top-header .contacts-header {
    justify-content: flex-end;
  }
}
.header .top-header .contacts-header_column {
  padding: 0 30px;
  border-left: 1px solid #FFF;
}
.header .top-header .contacts-header_column:first-child {
  border: 0;
}
@media (max-width: 1192px) {
  .header .top-header .contacts-header_column {
    padding: 0 15px;
  }
}
@media (max-width: 991.98px) {
  .header .top-header .contacts-header_column:last-child {
    display: none;
  }
}
@media (max-width: 991.98px) and (max-width: 640px) {
  .header .top-header .contacts-header_column {
    padding: 0;
  }
}
.header .top-header .contacts-header_item_icon {
  background: url("../img/icons/header/phone.png") left no-repeat;
  padding: 0 0 0 37px;
}
@media (max-width: 1192px) {
  .header .top-header .contacts-header_item_icon {
    padding: 0 0 0 30px;
  }
}
@media (max-width: 640px) {
  .header .top-header .contacts-header_item_icon {
    background: none;
    padding: 0;
  }
}
.header .top-header .contacts-header_label {
  font-size: 12px;
  font-weight: 300;
  color: #FFF;
}
@media (max-width: 640px) {
  .header .top-header .contacts-header_label {
    font-size: 0;
  }
}
.header .top-header .contacts-header_phone {
  color: #FFF;
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
}
@media (max-width: 1192px) {
  .header .top-header .contacts-header_phone {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .header .top-header .contacts-header_phone {
    font-size: 0;
    background: url("../img/icons/header/phone.png") left no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
}

.bottom-header_container {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: space-between;
}
.bottom-header_column {
  flex: 0 1 calc(50% - 95px);
  transition: all 0.3s ease 0s;
}
.bottom-header_column._active {
  display: block;
  z-index: 15;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 640px) {
  .bottom-header_column {
    visibility: hidden;
    opacity: 0;
  }
}

.actions-header {
  display: flex;
  align-items: center;
}
.actions-header li {
  margin: 0 54px 0 0;
}
@media (max-width: 1180px) {
  .actions-header li {
    margin: 0 2.5423728814vw 0 0;
  }
}
.actions-header_item {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 24px;
  color: #999999;
  transition: color 0.3s;
}
@media (max-width: 1192px) {
  .actions-header_item {
    padding: 0 0 0 30px;
  }
}
@media (max-width: 991.98px) {
  .actions-header_item {
    padding: 0 20px 0 0;
  }
}
@media (min-width: 991.98px) {
  .actions-header_item:hover {
    color: #1ab9ce;
  }
}
.actions-header_login {
  position: relative;
}
.actions-header_login::before {
  position: absolute;
  content: "";
  background: url("../img/icons/header/key.png") 0 0 no-repeat;
  width: 32px;
  height: 30px;
  transform: translate(-35px, -5px);
  opacity: 0.5;
}
@media (max-width: 991.98px) {
  .actions-header_login::before {
    display: none;
  }
}
.actions-header_login span {
  border-bottom: 1px dotted;
}
.actions-header_reg::before {
  position: absolute;
  content: "";
  background: url("../img/icons/header/head.png") 0 0 no-repeat;
  width: 32px;
  height: 30px;
  transform: translate(-30px, -5px);
  opacity: 0.5;
}
@media (max-width: 991.98px) {
  .actions-header_reg::before {
    display: none;
  }
}
.actions-header_reg span {
  border-bottom: 1px dotted;
}
.actions-header_email {
  line-height: 13px;
}
.actions-header_email::before {
  position: absolute;
  content: "";
  background: url("../img/icons/header/message.png") 0 0 no-repeat;
  width: 32px;
  height: 30px;
  transform: translate(-33px, -5px);
  opacity: 0.6;
}
@media (max-width: 991.98px) {
  .actions-header_email::before {
    display: none;
  }
}
.actions-header_email span {
  border-bottom: 1px solid;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header_column {
  padding: 0 54px 0 0;
}
@media (max-width: 1180px) {
  .info-header_column {
    padding: 0 4.5762711864vw 0 0;
  }
}
.info-header_column:last-child {
  padding: 0;
}
.info-header_callback {
  display: inline-block;
  color: #999999;
  transition: color 0.3s;
  line-height: 20px;
  padding: 0 0 0 32px;
  white-space: nowrap;
}
.info-header_callback::before {
  position: absolute;
  content: "";
  background: url("../img/icons/header/phone-gray.png") 0 0 no-repeat;
  width: 32px;
  height: 30px;
  transform: translate(-30px, -5px);
  opacity: 0.6;
}
@media (max-width: 991.98px) {
  .info-header_callback::before {
    display: none;
  }
}
.info-header_callback span {
  border-bottom: 1px dotted;
}
.info-header_callback:hover {
  color: #1ab9ce;
}
.info-header_schedule {
  padding: 0 0 0 37px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #999999;
  white-space: nowrap;
}
.info-header_schedule::before {
  position: absolute;
  content: "";
  background: url("../img/icons/header/calendar.png") 0 0 no-repeat;
  width: 32px;
  height: 30px;
  transform: translate(-40px, 0);
  opacity: 0.6;
}
@media (max-width: 991.98px) {
  .info-header_schedule::before {
    display: none;
  }
}
.info-header_schedule span {
  font-weight: 900;
}
@media (max-width: 1192px) {
  .info-header_schedule {
    padding: 0 15px;
  }
}
@media (max-width: 991.98px) {
  .info-header_schedule {
    display: none;
  }
}
.info-header_cart {
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
}
.info-header_cart img {
  opacity: 0.6;
}
.info-header_cart span {
  padding: 0 11px;
  border-radius: 20px;
  background-color: #f68038;
  position: absolute;
  left: 12px;
  top: -3px;
  line-height: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .info-header_cart span {
    transform: translate(10%, 0);
  }
}

.page {
  flex: 1 1 auto;
}
.page._active {
  display: none;
}
.page_container {
  padding: 0 0 20px 0;
}
@media (min-width: 991.98px) {
  .page_container {
    display: flex;
  }
}
.page_side {
  position: relative;
  z-index: 10;
  flex: 0 0 260px;
}
@media (max-width: 991.98px) {
  .page_side {
    margin: 0 0 30px 0;
  }
}
.page_menu {
  margin: 0 0 40px 0;
}
.page_search {
  margin: 0 0 22px 0;
  position: relative;
  z-index: 5;
}
.page_slider {
  margin: 0 0 65px 0;
}
.page_news-side {
  margin: 0 0 75px 0;
}
.page_news-side:last-child {
  margin: 0 0 0 0;
}
@media (min-width: 991.98px) {
  .page_content {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 0 0 30px;
  }
}
.page_brands {
  margin: 0 0 32px 0;
}
.page_text {
  margin: 0 0 38px 0;
}
.page_info-menu {
  margin: 0 0 38px 0;
}

.breadcrumbs {
  overflow: auto;
  margin: 0 0 20px 0;
  height: 20px;
}
.breadcrumbs_list {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.breadcrumbs_list li {
  padding: 0 20px 0 0;
  margin: 0 10px 0 0;
  background: url("../img/catalog/arrows-spoller.png") right/13px no-repeat;
}
.breadcrumbs_list li:last-child {
  margin: 0;
  background: none;
}
.breadcrumbs_link {
  color: #1ab9ce;
  text-decoration: underline;
}
.breadcrumbs_item {
  color: #999999;
  font-weight: 300;
}

.products-slider_item {
  overflow: hidden;
}

.menu-page {
  background: #1ab9ce;
  position: relative;
}
.menu-page_header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.menu-page_title {
  flex: 1 1 auto;
  color: #FFF;
  font-family: Play, sans-serif;
  font-weight: 700;
  line-height: 116.6666666667%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.menu-page_burger {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background-color: #068292;
  position: relative;
  cursor: pointer;
  z-index: 5;
  padding: 10px 6px;
}
.menu-page_burger span {
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFF;
}
.menu-page_burger span:first-child {
  top: 0;
}
.menu-page_burger span:last-child {
  top: auto;
  bottom: 0;
}
.menu-page_burger._active span {
  transform: scale(0);
}
.menu-page_burger._active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-page_burger._active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.menu-page_lines {
  height: 16px;
  position: relative;
}
.menu-page_body {
  display: none;
}
.menu-page_body._active {
  display: block;
}
.menu-page_list > li {
  border-bottom: 1px solid #1aa7b9;
}
.menu-page_parent .menu-page_link {
  cursor: pointer;
}
.menu-page_parent .menu-page_link::after {
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translate(0, -50%) rotate(-90deg);
  background: url("../img/icons/sideMenu/arrows.png") 0 0 no-repeat;
}
@media (max-width: 991.98px) {
  .menu-page_parent .menu-page_link::after {
    transform: translate(0, -50%);
  }
}
.menu-page_parent._active .menu-page_submenu {
  pointer-events: all;
}
.menu-page_parent._active .submenu-page_item {
  display: block;
}
@media (min-width: 991.98px) {
  .menu-page_parent._active .submenu-page_item {
    z-index: 2;
    transform: translate(0, 0);
  }
}
.menu-page_parent._active .menu-page_link {
  background-color: #098494;
}
@media (max-width: 991.98px) {
  .menu-page_parent._active .menu-page_link::after {
    transform: translate(0, -50%) rotate(180deg);
  }
}
.menu-page_link {
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  display: block;
  padding: 12px 20px;
  position: relative;
}
@media (min-width: 991.98px) {
  .menu-page_link:hover {
    background-color: #098494;
  }
}
@media (max-width: 991.98px) {
  .menu-page_link {
    font-size: 14px;
  }
}
@media (min-width: 991.98px) {
  .menu-page_submenu {
    width: 108%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 100%;
    overflow: hidden;
    pointer-events: none;
  }
}

@media (max-width: 991.98px) {
  .submenu-page {
    background-color: #fff;
  }
}
@media (max-width: md2px) {
  .submenu-page {
    background-color: #fff;
  }
}
.submenu-page_item {
  display: none;
}
@media (min-width: 991.98px) {
  .submenu-page_item {
    display: block;
    width: 280px;
    border: 2px solid #098494;
    background-color: #FFF;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease 0.3s;
  }
}
.submenu-page_menu {
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}
.submenu-page_link {
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  padding: 10px 40px;
  display: block;
}
@media (min-width: 991.98px) {
  .submenu-page_link:hover {
    background-color: #71c7d3;
    color: white;
  }
}
@media (max-width: 991.98px) {
  .submenu-page_link {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.submenu-page_product {
  padding: 0 15px;
}
@media (max-width: 991.98px) {
  .submenu-page_product {
    display: none;
  }
}
.submenu-page_product .item-product {
  border: 0;
}

.items-products {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.items-products_column {
  flex: 0 1 33.333%;
  padding: 0 15px;
  margin: 0 0 30px 0;
}
@media (max-width: 1192px) and (min-width: 991.98px) {
  .items-products_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 840px) {
  .items-products_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 600px) {
  .items-products_column {
    flex: 0 1 100%;
  }
}

.item-product {
  padding: 15px;
  position: relative;
  border: 1px solid #f5f5f5;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.item-product_labels {
  position: absolute;
  left: 15px;
  top: 15px;
}
.item-product_label {
  font-weight: 900;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 0 5px 0;
  padding: 0 15px;
  text-transform: uppercase;
  height: 21px;
  background-color: #fd8424;
}
.item-product_image {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.item-product_image img {
  max-width: 100%;
  max-height: 240px;
}
.item-product_body {
  padding: 0 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.item-product_title {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  margin: 0 0 5px 0;
  flex: 1 1 auto;
  transition: all 0.3s ease 0s;
}
.item-product_title span {
  display: block;
  font-weight: 900;
}
@media (min-width: 991.98px) {
  .item-product_title:hover {
    text-decoration: underline;
  }
}
.item-product_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.item-product_old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
}
.item-product_old-price::after {
  font-size: 14px;
}
.item-product_bottom {
  display: flex;
}
.item-product_add {
  width: 40px;
  height: 40px;
  background: url("../img/icons/shoppingBasket.png") 0 0 no-repeat;
  opacity: 0.6;
}
.item-product_price {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
}
.item-product_price::after {
  font-size: 18px;
}
.item-product_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease 0s;
  transform: translate(-110%, 0);
}
@media (min-width: 991.98px) {
  .item-product:hover .item-product_hover {
    transform: translate(0, 0);
  }
  .item-product:hover .item-product_title,
  .item-product:hover .item-product_footer {
    opacity: 0;
  }
}

.hover-item-product {
  background-color: rgba(0, 0, 0, 0.84);
  border: 5px solid #f68038;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.hover-item-product_title {
  font-size: 16px;
  color: #c2c2c2;
  font-weight: 300;
  margin: 0 0 25px 0;
}
.hover-item-product_title span {
  display: block;
  color: #ffffff;
  font-weight: 900;
  margin: 0 0 5px 0;
}
.hover-item-product_body {
  flex: 1 1 auto;
}
.hover-item-product_cart {
  background: url("../img/icons/orangeBucket.png") 0 0 no-repeat;
  width: 57px;
  height: 57px;
  margin: 0 auto 25px auto;
  cursor: pointer;
  display: block;
}
.hover-item-product_cart_catalog {
  margin: 0;
}
.hover-item-product_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hover-item-product_old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 10px 0;
  text-decoration: line-through;
}
.hover-item-product_old-price::after {
  font-size: 14px;
}
.hover-item-product_stock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: #f68038;
  font-weight: 400;
  height: 21px;
  background-color: #ffffff;
  border-radius: 15px;
  line-height: 16px;
}
.hover-item-product_price {
  font-size: 24px;
  font-weight: 900;
}
.hover-item-product_price::after {
  font-size: 18px;
}
.hover-item-product_compare {
  background: url("../img/catalog/compare.png") left no-repeat;
  padding: 0 0 0 33px;
  display: inline-block;
  line-height: 21px;
  color: #FFFFFF;
}
.hover-item-product_compare span {
  font-weight: 300;
  border-bottom: 1px dashed;
}

.options-item-product_item {
  margin: 0 0 10px 0;
}
.options-item-product_label {
  margin: 0 0 3px 0;
}
.options-item-product_value {
  color: #f68038;
  font-weight: 900;
}

.search-page {
  display: flex;
  position: relative;
}
.search-page_select {
  display: flex;
  align-items: center;
  padding: 0 14px;
  background-color: #f3f3f3;
}
@media (max-width: 767.98px) {
  .search-page_select {
    display: none;
  }
}
.search-page_title {
  color: #666666;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-page_title span {
  border-bottom: 1px dashed;
  margin: 0 13px;
}
.search-page_title span:last-child {
  display: none;
}
.search-page_title::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("../img/searchField/magnifying.png") 0 0 no-repeat;
  opacity: 0.6;
}
.search-page_title::after {
  transition: all 0.3s ease 0s;
  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/searchField/searchArrows.png");
  transform: rotate(-270deg);
  opacity: 0.6;
}
.search-page_title._categories span {
  display: none;
}
.search-page_title._categories span:last-child {
  display: block;
}
.search-page_title._active::after {
  transform: rotate(-90deg);
}
.search-page_categories {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.search-page_input {
  border: 2px solid #f2f2f2;
  flex: 1 1 auto;
}
.search-page_input input {
  height: 100%;
  width: 100%;
  padding: 0 15px;
}
.search-page .btn {
  display: inline-flex;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: #f68038;
  transition: all 0.3s ease 0s;
  color: #FFF;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 992px) {
  .search-page .btn:hover {
    background-color: #b86029;
  }
}
.search-page .btn._fw {
  width: 100%;
}

.categories-search {
  transition: height 0.3s, opacity 0.3s;
  border: 1px solid #f3f3f3;
  background-color: #FFF;
  display: none;
}
.categories-search::after {
  content: "";
  background-color: #f68038;
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
@media (min-width: 767.98px) {
  .categories-search_row {
    display: flex;
  }
}
@media (max-width: 991.98px) {
  .categories-search_row {
    padding: 20px 0;
  }
}
.categories-search_column {
  flex: 0 1 33.333%;
  padding: 27px 40px;
  border-right: 1px solid #f3f3f3;
}
.categories-search_column:last-child {
  border: 0;
}
@media (max-width: 1192px) {
  .categories-search_column {
    padding: 27px 20px;
  }
}
@media (max-width: 767.98px) {
  .categories-search_column {
    padding: 10px 20px;
    margin: 0 0 20px 0;
  }
  .categories-search_column:last-child {
    margin: 0 0 0 0;
  }
}
.categories-search_list li {
  margin: 0 0 20px 0;
}
.categories-search_list li:last-child {
  margin: 0 0 0 0;
}
.categories-search_checkbox .checkbox_input {
  display: none;
}
.categories-search_checkbox .checkbox_input:checked + .checkbox_text {
  color: #f68038;
}
.categories-search_checkbox .checkbox_text {
  color: #666666;
  cursor: pointer;
}
.categories-search_checkbox .checkbox_text::before {
  display: none;
}
.categories-search_link {
  color: #999999;
}

.side-title {
  color: #dadada;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
@media (min-width: 991.98px) {
  .side-title:hover {
    color: #1ab9ce;
  }
}

.news-side_title {
  display: inline-block;
  margin: 0 0 0.8333333333em 0;
}
.news-side_item {
  margin: 0 0 45px 0;
}
.news-side_item:last-child {
  margin: 0 0 0 0;
}
.news-side_label {
  color: #333333;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 1.6666666667em 0;
  display: inline-block;
}
@media (min-width: 991.98px) {
  .news-side_label:hover {
    color: #fd8322;
  }
}
.news-side_body {
  display: flex;
}
.news-side_data {
  flex: 0 0 30px;
  text-align: center;
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 300;
}
.news-side_data span {
  font-size: 24px;
  font-weight: 900;
  display: block;
}
.news-side_text {
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  padding: 0 0 0 15px;
}

.reviews-side_item {
  margin: 0 0 45px 0;
  display: block;
}
.reviews-side_item:last-child {
  margin: 0 0 0 0;
}
@media (min-width: 991.98px) {
  .reviews-side_item:hover .reviews-side_user,
  .reviews-side_item:hover .reviews-side_data {
    color: #1ab9ce;
  }
  .reviews-side_item:hover .reviews-side_body {
    background-color: #1ab9ce;
    color: #fff;
  }
  .reviews-side_item:hover .reviews-side_body::before {
    color: #64deee;
  }
}
.reviews-side_title {
  display: inline-block;
  margin: 0 0 0.8333333333em 0;
}
.reviews-side_header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
.reviews-side_user {
  color: #333333;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 991.98px) {
  .reviews-side_user:hover {
    color: #1ab9ce;
  }
}
.reviews-side_data {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
}
.reviews-side_body {
  position: relative;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  padding: 14px 8px 14px 30px;
}
.reviews-side_body::before {
  content: ' " ';
  color: #dadada;
  font-size: 48px;
  font-weight: 900;
  position: absolute;
  left: 8px;
  top: 12px;
  line-height: 1;
}

@media (max-width: 991.98px) {
  .pag_content-side-top {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .pag_content-side-bottom {
    display: none;
  }
}

.info-menu {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  padding: 10px 0;
}
.info-menu_body {
  display: inline-block;
}
@media (max-width: 767.98px) {
  .info-menu_body {
    display: flex;
  }
}
.info-menu_line {
  display: flex;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #b0b0b0;
}
.info-menu_line:last-child {
  border: 0;
}
@media (max-width: 767.98px) {
  .info-menu_line {
    display: block;
    flex: 0 1 50%;
    border: 0;
  }
}
.info-menu_label {
  color: #333333;
  font-weight: 900;
  margin: 0 35px 0 0;
}
@media (max-width: 767.98px) {
  .info-menu_label {
    margin: 0 0 10px 0;
  }
}
@media (min-width: 767.98px) {
  .info-menu_list {
    display: flex;
    align-items: center;
  }
}
.info-menu_list li {
  margin: 0 30px 0 0;
}
@media (max-width: 767.98px) {
  .info-menu_list li {
    margin: 0 0 10px 0;
  }
  .info-menu_list li:last-child {
    margin: 0 0 0 0;
  }
}
.info-menu_link {
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .info-menu_link:hover {
    color: #333333;
  }
}

/*# sourceMappingURL=page.css.map */
