@import "var";

.product {
  &_body {

  }

  &_title {
    margin: 0 0 18px 0;
    color: #333333;
    font-size: 36px;
    font-family: Play, sans-serif;
    text-transform: uppercase;

    span {
      display: block;
      font-size: 30px;
      color: #dadada;
    }
  }

  &_content {
    margin: 0 0 35px 0;
    @media (min-width: 700px) {
      display: flex;
    }
  }

  &_images {
    flex: 0 0 360px;
    min-width: 0;
    overflow: hidden;

    @media (max-width: $md1+px) {
      flex: 0 0 330px;
    }

    @media (max-width: 700px) {
      margin: 0 0 30px 0;
    }
  }

  &_body {
    flex: 1 1 auto;

    @media (min-width: 700px) {
      padding: 0 0 0 39px;
    }
  }

  &_info {
    margin: 0 0 70px 0;

    @media (max-width: $md3+px) {
      margin: 0 -10px 30px -10px;
    }
  }

  &_same {

  }
}

.images-product {
  //max-height: 308px;
  //max-width: 359px;
  //357 308
  // 214 241

  &_mainslider {

  }

  &_mainslide {
    //height: 308px !important;
    //width: 357px !important;
    border: 1px solid #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &_sale {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    top: 16px;
    left: 20px;
    width: 58px;
    height: 58px;
    background-color: #f65738;
    //img {
    //  max-width: 100%;
    //}
  }

  &_image {
    //padding: 65px 90px 65px 90px; 355 310
    padding: 18% 33% 18% 21%;
  }
}

.images-product {

  &_mainslider {
    margin: 0 0 13px 0;
  }

  &_slider {
  }

  &_subslide {
    cursor: pointer;

    &.swiper-slide-thumb-active {
      .images-product_subimage {
        border: 1px solid #f68038;

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &_subimage {
    transition: all 0.5s ease 0s;
    border: 1px solid #e4e4e4;
    padding: 7% 0 18% 0;
    display: flex;
    justify-content: center;

    &::after {
      content: "";
      transition: all 0.5s ease 0s;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 3px solid #f68038;
    }
  }
}

.body-product {

  &_top {
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 12px 0;
  }

  &_compare {
    z-index: 1;
    border-radius: 25px;
    min-height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: #f3f3f3;
    font-weight: 900;
    color: #666666;
    text-transform: uppercase;

    span {
      background: url("../img/product-page/compare-black.png") left no-repeat;
      padding: 0 0 0 30px;
      line-height: 21px;
    }
  }

  &_stock {
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f68038;
    color: #FFFFFF;
    padding: 0 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 900;
  }

  &_actions {
    margin: 0 0 22px 0;
  }

  &_include {
  }
}

.actions-product {
  border-bottom: 1px solid #ededed;
  padding: 30px 0;

  &_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
    flex-wrap: wrap;
  }

  &_column {
    padding: 0 15px;
    @media (max-width: $md1+px) {
      padding: 12px;

      &:last-child {
        flex: 1 1 100%;
      }
    }
  }

  &_price {
    white-space: nowrap;
    color: #333333;
    font-size: 24px;
    font-weight: 900;

    &::after {
      font-size: 18px;
    }

    &_old {
      color: #999999;
      font-size: 18px;
      font-weight: 300;
      text-decoration: line-through;
      margin: 0 0 5px 0;

      &::after {
        font-size: 14px;
      }
    }
  }

  &_cart {
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 57px;
    padding: 0 38px 0 0;
    position: relative;

    &::after {
      content: "";
      background: url("../img/icons/orangeBucket.png") right no-repeat;
      width: 57px;
      height: 57px;
      position: absolute;
      right: 0;
      top: 0;
    }

    span {
      margin: 5px 0 0 0;
      padding: 0 18px;
      height: 24px;
      display: flex;
      flex: 1 1 100%;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: #999999;
      font-weight: 900;
      border-radius: 15px;
      background-color: #f3f3f3;
      white-space: nowrap;

      @media (max-width: $md1+px) {
        margin: 15px 0 0 0;
        border-radius: 0;
      }
    }
  }
}

.include-product {
  border-bottom: 1px solid #ededed;

  &_title {
    font-weight: 900;
    color: #333333;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }

  &_items {
    display: inline-flex;
  }

  &_item {
    text-align: center;
    flex: 0 1 33.333%;
    margin: 0 30px 13px 0;

    &:last-child {
      margin: 0 0 0 0;
    }
  }

  &_icon {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
  }

  &_text {
    display: inline-block;
    max-width: 100px;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
  }
}

.info-product {

  &_nav {
    display: flex;
    align-items: center;
  }

  &_item {
    cursor: pointer;
    height: 49px;
    color: #72c9d4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 30px;

    span {
      border-bottom: 1px dashed;
    }

    &._active {
      background-color: #72c9d4;
      color: #FFFFFF;

      span {
        border-bottom: 1px dashed transparent;
      }
    }

    @media (max-width: $md3+px) {
      flex: 1 1 auto;
      padding: 0 15px;
      span {
        font-size: 12px;
      }
    }
  }

  &_body {
    background-color: #fafafa;
    padding: 35px 30px;
    @media (max-width: $md3+px) {
      padding: 25px 15px;
    }
  }

  &_block {
    p {
      color: #666666;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0 0 0 0;
      }
    }
  }

  .descriptionTabText {
    display: none;

    &._active {
      display: block;
    }
  }

  .characteristicsTabText {
    display: none;

    &._active {
      display: block;
    }
  }

  &_table {
    border-collapse: collapse;
    width: 100%;

    tr {
      border-bottom: 1px solid #e2e2e2;
    }

    td {
      padding: 15px 0;
      width: 50%;
      color: #333333;
    }
  }

  &_value {
    font-weight: 300;

    @media (max-width: $md3+px) {
      font-size: 12px;
    }
  }

  &_label {
    @media (max-width: $md3+px) {
      font-size: 12px;
    }
  }
}

.same-products {

  &_title {
    text-transform: uppercase;
    font-weight: 900;
    color: #dadada;
    font-size: 30px;
    margin: 0 0 10px 0;
  }
}

.title-checkout {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 900;
  color: #dadada;
  font-family: Play, sans-serif;
}

.checkout {

  &_title {
    margin: 0 0 15px 0;
  }
}

.order-checkout {

  &_title {
    margin: 0 0 15px 0;
  }

  &_item {
  }
}

.item-order {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #f5f5f5;

  &_content {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }

  &_image {
    flex: 0 0 110px;
    img {
      max-width: 100%;
    }
  }

  &_body {
    flex: 1 1 auto;
    padding: 0 0 0 45px;
  }

  &_title {
    color: #36949f;
    line-height: 16px;
    display: inline-block;
    margin: 0 0 10px 0;
    span {
      font-weight: 900;
    }
  }

  &_price {
    color: #333333;
    font-size: 24px;
    font-weight: 900;
  }

  &_quantity {
    flex: 1 1 auto;
    padding: 0 30px;
  }

  &_label {
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 5px 0;
  }

  &_total {
    flex: 1 1 auto;

  }
}

// Адаптивная верстка интернет-магазина с нуля. Часть #5. GULP SCSS JS 1:43:17