// 1. вложенность
// 2. неотображаемое в браузере комментирвоание
// 3. @import "styleCBS.scss" - импорт css из другого файла
// 4. переменные
// 5. @extend %tplFlexStyle - использование шаблона
// 6. @include draft(18px) - использование миксина
// 7. математические формулы: width: 300px / 960px *100%;

// Переменные
$fontFamilyRubik: Rubik, sans-serif;
$fontFamilyMontserrat: Montserrat, sans-serif;
$colorWhite: #FFFF;
$colorGray: rgb(74, 77, 74);
$colorOrange: #FFAF37;
$colorBlue: #001569;
$boxShadow: 0 4px 20px 0 #00000040;
$backgroundTransition: background-color 0.5s;
//-----------------------------------------------

// Шаблоны
%tplFlexAndSpace {
  display: flex;
  justify-content: space-between;
}

%tplFlexAndColumn {
  display: flex;
  flex-direction: column;
}

//-----------------------------------------------

// Миксины
@mixin backgroundImage($color, $percent) {
  background-image: linear-gradient(to right, $color $percent, transparent 0);
}

@mixin flexAndAlign($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin heightAndWidth($height, $width) {
  height: $height;
  width: $width;
}

@mixin topAndLeft($top, $left) {
  top: $top;
  left: $left;
}

//-----------------------------------------------

// Стили повторяющихся элементов
button {
  background-color: $colorOrange;
  color: $colorWhite;
  cursor: pointer;
  font-size: 18px;
  font-family: $fontFamilyRubik;
  border: none;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: $backgroundTransition, color 0.5s;

  &:hover {
    background-color: $colorBlue;
    color: $colorOrange;
  }
}

input {
  cursor: text;
  font-size: 18px;
  padding-left: 20px;
  color: $colorGray;
  font-family: $fontFamilyRubik;

  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    border: 1px solid $colorBlue;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    outline: none;
  }
}

.close {
  margin: 10px 10px auto auto;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
}

.close:hover {
  color: $colorBlue;
  text-decoration: none;
  cursor: pointer;
}

.toolTipOne, .toolTipTwo, .toolTipThree,
.toolTipFour, .toolTypeBavBarOne,
.toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive,
.toolTypeBavBarSix {
  @include flexAndAlign(center, center);
  display: none;
  position: absolute;
  text-align: left;
  color: $colorGray;
  border-radius: 10px;
  background-color: $colorWhite;
  box-shadow: $boxShadow;
  z-index: 500;
  animation: fadeIn 0.4s ease-in-out;
  font-size: 12px;
  line-height: 17px;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.toolTipOne::after, .toolTipTwo::after,
.toolTipThree::after, .toolTipFour::after,
.toolTypeBavBarOne::after, .toolTypeBavBarTwo::after,
.toolTypeBavBarThree::after, .toolTypeBavBarFour::after,
.toolTypeBavBarFive::after, .toolTypeBavBarSix::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: $colorWhite transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.boldText {
  font-weight: 700;
}

.toolTipOne {
  @include heightAndWidth(120px, 240px);
  @include topAndLeft(43px, 0);
  padding-left: 5px;
}

.toolTipTwo {
  @include heightAndWidth(120px, 346px);
  @include topAndLeft(43px, 0);
  padding-left: 15px;
}

.toolTipThree {
  @include heightAndWidth(120px, 369px);
  @include topAndLeft(43px, 11px);
  padding-left: 12px;
}

.toolTipFour {
  @include heightAndWidth(120px, 106px);
  @include topAndLeft(43px, 14px);
  text-align: center;
  padding-left: 7px;
}

.toolTypeBavBarOne {
  @include heightAndWidth(120px, 100px);
  @include topAndLeft(43px, 14px);
}

.toolTypeBavBarTwo {
  @include heightAndWidth(120px, 100px);
  @include topAndLeft(43px, 14px);
}

.toolTypeBavBarThree {
  @include heightAndWidth(120px, 100px);
  @include topAndLeft(43px, 14px);
}

.toolTypeBavBarFour {
  @include heightAndWidth(120px, 100px);
  @include topAndLeft(43px, 14px);
}

.toolTypeBavBarFive {
  @include heightAndWidth(120px, 100px);
  @include topAndLeft(43px, 14px);
}

.toolTypeBavBarSix {
  @include heightAndWidth(120px, 100px);
  @include topAndLeft(43px, 14px);
}