@media (min-width: 991.98px) {
  .footer_body {
    display: flex;
    margin: 0 -15px;
  }
}
.footer_column {
  margin: 0 0 25px 0;
}
@media (min-width: 991.98px) {
  .footer_column {
    padding: 0 15px;
    flex: 0 1 50%;
  }
}
.footer_column:first-child {
  display: flex;
  flex-direction: column;
}
.footer_widgets {
  display: flex;
}
.footer_bottom {
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #dadada;
  text-align: center;
}
@media (min-width: 560px) {
  .footer_bottom {
    display: flex;
    text-align: left;
  }
}
.footer_copy {
  flex: 1 1 auto;
  color: #999999;
  font-size: 12px;
  font-weight: 300;
}
@media (max-width: 560px) {
  .footer_copy {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 560px) {
  .footer_payments {
    text-align: center;
  }
  .footer_payments img {
    max-width: 100%;
  }
}

.block-footer {
  padding: 0 0 20px 0;
  text-align: center;
}
@media (min-width: 560px) {
  .block-footer {
    text-align: left;
    display: flex;
    flex: 1 1 auto;
  }
}
.block-footer_column:first-child {
  flex: 0 0 165px;
}
.block-footer_column:last-child {
  flex: 1 1 auto;
}
@media (min-width: 560px) {
  .block-footer_column:last-child {
    padding: 0 0 0 45px;
  }
}
.block-footer_phones {
  padding: 0 0 0 15px;
}
@media (min-width: 560px) {
  .block-footer_phones {
    padding: 0 0 0 30px;
    background: url("../img/icons/footer/footer-phone/footer-phone.png") left no-repeat;
  }
}
.block-footer_phones p {
  margin: 0 0 10px 0;
}
.block-footer_phones p:last-child {
  margin: 0 0 0 0;
}
@media (max-width: 560px) {
  .block-footer_phones {
    margin: 0 0 30px 0;
  }
}
.block-footer_phone {
  color: #333333;
  font-weight: 900;
}
@media (max-width: 560px) {
  .block-footer_phone {
    font-size: 18px;
  }
}

.logo-footer {
  display: inline-block;
  margin: 0 0 30px 0;
}

@media (max-width: 560px) {
  .delivery-footer {
    text-align: center;
  }
}
.delivery-footer_title {
  color: #999999;
  font-size: 14px;
  font-weight: 900;
  font-family: Play, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin: 0 0 10px 0;
}
.delivery-footer_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px;
}
@media (max-width: 560px) {
  .delivery-footer_items {
    justify-content: center;
  }
}
.delivery-footer_item {
  filter: grayscale(1);
  padding: 0 9px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.delivery-footer_item:hover {
  filter: grayscale(0);
}

.widgets-footer {
  display: flex;
  margin: 0 -15px;
}
@media (min-width: 991.98px) {
  .widgets-footer {
    justify-content: flex-end;
  }
}
@media (max-width: 560px) {
  .widgets-footer {
    display: block;
    text-align: center;
  }
}
.widgets-footer_column {
  padding: 0 15px;
}
.widgets-footer_column img {
  max-width: 100%;
}

.social-footer {
  display: flex;
  align-items: center;
}
.social-footer_item {
  margin: 0 0 0 10px;
}
@media (max-width: 560px) {
  .social-footer {
    justify-content: center;
  }
  .social-footer_item {
    margin: 0 5px;
  }
}

/*# sourceMappingURL=footer.css.map */
