.product_title {
  margin: 0 0 18px 0;
  color: #333333;
  font-size: 36px;
  font-family: Play, sans-serif;
  text-transform: uppercase;
}
.product_title span {
  display: block;
  font-size: 30px;
  color: #dadada;
}
.product_content {
  margin: 0 0 35px 0;
}
@media (min-width: 700px) {
  .product_content {
    display: flex;
  }
}
.product_images {
  flex: 0 0 360px;
  min-width: 0;
  overflow: hidden;
}
@media (max-width: 1192px) {
  .product_images {
    flex: 0 0 330px;
  }
}
@media (max-width: 700px) {
  .product_images {
    margin: 0 0 30px 0;
  }
}
.product_body {
  flex: 1 1 auto;
}
@media (min-width: 700px) {
  .product_body {
    padding: 0 0 0 39px;
  }
}
.product_info {
  margin: 0 0 70px 0;
}
@media (max-width: 767.98px) {
  .product_info {
    margin: 0 -10px 30px -10px;
  }
}
.images-product_mainslide {
  border: 1px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.images-product_sale {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  top: 16px;
  left: 20px;
  width: 58px;
  height: 58px;
  background-color: #f65738;
}
.images-product_image {
  padding: 18% 33% 18% 21%;
}

.images-product_mainslider {
  margin: 0 0 13px 0;
}
.images-product_subslide {
  cursor: pointer;
}
.images-product_subslide.swiper-slide-thumb-active .images-product_subimage {
  border: 1px solid #f68038;
}
.images-product_subslide.swiper-slide-thumb-active .images-product_subimage::after {
  opacity: 1;
}
.images-product_subimage {
  transition: all 0.5s ease 0s;
  border: 1px solid #e4e4e4;
  padding: 7% 0 18% 0;
  display: flex;
  justify-content: center;
}
.images-product_subimage::after {
  content: "";
  transition: all 0.5s ease 0s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #f68038;
}

.body-product_top {
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 12px 0;
}
.body-product_compare {
  z-index: 1;
  border-radius: 25px;
  min-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: #f3f3f3;
  font-weight: 900;
  color: #666666;
  text-transform: uppercase;
}
.body-product_compare span {
  background: url("../img/product-page/compare-black.png") left no-repeat;
  padding: 0 0 0 30px;
  line-height: 21px;
}
.body-product_stock {
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f68038;
  color: #FFFFFF;
  padding: 0 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 900;
}
.body-product_actions {
  margin: 0 0 22px 0;
}
.actions-product {
  border-bottom: 1px solid #ededed;
  padding: 30px 0;
}
.actions-product_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.actions-product_column {
  padding: 0 15px;
}
@media (max-width: 1192px) {
  .actions-product_column {
    padding: 12px;
  }
  .actions-product_column:last-child {
    flex: 1 1 100%;
  }
}
.actions-product_price {
  white-space: nowrap;
  color: #333333;
  font-size: 24px;
  font-weight: 900;
}
.actions-product_price::after {
  font-size: 18px;
}
.actions-product_price_old {
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  margin: 0 0 5px 0;
}
.actions-product_price_old::after {
  font-size: 14px;
}
.actions-product_cart {
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 57px;
  padding: 0 38px 0 0;
  position: relative;
}
.actions-product_cart::after {
  content: "";
  background: url("../img/icons/orangeBucket.png") right no-repeat;
  width: 57px;
  height: 57px;
  position: absolute;
  right: 0;
  top: 0;
}
.actions-product_cart span {
  margin: 5px 0 0 0;
  padding: 0 18px;
  height: 24px;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #999999;
  font-weight: 900;
  border-radius: 15px;
  background-color: #f3f3f3;
  white-space: nowrap;
}
@media (max-width: 1192px) {
  .actions-product_cart span {
    margin: 15px 0 0 0;
    border-radius: 0;
  }
}

.include-product {
  border-bottom: 1px solid #ededed;
}
.include-product_title {
  font-weight: 900;
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.include-product_items {
  display: inline-flex;
}
.include-product_item {
  text-align: center;
  flex: 0 1 33.333%;
  margin: 0 30px 13px 0;
}
.include-product_item:last-child {
  margin: 0 0 0 0;
}
.include-product_icon {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
}
.include-product_text {
  display: inline-block;
  max-width: 100px;
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.info-product_nav {
  display: flex;
  align-items: center;
}
.info-product_item {
  cursor: pointer;
  height: 49px;
  color: #72c9d4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 30px;
}
.info-product_item span {
  border-bottom: 1px dashed;
}
.info-product_item._active {
  background-color: #72c9d4;
  color: #FFFFFF;
}
.info-product_item._active span {
  border-bottom: 1px dashed transparent;
}
@media (max-width: 767.98px) {
  .info-product_item {
    flex: 1 1 auto;
    padding: 0 15px;
  }
  .info-product_item span {
    font-size: 12px;
  }
}
.info-product_body {
  background-color: #fafafa;
  padding: 35px 30px;
}
@media (max-width: 767.98px) {
  .info-product_body {
    padding: 25px 15px;
  }
}
.info-product_block {
  display: none;
}
.info-product_block p {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 20px 0;
}
.info-product_block p:last-child {
  margin: 0 0 0 0;
}
.info-product_block._active {
  display: block;
}
.info-product_table {
  border-collapse: collapse;
  width: 100%;
}
.info-product_table tr {
  border-bottom: 1px solid #e2e2e2;
}
.info-product_table td {
  padding: 15px 0;
  width: 50%;
  color: #333333;
}
.info-product_value {
  font-weight: 300;
}
@media (max-width: 767.98px) {
  .info-product_value {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .info-product_label {
    font-size: 12px;
  }
}

.same-products_title {
  text-transform: uppercase;
  font-weight: 900;
  color: #dadada;
  font-size: 30px;
  margin: 0 0 10px 0;
}

/*# sourceMappingURL=product.css.map */
