// ------------------------------
$fontFamily: "Roboto";

$maxWidth: 1400px;

$maxWidthContainer: 1180px;


// ------------------------------
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}


