@import "var_style";


.header {

  .color_width {
    background-color: #1ab9ce;
  }

  .top-header {

    &_content {
      background: #1ab9ce;
      display: flex;
      align-items: center;
      height: 90px;
    }

    &_column {
      flex: 0 1 50%;

      &_logo {
        align-self: center;
        flex: 0 0 190px;
        text-align: center;
        padding: 0 0 0 0;
        font-family: Play, sans-serif;
        color: #FFFFFF;
        font-size: 13.5px;

        & > span > span {
          font-size: 50px;
          font-weight: 700;
        }
      }
    }

    .menu {
      &_list {
        display: grid;
        grid-template-columns: 110px 130px 180px;

        li {
          margin: 1px 0;
        }
      }

      &_link {
        font-family: Play, sans-serif;
        min-height: 27px;
        white-space: nowrap;
        text-decoration: underline;
        color: #FFF;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 22px;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px) {
          &:hover {
            border-radius: 20px;
            background-color: #068292;
          }
        }
      }
    }

    .contacts-header {
      display: flex;
      justify-content: center;

      &_column {
        padding: 0 30px;
        border-right: 1px solid #FFF;

        &:last-child {
          border: 0;
        }
      }

      &_label {
        font-size: 12px;
        font-weight: 300;
        color: #FFF;
      }

      &_phone {
        color: #FFF;
        font-size: 18px;
        font-weight: 900;
        white-space: nowrap;
      }
    }
  }
}

.bottom-header {

  &_container {
    display: flex;
    height: 63px;
    align-items: center;
    justify-content: space-between;
  }

  &_column {
    flex: 0 1 calc(50% - 95px);
  }
}

.actions-header {
  display: flex;
  align-items: center;

li {
  margin: 0 54px 0 0 ;
  
  @media (max-width: $maxWidthContainer +px) {
    margin: 0 54 / $maxWidthContainer * 100vw 0 0 ;
  }
}

  &_login {
    padding: 0 0 0 36px;
    display: inline-block;
    line-height: 24px;
    color: #999999;
    transition: color 0.3s;
    span {
      border-bottom: 1px dotted;
    }
    &:hover {
      color: #1ab9ce;
    }
  }

  &_reg {
    padding: 0 0 0 36px;
    display: inline-block;
    line-height: 24px;
    color: #999999;
    transition: color 0.3s;
    span {
      border-bottom: 1px dotted;
    }
    &:hover {
      color: #1ab9ce;
    }
  }

  &_email {
    padding: 0 0 0 36px;
    display: inline-block;
    line-height: 13px;
    color: #999999;
    transition: color 0.3s;
    span {
      border-bottom: 1px dotted;
    }
    &:hover {
      color: #1ab9ce;
    }
  }
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;

  &_column {
    padding: 0 54px 0 0;

    @media (max-width: $maxWidthContainer +px) {
      padding: 0 54 / $maxWidthContainer * 100vw 0 0 ;
    }
    &:last-child {
      padding: 0;
    }
  }

  &_callback {
    display: inline-block;
    color: #999999;
    transition: color 0.3s;
    line-height: 20px;
    padding: 0 0 0 32px;
    span {
      border-bottom: 1px dotted;
    }
    &:hover {
      color: #1ab9ce;
    }
  }

  &_schedule {
    padding: 0 0 0 37px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #999999;
    span {
      font-weight: 900;
    }
  }

  &_cart {
    width: 43px;
    height: 43px;
    display: inline-block;
    position: relative;
    span {
      padding: 0 11px;
      border-radius: 20px;
      background-color: #f68038;
      position: absolute;
      right: 0;
      top: -3px;
      line-height: 25px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;

      @media (min-width: 1200px) {
        transform: translate(60%, 0);
      }
    }
  }
}


