ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto";
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}

.header .color_width {
  background-color: #1ab9ce;
}
.header .top-header_content {
  background: #1ab9ce;
  display: flex;
  align-items: center;
  height: 90px;
}
.header .top-header_column {
  flex: 0 1 50%;
}
.header .top-header_column_logo {
  align-self: center;
  flex: 0 0 190px;
  text-align: center;
  padding: 0 0 0 0;
  font-family: Play, sans-serif;
  color: #FFFFFF;
  font-size: 13.5px;
}
.header .top-header_column_logo > span > span {
  font-size: 50px;
  font-weight: 700;
}
.header .top-header .menu_list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}
.header .top-header .menu_list li {
  margin: 1px 0;
}
.header .top-header .menu_link {
  font-family: Play, sans-serif;
  min-height: 27px;
  white-space: nowrap;
  text-decoration: underline;
  color: #FFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 320px) {
  .header .top-header .menu_link:hover {
    border-radius: 20px;
    background-color: #068292;
  }
}
.header .top-header .contacts-header {
  display: flex;
  justify-content: center;
}
.header .top-header .contacts-header_column {
  padding: 0 30px;
  border-right: 1px solid #FFF;
}
.header .top-header .contacts-header_column:last-child {
  border: 0;
}
.header .top-header .contacts-header_label {
  font-size: 12px;
  font-weight: 300;
  color: #FFF;
}
.header .top-header .contacts-header_phone {
  color: #FFF;
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
}

.bottom-header_container {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: space-between;
}
.bottom-header_column {
  flex: 0 1 calc(50% - 95px);
}

.actions-header {
  display: flex;
  align-items: center;
}
.actions-header li {
  margin: 0 54px 0 0;
}
@media (max-width: 1180px) {
  .actions-header li {
    margin: 0 4.5762711864vw 0 0;
  }
}
.actions-header_login {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 24px;
  color: #999999;
  transition: color 0.3s;
}
.actions-header_login span {
  border-bottom: 1px dotted;
}
.actions-header_login:hover {
  color: #1ab9ce;
}
.actions-header_reg {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 24px;
  color: #999999;
  transition: color 0.3s;
}
.actions-header_reg span {
  border-bottom: 1px dotted;
}
.actions-header_reg:hover {
  color: #1ab9ce;
}
.actions-header_email {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 13px;
  color: #999999;
  transition: color 0.3s;
}
.actions-header_email span {
  border-bottom: 1px dotted;
}
.actions-header_email:hover {
  color: #1ab9ce;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header_column {
  padding: 0 54px 0 0;
}
@media (max-width: 1180px) {
  .info-header_column {
    padding: 0 4.5762711864vw 0 0;
  }
}
.info-header_column:last-child {
  padding: 0;
}
.info-header_callback {
  display: inline-block;
  color: #999999;
  transition: color 0.3s;
  line-height: 20px;
  padding: 0 0 0 32px;
}
.info-header_callback span {
  border-bottom: 1px dotted;
}
.info-header_callback:hover {
  color: #1ab9ce;
}
.info-header_schedule {
  padding: 0 0 0 37px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #999999;
}
.info-header_schedule span {
  font-weight: 900;
}
.info-header_cart {
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
}
.info-header_cart span {
  padding: 0 11px;
  border-radius: 20px;
  background-color: #f68038;
  position: absolute;
  right: 0;
  top: -3px;
  line-height: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .info-header_cart span {
    transform: translate(60%, 0);
  }
}

/*# sourceMappingURL=style.css.map */
