@charset "UTF-8";
.rub:after {
  content: "₽";
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto";
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 auto;
}

.header .color_width {
  background-color: #1ab9ce;
}
.header .top-header_content {
  background: #1ab9ce;
  display: flex;
  align-items: center;
  height: 90px;
}
.header .top-header_column {
  flex: 0 1 50%;
}
.header .top-header_column_logo {
  align-self: center;
  flex: 0 0 190px;
  text-align: center;
  padding: 0 0 0 0;
  font-family: Play, sans-serif;
  color: #FFFFFF;
  font-size: 13.5px;
}
.header .top-header_column_logo > span > span {
  font-size: 50px;
  font-weight: 700;
}
.header .top-header .menu_list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}
@media (max-width: 1192px) {
  .header .top-header .menu_list {
    grid-template-columns: 90px 130px 160px;
  }
}
.header .top-header .menu_list li {
  margin: 1px 0;
}
.header .top-header .menu_link {
  font-family: Play, sans-serif;
  min-height: 27px;
  white-space: nowrap;
  text-decoration: underline;
  color: #FFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 22px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .header .top-header .menu_link:hover {
    border-radius: 20px;
    background-color: #068292;
  }
}
@media (max-width: 1192px) {
  .header .top-header .menu_link {
    padding: 5px 15px;
  }
}
@media (max-width: 991.98px) {
  .header .top-header .menu_link {
    display: none;
  }
}
.header .top-header .contacts-header {
  display: flex;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .header .top-header .contacts-header {
    justify-content: flex-end;
  }
}
.header .top-header .contacts-header_column {
  padding: 0 30px;
  border-left: 1px solid #FFF;
}
.header .top-header .contacts-header_column:first-child {
  border: 0;
}
@media (max-width: 1192px) {
  .header .top-header .contacts-header_column {
    padding: 0 15px;
  }
}
@media (max-width: 991.98px) {
  .header .top-header .contacts-header_column:last-child {
    display: none;
  }
}
.header .top-header .contacts-header_label {
  font-size: 12px;
  font-weight: 300;
  color: #FFF;
}
.header .top-header .contacts-header_phone {
  color: #FFF;
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
}
@media (max-width: 1192px) {
  .header .top-header .contacts-header_phone {
    font-size: 16px;
  }
}

.bottom-header_container {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: space-between;
}
.bottom-header_column {
  flex: 0 1 calc(50% - 95px);
}

.actions-header {
  display: flex;
  align-items: center;
}
.actions-header li {
  margin: 0 54px 0 0;
}
@media (max-width: 1180px) {
  .actions-header li {
    margin: 0 2.5423728814vw 0 0;
  }
}
.actions-header_item {
  padding: 0 0 0 36px;
  display: inline-block;
  color: #999999;
  line-height: 24px;
  transition: color 0.3s;
}
@media (min-width: 991.98px) {
  .actions-header_item:hover {
    color: #1ab9ce;
  }
}
@media (max-width: 1192px) {
  .actions-header {
    padding: 0 0 0 30px;
  }
}
@media (max-width: 1192px) {
  .actions-header {
    padding: 0 0 0 30px;
  }
}
.actions-header_login span {
  border-bottom: 1px dotted;
}
@media (max-width: 1192px) {
  .actions-header_login {
    padding: 0 0 0 30px;
  }
}
.actions-header_reg span {
  border-bottom: 1px dotted;
}
.actions-header_email {
  line-height: 13px;
}
.actions-header_email span {
  border-bottom: 1px solid;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header_column {
  padding: 0 54px 0 0;
}
@media (max-width: 1180px) {
  .info-header_column {
    padding: 0 4.5762711864vw 0 0;
  }
}
.info-header_column:last-child {
  padding: 0;
}
.info-header_callback {
  display: inline-block;
  color: #999999;
  transition: color 0.3s;
  line-height: 20px;
  padding: 0 0 0 32px;
}
.info-header_callback span {
  border-bottom: 1px dotted;
}
.info-header_callback:hover {
  color: #1ab9ce;
}
.info-header_schedule {
  padding: 0 0 0 37px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #999999;
  white-space: nowrap;
}
.info-header_schedule span {
  font-weight: 900;
}
@media (max-width: 1192px) {
  .info-header_schedule {
    padding: 0;
  }
}
.info-header_cart {
  width: 43px;
  height: 43px;
  display: inline-block;
  position: relative;
}
.info-header_cart span {
  padding: 0 11px;
  border-radius: 20px;
  background-color: #f68038;
  position: absolute;
  right: 0;
  top: -3px;
  line-height: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .info-header_cart span {
    transform: translate(60%, 0);
  }
}

.page {
  flex: 1 1 auto;
}
.page_container {
  display: flex;
}
.page_side {
  flex: 0 0 260px;
}
.page_content {
  flex: 1 1 auto;
  padding: 0 0 0 30px;
}

.menu-page {
  background: #1ab9ce;
  position: relative;
}
.menu-page_header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.menu-page_title {
  color: #FFF;
  font-family: Play, sans-serif;
  font-weight: 700;
  line-height: 116.6666666667%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.menu-page_burger {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background-color: #068292;
  position: relative;
  cursor: pointer;
  z-index: 5;
  padding: 10px 6px;
}
.menu-page_burger_active {
  opacity: 0.5;
}
.menu-page_burger span {
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFF;
}
.menu-page_burger span:first-child {
  top: 0;
}
.menu-page_burger span:last-child {
  top: auto;
  bottom: 0;
}
.menu-page_burger.active {
  transform: scale(0);
}
.menu-page_burger.active:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-page_burger.active:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.menu-page_lines {
  height: 16px;
  position: relative;
}
.menu-page_body._active {
  display: block;
}
.menu-page_list > li {
  border-bottom: 1px solid #1aa7b9;
}
.menu-page_parent .menu-page_link::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translate(0, -50%);
  background: url("img/icons/sideMenu/arrows.png") 0 0 no-repeat;
}
.menu-page_parent._active .submenu-page_item {
  z-index: 2;
  transform: translate(0, 0);
}
.menu-page_parent._active .menu-page_link {
  background-color: #098494;
}
.menu-page_link {
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  display: block;
  padding: 12px 20px;
  position: relative;
}
@media (min-width: 991.98px) {
  .menu-page_link:hover {
    background-color: #098494;
  }
}
.menu-page_submenu {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  left: 100%;
  overflow: hidden;
}

.submenu-page {
  width: 100%;
  border-left: 0;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
}
.submenu-page_item {
  width: 100%;
  border: 2px solid #098494;
  background-color: #FFF;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease 0.3s;
}
.submenu-page_menu {
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}
.submenu-page_link {
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  padding: 10px 40px;
  display: block;
}
@media (min-width: 991.98px) {
  .submenu-page_link:hover {
    background-color: #71c7d3;
    color: white;
  }
}
.submenu-page_product {
  padding: 0 15px;
}

.item-product {
  padding: 15px;
  position: relative;
}
.item-product_labels {
  position: absolute;
  left: 15px;
  top: 15px;
}
.item-product_label {
  font-weight: 900;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 0 5px 0;
  padding: 0 15px;
  text-transform: uppercase;
  height: 21px;
  background-color: #fd8424;
}
.item-product_image {
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.item-product_image img {
  max-width: 100%;
  max-height: 175px;
}
.item-product_body {
  padding: 0 10px;
}
.item-product_title {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  margin: 0 0 5px 0;
}
@media (min-width: 991.98px) {
  .item-product_title:hover {
    text-decoration: underline;
  }
}
.item-product_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.item-product_old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
}
.item-product_old-price::after {
  font-size: 14px;
}
.item-product_bottom {
  display: flex;
}
.item-product_add {
  width: 40px;
  height: 40px;
  background: url("img/icons/shoppingBasket.png") 0 0 no-repeat;
}
.item-product_price {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
}
.item-product_price::after {
  font-size: 18px;
}

.search-page {
  display: flex;
  position: relative;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
.search-page_select {
  display: flex;
  align-items: center;
  padding: 0 14px;
  background-color: #f3f3f3;
  cursor: pointer;
}
.search-page_select::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("img/searchField/magnifying.png") 0 0 no-repeat;
}
.search-page_select::after {
  content: "";
  width: 10px;
  height: 10px;
  background: url("img/searchField/searchArrows.png");
  transform: rotate(-270deg);
}
.search-page_title {
  display: flex;
  align-items: center;
}
.search-page_title > span {
  margin: 0 13px;
  color: rgba(102, 102, 102, 0.4);
  font-weight: 300;
  border-bottom: 1px dashed;
}
.search-page_categories {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.search-page_input {
  flex: 1 1 auto;
}
.search-page_input input {
  height: 100%;
}
.search-page .btn {
  display: inline-flex;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: #f68038;
  transition: all 0.3s ease 0s;
  color: #FFF;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 992px) {
  .search-page .btn:hover {
    background-color: #b86029;
  }
}
.search-page .btn._fw {
  width: 100%;
}

.checkbox {
  position: relative;
}
.checkbox_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox_input:checked + .checkbox_text:before {
  background: #FFF url("img/searchField/checkbox.png") center no-repeat;
}

.categories-search {
  background-color: #FFF;
  display: flex;
}
.categories-search_column {
  flex: 0 1 33.333%;
  border-right: 1px solid #f3f3f3;
  padding: 27px 40px;
}
.categories-search_column:last-child {
  border: 0;
}
.categories-search_list li {
  margin: 0 0 20px 0;
}
.categories-search_list li:last-child {
  margin: 0 0 0 0;
}
.categories-search_link {
  color: #999999;
}

/*# sourceMappingURL=style.css.map */
