body {
    width: 100%;
    margin: 0;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #4A4D4A;
    font-size: 18px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

button {
    background-color: #FFAF37;
    cursor: pointer;
    color: #FFFF;
    font-size: 18px;
    font-family: Rubik, sans-serif;
    border: none;
    line-height: 21px;
    font-weight: 500;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #4f980a;
}

.hatBlock {
    display: grid;
    grid-template-rows: 48px 63px 54px;
    grid-template-columns: 767px 641px;
    height: 163px;
    width: 1395px;
    margin-left: auto;
    margin-right: auto;
}

.labelImg {
    grid-area: 1/1/2/1;
    height: 138px;
    width: 329px;
    margin-left: -7px;
    margin-top: -12px;
}

.navBar {
    grid-area: 1/1/1/2;
    display: flex;
    width: 1046px;
    height: 24px;
    gap: 44px;
    margin-top: 0;
    margin-left: 360px;
}

.commonSizesNumber {
    cursor: pointer;
    margin: 0;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0;
    transition: color 0.5s;
}

.sizesOne {
    width: 178px;
    height: 24px;
}

.sizesOne:hover, .sizesTwo:hover,
.sizesThree:hover, .sizesFour:hover,
.sizesFive:hover, .sizesSix:hover {
    color: #FFAF37;
}

.commonSizesNumber:after {
    content: '';
    display: inline-block;
    position: relative;
    height: 2px;
    top: -11px;
    left: 0;
    background-image: linear-gradient(to right, black 60%, transparent 0);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    transition: linear-gradient 0.5s;
}


.sizesOne:after {
    width: 181px;
}

.sizesOne:hover:after, .sizesTwo:hover:after,
.sizesThree:hover:after, .sizesFour:hover:after,
.sizesFive:hover:after, .sizesSix:hover:after {
    background-image: linear-gradient(to right, #FFAF37 100%, transparent 0);
}

.sizesTwo {
    width: 187px;
    height: 24px;
}

.sizesTwo::after {
    width: 190px;
}

.sizesThree {
    width: 78px;
    height: 24px;
}

.sizesThree::after {
    width: 81px;
}

.sizesFour {
    width: 167px;
    height: 24px;
}

.sizesFour::after {
    width: 170px;
}

.sizesFive {
    width: 117px;
    height: 24px;
}

.sizesFive::after {
    width: 122px;
}

.sizesSix {
    width: 99px;
    height: 24px;
}

.sizesSix::after {
    width: 100px;
}

.description {
    display: flex;
    grid-area: 2/1/2/1;
    margin: 5px auto auto 360px;
    width: 403px;
    height: 45px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.phoneNumber {
    display: flex;
    grid-area: 2/2/2/2;
    justify-content: space-between;
    width: 569px;
    height: 37px;
    margin: 5px 0 auto auto;
    padding-right: 4px;
}

.phoneImage {
    height: 30px;
    width: 30px;
}

.number {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;
}

#RequestCall {
    width: 240px;
    height: 37px;
}

.numberAndButton {
    display: flex;
    grid-area: 3/1/3/1;
    margin-top: 15px;
    margin-left: -7px;
}

.searchField {
    position: relative;
    cursor: text;
    width: 690px;
    height: 40px;
}

.searchField::placeholder {
    font-size: 14px;
    padding-left: 20px;
}

#searchButton {
    position: absolute;
    font-size: 20px;
    background-color: white;
    border: none;
    margin-left: 639px;
    margin-top: 8px;
}

.contactWithMe {
    display: flex;
    grid-area: 3/2/3/2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 624px;
    margin-left: 14px;
}

.whatsApp {
    width: 24px;
    height: 24px;
}

.contactsOne {
    margin-left: 10px;
    height: 34px;
    width: 130px;
    font-size: 14px;
    line-height: 17px;
}

.sms {
    margin-top: 9px;
    margin-left: 80px;
    width: 24px;
    height: 18px;
}

.contactsTwo {
    margin-top: 4px;
    margin-left: 12px;
    height: 21px;
    width: 164px;
    font-size: 18px;
}

.geo {
    margin: 14px 6px auto 50px;
    width: 20px;
    height: 27px;
}

.contactsThree {
    height: 50px;
    width: 176px;
    font-size: 16px;
    text-align: center;
    margin-left: 16px;
    padding-top: 3px;
}

.city {
    font-size: 20px;
    font-weight: 600;
}

.bottom_navBar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #F0F0FF;
    margin-top: 28px;
    justify-content: space-between;
    padding: 15px;
}

.alignSpan {
    display: flex;
    justify-content: space-between;
    width: 1394px;
    margin-left: auto;
    margin-right: auto;
}

.bottom_navBar_one, .bottom_navBar_two,
.bottom_navBar_three, .bottom_navBar_four {
    cursor: pointer;
    transition: color 0.5s;
}

.bottom_navBar_one:hover, .bottom_navBar_two:hover,
.bottom_navBar_three:hover, .bottom_navBar_four:hover {
    color: #FFAF37;
}

.bottom_navBar_one:after, .bottom_navBar_two::after,
.bottom_navBar_three::after, .bottom_navBar_four::after {
    content: '';
    position: absolute;
    margin-top: 30px;
    height: 2px;
    background-image: linear-gradient(to right, black 60%, transparent 0);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    cursor: pointer;
}

.bottom_navBar_one:hover:after, .bottom_navBar_two:hover:after,
.bottom_navBar_three:hover:after, .bottom_navBar_four:hover:after {
    background-image: linear-gradient(to right, #FFAF37 100%, transparent 0);
}

.bottom_navBar_one {
    display: flex;
    position: relative;
    height: 29px;
    width: 245px;
    left: -7px;
}

.bottom_navBar_one:after {
    left: 0;
    width: 240px;
}

.bottom_navBar_two {
    display: flex;
    width: 350px;
    height: 25px;
    line-height: 21px;
}

.bottom_navBar_two::after {
    width: 350px;
}

.bottom_navBar_three {
    display: flex;
    width: 385px;
    height: 21px;
    padding-left: 12px;
}

.bottom_navBar_three::after {
    width: 375px;
}

.bottom_navBar_four {
    display: flex;
    position: relative;
    width: 99px;
    height: 21px;
    padding-left: 21px;
}

.bottom_navBar_four::after {
    left: 0;
    margin-left: 23px;
    width: 85px;
}

.afterNavBar {
    display: flex;
    justify-content: space-between;
    width: 1410px;
    height: 736px;
    margin: 50px auto auto auto;
}


.mainMenu {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 736px;
    /*padding-left: ;*/
}

.headerMainMenu {
    display: inline-block;
    width: 447px;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background: #F0F0FF;
}

.headerSpan {
    display: flex;
    width: 106px;
    height: 26px;
    margin-top: 17px;
    margin-left: 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
}

.choiceChapter {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: stretch;
    margin-top: 60px;
    box-shadow: 0 4px 20px 0 #00000040;
    font-weight: 500;
    font-size: 18px;
    width: 447px;
    height: 676px;
}

.left, .right {
    display: flex;
    align-items: center;
    position: absolute;
    width: 9px;
    height: 9px;
    margin-left: 377px;
    cursor: pointer;
    margin-bottom: 15px;
}

.left {
    border-top: 2px solid #00156999;
    border-left: 2px solid #00156999;
    transform: rotate(-225deg);
}

.choiceChapter > div > :nth-child(1) {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-top: 3px;
    left: 21px;
}

.commonSpanMainMenu {
    position: relative;
    display: flex;
    left: 22px;
    margin-bottom: 22px;
}

.one {
    width: 339px;
    height: 21px;
    margin-top: 10px;
}

.two {
    width: 289px;
    height: 21px;
}

.three {
    width: 279px;
    height: 21px;
}

.four {
    width: 265px;
    height: 21px;
}

.five {
    width: 254px;
    height: 21px;
}

.six {
    width: 389px;
    height: 24px;
    /*top: 284px;*/
}

.seven {
    width: 372px;
    height: 42px;
}

.eight {
    width: 297px;
    height: 42px;
}

.nine {
    width: 337px;
    height: 47px;
}

.ten {
    width: 337px;
    height: 21px;
}

.eleven {
    width: 209px;
    height: 21px;
}

.twelve {
    width: 254px;
    height: 21px;
}

.thirteen {
    width: 107px;
    height: 21px;
}

.fourteen {
    width: 127px;
    height: 21px;
}


.afterNavBarBannerAndSpan {
    display: flex;
    flex-direction: column;
    margin-left: 42px;
}

.mainBanner {
    width: 922px;
    height: 132px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #4A4D4A;
}


.orangeText {
    color: #FFAF37;
}

.mainBannerImage {
    display: flex;
    flex-direction: column;
    width: 922px;
    height: 590px;
    border-radius: 10px;
    background: url("images/hat/mainBannerImage.png");
    background-size: cover;
    margin-top: 14px;
}


.leftAndRightMain {
    display: flex;
    position: absolute;
    margin-left: 710px;
    margin-top: 445px;
}

.leftMain, .rightMain {
    position: absolute;
    width: 240px;
    height: 175px;
}

.leftMain {
    border-top: 8px solid #1F347B;
    border-left: 8px solid #1F347B;
    transform: rotate(-180deg);
}

.circle, .circleTwoBanners {
    position: absolute;
    background-color: #1F347B;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.circle {
    position: absolute;
    left: 224px;
    margin-top: -5px;
}

.circleTwoBanners {
    position: absolute;
    left: 220px;
}

.bannerTextOnImage {
    margin-left: 400px;
    margin-top: 150px;
    height: 116px;
    width: 422px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 550;
    line-height: 37px;
}

#showOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 440px;
    width: 330px;
    height: 69px;
}

.bannerButtonCommon {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.buttonBanner {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 0.5s;
    padding: 20px;
}

.buttonBanner:hover {
    background-color: #4f980a;
}

.buttonBannerLeft {
    margin-left: 15px;
}

.buttonBannerRight {
    margin-left: 787px;
}

.leftBannerButton, .rightBannerButton {
    width: 16px;
    height: 16px;
}

.leftBannerButton {
    border-top: 5px solid #001569;
    border-left: 5px solid #001569;
}

.leftButtonBannerOne {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.rightButtonBannerOne {
    left: 2px;
    top: 16px;
}

.leftButtonBannerOne {
    transform: rotate(-45deg);
}

.leftButtonBannerTwo, .rightButtonBannerTwo {
    position: relative;
    right: 3px;
    bottom: 2px;
}

.leftButtonBannerTwo {
    transform: rotate(-225deg);
}

.paginationBanner {
    display: flex;
    margin: 170px auto auto 370px;
    height: 20px;
    width: 152px;
}

.circlePagination {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-left: 4px;
    border: 1px solid #FFFFFF;
    transition: background-color 0.5s;
}

.circlePagination:hover {
    background-color: #4f980a;
}

.circlePaginationOne {
    background-color: #FFAF37;
}

.sideButtons {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 30%;
    width: 5%;
    max-height: 271px;
    max-width: 90px;
    right: 0;
    margin-top: -690px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 20px 0 #00000040;
    cursor: pointer;
    z-index: 1000;
}

.oneSideButton, .twoSideButton, .threeSideButton {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.oneSideButton {
    height: 90px;
    width: 90px;
    background-color: #1F347B;
    border-top-left-radius: 10px;
    transition: background-color 0.5s;
}

.oneSideButton:hover {
    background-color: #4f980a;
}

.oneSideButtonImage {
    max-height: 30px;
    max-width: 30px;
    height: 50%;
    width: 50%;
    top: 7px;
    left: 15px;
}

.twoSideButton {
    background-color: #FFFFFF;
    height: 90px;
    width: 90px;
    transition: background-color 0.5s;
}

.twoSideButton:hover {
    background-color: #4f980a;
}

.threeSideButton {
    background-color: #FFFFFF;
    height: 91px;
    width: 90px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #1F347B;
}

.threeSideButton:hover {
    background-color: #4f980a;
}

.manyBanners {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 530px;
    width: 1410px;
    font-family: Rubik, sans-serif;
    font-size: 18px;
}

.workCBC, .reliableSupplier,
.fullComplex, .orderKey,
.directDeliveries, .qualityService,
.cooperation {
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 20px 0 #00000040;
    transition: background-color 0.5s;
    cursor: pointer;
    background-color: #FFFF;
}

.workCBC {
    height: 250px;
    width: 330px;
    background-color: #F0F0FF;
}

.workCBC:hover {
    background-color: #cec9c9;
}

.workCBCSpan {
    padding-top: 76px;
    height: 111px;
    width: 256px;
    font-size: 30px;
    font-weight: 500;
}

.reliableSupplier {
    height: 250px;
    width: 323px;
    margin: 0 35px 34px 30px;
}

.reliableSupplier:hover {
    background-color: #cec9c9;
}

.spanAndImageReliable {
    display: flex;
    text-align: center;
    width: 269px;
    height: 172px;
    margin: 37px 30px;
    flex-direction: column;
}

.oneImageReliable {
    margin-left: 93px;
    height: 60px;
    width: 60px;
    background: url("images/manyBanners/oneImage.png");
}

.reliableSupplierSpanOne {
    height: 29px;
    width: 269px;
    font-size: 24px;
    padding-top: 10px;
}

.reliableSupplierSpanTwo {
    height: 63px;
    width: 194px;
    margin-top: 10px;
    margin-left: 35px;
}

.fullComplex {
    margin: 0 32px 34px 0;
    height: 250px;
    width: 330px;
}

.fullComplex:hover {
    background-color: #cec9c9;
}

.twoImageReliableOne {
    margin-left: 103px;
    height: 62px;
    width: 72px;
    background: url("images/manyBanners/twoImage.png");
}

.spanAndImageFullComplex {
    display: flex;
    width: 292px;
    height: 181px;
    margin: 43px 27px;
    flex-direction: column;
}

.fullComplexSpanOne {
    height: 31px;
    width: 215px;
    font-size: 24px;
    padding-top: 10px;
    margin-left: 37px;
}

.fullComplexSpanTwo {
    height: 71px;
    width: 292px;
    margin-top: 12px;
}

.orderKey {
    margin: 0 0 0 0;
    height: 250px;
    width: 330px;
}

.orderKey:hover {
    background-color: #cec9c9;
}

.threeImageOrderKey {
    margin-left: 58px;
    height: 70px;
    width: 50px;
    background: url("images/manyBanners/threeImage.png");
}

.spanAndImageOrderKey {
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 181px;
    margin: 29px 36px;
}

.orderKeySpanOne {
    height: 29px;
    width: 187px;
    font-size: 24px;
    padding-top: 8px;
}

.orderKeySpanTwo {
    height: 63px;
    width: 281px;
    margin-top: 12px;
    margin-left: -50px;
}

.directDeliveries {
    flex-direction: column;
    margin: -4px 0 0 0;
    height: 250px;
    width: 690px;
}

.directDeliveries:hover {
    background-color: #cec9c9;
}

.spanDirectDeliveries {
    display: flex;
    width: 178px;
    height: 181px;
    margin: 29px 36px;
}

.fourImageDirectDeliveries {
    margin-top: 24px;
    margin-left: 310px;
    height: 73px;
    width: 70px;
    background: url("images/manyBanners/manyPicturesBanner/fourImageTop.png");
}

.directDeliveriesSpanOne {
    margin-left: 232px;
    height: 29px;
    width: 213px;
    font-size: 24px;
    padding-top: 8px;
}

.manyPictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    height: 67px;
    width: 630px;
}

.oneBottom {
    height: 56px;
    width: 45px;
}

.twoBottom {
    height: 44px;
    width: 50px;
}

.threeBottom {
    height: 15px;
    width: 75px;
}

.fourBottom {
    height: 60px;
    width: 60px;
}

.fiveBottom {
    height: 12px;
    width: 80px;
}

.sixBottom {
    height: 46px;
    width: 70px;
}

.sevenBottom {
    height: 23px;
    width: 70px;
}

.qualityService {
    flex-direction: column;
    margin: -4px 0 0 27px;
    height: 250px;
    width: 330px;
}

.qualityService:hover {
    background-color: #cec9c9;
}

.fiveImageOrderKey {
    margin-left: 135px;
    height: 63px;
    width: 60px;
    background: url("images/manyBanners/fiveImage.png");
}

.spanAndImageQualityService {
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 181px;
    margin: 29px 36px;
}

.qualityServiceSpanOne {
    margin-left: auto;
    margin-right: auto;
    height: 29px;
    width: 267px;
    font-size: 24px;
    margin-top: 15px;
}

.qualityServiceSpanTwo {
    height: 84px;
    width: 292px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.cooperation {
    flex-direction: column;
    margin: -4px 0 0 33px;
    height: 250px;
    width: 330px;
}

.cooperation:hover {
    background-color: #cec9c9;
}

.sixImageCooperation {
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    width: 60px;
    background: url("images/manyBanners/sixImage.png");
}

.cooperationSpanOne {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 29px;
    width: 202px;
    font-size: 24px;
}

.cooperationSpanTwo {
    height: 84px;
    width: 292px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.twoBannersMain {
    display: flex;
    position: relative;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 1449px;
    height: 431px;
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;
}

.twoBannersNextDiv {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 1408px;
    height: 402px;
    left: -19px;
}

.oneBanner, .twoBanner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 402px;
    width: 688px;
}

.oneBanner {
    background-color: #F0F0FF;
}

.oneBannerSmallImage {
    position: absolute;
    height: 59px;
    width: 60px;
    margin-left: 15px;
    margin-top: 27px;
}

.twoBannerSpanAndButton {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    height: 239px;
    width: 268px;
    margin-top: 82px;
    margin-left: 389px;
}

.oneBannerImage {
    display: flex;
    position: absolute;
    height: 240px;
    width: 323px;
    margin-top: 162px;
}

.oneSpanOneBannerTwoBanners, .oneSpanTwoBannerTwoBanners {
    font-size: 24px;
    text-align: right;
}

.twoSpanOneBannerTwoBanners {
    margin-top: 32px;
    text-align: right;
}

#chooseTechnique {
    margin-top: 16px;
    height: 70px;
    width: 300px;
    text-transform: uppercase;
}

.twoBanner {
    background-color: #E3E1FF;
}

.twoBannerSmallImage {
    position: absolute;
    height: 59px;
    width: 60px;
    margin-left: 20px;
    margin-top: 27px;
}

.oneBannerSpanAndButton {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    height: 238px;
    width: 537px;
    margin-top: 82px;
    margin-left: 106px;
}

.twoBannerImage {
    display: flex;
    position: absolute;
    height: 240px;
    width: 323px;
    margin-top: 162px;
}

.twoSpanOneBannerTwoBanners {
    margin-top: 32px;
    text-align: right;
}

.twoSpanTwoBannerTwoBanners {
    margin-top: 6px;
    text-align: right;
}

#assembleOffice {
    margin-top: 17px;
    height: 69px;
    width: 268px;
    text-transform: uppercase;
}


.leftTwoBanners, .rightTwoBanners {
    position: absolute;
    width: 240px;
    height: 175px;
    left: 0;
    top: 9px;
}

.leftTwoBanners {
    border-top: 8px solid #1F347B;
    border-left: 8px solid #1F347B;
    transform: rotate(0deg);
}

.oneFooter {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #F0F0FF;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.oneFooterCenterBanner {
    display: grid;
    list-style: none;
    grid-row-gap: 18px;
    grid-template-rows: 74px 166px;
    grid-template-columns: 694px 695px;
    height: 258px;
    width: 1389px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.onBlockOneFooter {
    line-height: 37px;
    font-size: 30px;
    align-self: flex-start;
    grid-column-start: 1;
    grid-row-start: 1;
    height: 74px;
    width: 687px;
}

.twoBlockOneFooter {
    cursor: pointer;
    justify-self: right;
    grid-column-start: 2;
    grid-row-start: 1;
    border: 2px solid #FFAF37;
    margin-top: 3px;
    margin-right: 10px;
    height: 60px;
    width: 400px;
    transition: background-color 0.5s;
}

.twoBlockOneFooter:hover {
    background-color: #4f980a;
}

.twoBlockOneFooterDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 400px;
}

.twoBlockOneFooterSpan {
    font-size: 18px;
    height: 24px;
    width: 369px;

}

.threeBlockOneFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    height: 166px;
    width: 1327px;
    margin-left: 62px;
    font-size: 20px;
}


.imagesOneBlockOneFooter, .imagesTwoBlockOneFooter,
.imagesThreeBlockOneFooter, .imagesFourBlockOneFooter,
.imagesFiveBlockOneFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagesOneBlockOneFooter {
    height: 161px;
    width: 291px;
}

.imagesTwoBlockOneFooter {
    height: 104px;
    width: 200px;
}

.imagesThreeBlockOneFooter {
    height: 161px;
    width: 342px;
}

.imagesFourBlockOneFooter {
    height: 85px;
    width: 200px;
}

.imagesFiveBlockOneFooter {
    height: 162px;
    width: 150px;
}

.oneImageOneFooter {
    height: 100px;
    width: 120px;
}

.twoImageOneFooter {
    height: 66px;
    width: 200px;
}

.threeImageOneFooter {
    height: 105px;
    width: 200px;
}

.fourImageOneFooter {
    height: 48px;
    width: 200px;
}

.twoImageOneFooter {
    height: 102px;
    width: 150px;
}

