body {
    width: 100%;
    margin: 0;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    line-height: 24px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.hatBlock {
    display: flex;
    /*max-width: 1920px;*/
    width: 100%;
}

.innerContainer {
    display: flex;
    /*width: 1415px;*/
    /*height: 163px;*/
    margin: 15px auto auto 256px;
}


.labelImg {
    display: flex;
    position: relative;
    height: 6.625em;
    width: 20.625em;
    margin-left: 0;
    background: url("images/img_label.png");
    background-size: 330px;
}

.navBar {
    display: flex;
    position: relative;
    width: 75%;
    height: 24px;
    gap: 44px;
    margin-top: 0;
    margin-left: 20px;
}


.commonSizesNumber {
    margin: 0;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0;
    transition: color 0.5s;
}

.sizesOne {
    width: 178px;
    height: 24px;
}

.sizesOne:hover, .sizesTwo:hover,
.sizesThree:hover, .sizesFour:hover,
.sizesFive:hover, .sizesSix:hover {
    color: #FFAF37;
}

.commonSizesNumber:after {
    content: '';
    display: inline-block;
    position: relative;
    height: 2px;
    top: -11px;
    left: 3px;
    background-image: linear-gradient(to right, black 60%, transparent 0);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}


.sizesOne:after {
    width: 181px;
}

.sizesTwo {
    width: 187px;
    height: 24px;
}

.sizesTwo::after {
    width: 186px;
}

.sizesThree {
    width: 78px;
    height: 24px;
}

.sizesThree::after {
    width: 81px;
}

.sizesFour {
    width: 167px;
    height: 24px;
}

.sizesFour::after {
    width: 166px;
}

.sizesFive {
    width: 117px;
    height: 24px;
}

.sizesFive::after {
    width: 122px;
}

.sizesSix {
    width: 99px;
    height: 24px;
}

.sizesSix::after {
    width: 90px;
}

.description {
    display: flex;
    position: absolute;
    margin-top: 59px;
    margin-left: 355px;
    width: 403px;
    height: 45px;
    color: #4A4D4A;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.phoneNumber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 569px;
    height: 37px;
    margin-top: 59px;
    margin-left: 825px;
}

.phoneImage {
    height: 52px;
    width: 52px;
    background: url("images/phone.png");
    background-size: cover;
}


.number {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    color: #4A4D4A;
}

#RequestCall {
    cursor: pointer;
    text-align: center;
    margin-right: 0;
    width: 240px;
    height: 37px;
    background-color: #FFAF37;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    color: #FFFFFF;
    transition: background-color 0.5s;
}

#RequestCall:hover {
    background-color: #4f980a;
}

.numberAndButton {
    display: flex;
    position: absolute;
    justify-content: right;
    margin-top: 120px;
    margin-left: 0;
}

.searchField {
    cursor: text;
    width: 690px;
    height: 40px;
}

.searchField::placeholder {
    font-size: 14px;
    padding-left: 20px;
}

#searchButton {
    position: absolute;
    font-size: 20px;
    background-color: white;
    border: none;
    margin-right: 10px;
    margin-top: 4px;
}

.contactWithMe {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    height: 50px;
    width: 624px;
    margin-top: 135px;
    margin-left: 1039px;
}

.whatsApp {
    width: 39px;
    height: 38px;
    background: url("images/whatsApp.png");
    background-size: 44px;
}

.contactsOne {
    margin-left: 10px;
    height: 34px;
    width: 110px;
    font-size: 14px;
    text-align: center;
}

.sms {
    margin-left: 76px;
    width: 49px;
    height: 38px;
    background: url("images/sms.png");
    background-size: 48px;
}

.contactsTwo {
    margin-top: 4px;
    margin-left: 12px;
    height: 21px;
    width: 164px;
    font-size: 18px;
}

.geo {
    width: 45px;
    height: 45px;
    background: url("images/geo.png");
    background-size: cover;
}

.contactsThree {
    height: 50px;
    width: 176px;
    font-size: 16px;
    text-align: center;
}

.city {
    font-size: 20px;
    font-weight: 600;
}

.bottom_navBar {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #F0F0FF;
    margin-top: 205px;
    left: 0;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.alignSpan {
    display: flex;
    justify-content: space-between;
    width: 1394px;
    margin-left: 242px;
}

.bottom_navBar_one {
    display: flex;
    height: 29px;
    width: 245px;
}


.bottom_navBar_one:after, .bottom_navBar_two::after,
.bottom_navBar_three::after, .bottom_navBar_for::after {
    content: '';
    position: absolute;
    padding-top: 25px;
    height: 2px;
    background-image: linear-gradient(to right, black 60%, transparent 0);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}


.bottom_navBar_one:after {
    width: 232px;
}

.bottom_navBar_two {
    display: flex;
    width: 343px;
    height: 25px;
}

.bottom_navBar_two::after {
    width: 340px;
}

.bottom_navBar_three {
    display: flex;
    width: 377px;
    height: 21px;
    padding-left: 12px;
}

.bottom_navBar_three::after {
    width: 360px;
}

.bottom_navBar_for {
    display: flex;
    width: 99px;
    height: 21px;
    padding-left: 12px;
}

.bottom_navBar_for::after {
    width: 85px;
}

.mainMenu {
    display: flex;
    position: absolute;
    width: 448px;
    height: 736px;
    margin-top: 176px;
    margin-left: 255px;
    margin-right: auto;
}

.headerMainMenu {
    display: inline-block;
    width: 447px;
    height: 60px;
    border-radius: 5px 5px 0 0;
    background: #F0F0FF;
    font-weight: bold;
}

.headerSpan {
    display: flex;
    position: relative;
    width: 106px;
    height: 26px;
    margin-top: 17px;
    margin-left: 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
}

.choiceChapter {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: stretch;
    margin-top: 60px;
    box-shadow: 0 4px 20px 0 #00000040;
    font-weight: 500;
    font-size: 18px;
    width: 447px;
    height: 676px;
}


.left, .right {
    display: flex;
    align-items: center;
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: 377px;
    cursor: pointer;
    margin-bottom: 15px;
}

.left {
    border-top: 3px solid #00156999;
    border-left: 3px solid #00156999;
    transform: rotate(-225deg);
}

.choiceChapter > div > :nth-child(1) {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-top: 3px;
    left: 21px;
}

.commonSpanMainMenu {
    position: relative;
    display: flex;
    left: 22px;
    margin-bottom: 22px;
}

.one {
    width: 339px;
    height: 21px;
    margin-top: 10px;
}

.two {
    width: 289px;
    height: 21px;
}

.three {
    width: 279px;
    height: 21px;
}

.four {
    width: 265px;
    height: 21px;
}

.five {
    width: 254px;
    height: 21px;
}

.six {
    width: 389px;
    height: 24px;
    /*top: 284px;*/
}

.seven {
    width: 372px;
    height: 42px;
}

.eight {
    width: 297px;
    height: 42px;
}

.nine {
    width: 337px;
    height: 47px;
}

.ten {
    width: 337px;
    height: 21px;
}

.eleven {
    width: 209px;
    height: 21px;
}

.twelve {
    width: 254px;
    height: 21px;
}

.thirteen {
    width: 107px;
    height: 21px;
}

.fourteen {
    width: 127px;
    height: 21px;
}

.mainBanner {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    margin-top: 168px;
    margin-left: 745px;
    width: 920px;
    height: 132px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #4A4D4A;
}

.mainBannerText {

}

.orangeText {
    color: #FFAF37;
}

.mainBannerImage {
    display: flex;
    width: 902px;
    height: 600px;
    margin-left: 747px;
    margin-top: 11px;
    border-radius: 10px;
    background: url("images/mainBannerImage.png");
    background-size: cover;
}

.leftMain, .rightMain {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 240px;
    height: 175px;
    margin-left: 720px;
    margin-top: 470px;
}

.leftMain {
    border-top: 8px solid #1F347B;
    border-left: 8px solid #1F347B;
    transform: rotate(-180deg);
}

.circle {
    display: inline-block;
    position: absolute;
    background-color: #1F347B;
    border-radius: 50%;
    margin-left: 1691px;
    margin-top: -140px;
    width: 24px;
    height: 24px;
}

.bannerTextOnImage {
    display: inline-block;
    position: absolute;
    margin-left: 400px;
    margin-top: 150px;
    height: 116px;
    width: 422px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 550;
    line-height: 37px;
}

#showOffer {
    display: inline-block;
    position: absolute;
    background-color: #FFAF37;
    margin-left: 450px;
    margin-top: 330px;
    width: 330px;
    height: 69px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

#showOffer:hover {
    background-color: #68b01d;
}

.buttonTextBanner {
    width: 257px;
    height: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}

.buttonBanner {
    cursor: pointer;
    position: absolute;
    margin-top: 250px;
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    border-radius: 100%;
    transition: background-color 0.5s;
}

.buttonBanner:hover {
    background-color: #4f980a;
}

.buttonBannerLeft {
    margin-left: 15px;
}

.buttonBannerRight {
    margin-left: 837px;
}

.leftBannerButton, .rightBannerButton {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.leftBannerButton {
    border-top: 5px solid #001569;
    border-left: 5px solid #001569;
}

.leftButtonBannerOne {
    left: 19px;
    top: 16px;
}

.rightButtonBannerOne {
    left: 2px;
    top: 16px;
}

.leftButtonBannerOne {
    transform: rotate(-45deg);
}

.leftButtonBannerTwo, .rightButtonBannerTwo {
    left: 12px;
    top: 15px;
}

.leftButtonBannerTwo {
    transform: rotate(-225deg);
}

.paginationBanner {
    display: flex;
    position: absolute;
    height: 20px;
    width: 152px;
    margin-left: 1150px;
    margin-top: -50px;
}

.circlePagination {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-left: 4px;
    border: 1px solid #FFFFFF;
    transition: background-color 0.5s;
}

.circlePagination:hover {
    background-color: #4f980a;
}

.circlePaginationOne {
    background-color: #FFAF37;
}

.sideButtons {
    display: inline-block;
    position: absolute;
    height: 271px;
    width: 90px;
    right: 0;
    margin-top: -690px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 20px 0 #00000040;
}

.oneSideButton {
    display: inline-block;
    position: relative;
    height: 90px;
    width: 90px;
    background-color: #1F347B;
    border-top-left-radius: 10px;
}

.oneSideButtonImage {
    position: relative;
    height: 60px;
    width: 60px;
    top: 7px;
    left: 15px;
}

.twoSideButton {
    height: 90px;
    width: 90px;
}

.threeSideButton {
    height: 90px;
    width: 90px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #1F347B;
}