@import "var_style";

.header {
  .color_width {
    background-color: #1ab9ce;
  }

  .top-header {

    &_contacts {
      position: relative;
      z-index: 15;
    }

    &_content {
      background: #1ab9ce;
      display: flex;
      align-items: center;
      height: 90px;
    }

    &_column {
      flex: 0 1 calc(50% - 95px);

      &_logo {
        position: relative;
        z-index: 15;
        align-self: center;
        flex: 0 0 190px;
        text-align: center;
        padding: 0 0 0 0;
        font-family: Play, sans-serif;
        color: #fff;
        font-size: 13.5px;

        & > span > span {
          font-size: 50px;
          font-weight: 700;

          @media (max-width: $md3 + px) {
            font-size: 40px;
          }
        }
      }
    }

    .icon-menu {
      display: none;
      @media (max-width: $md2+px) {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 16;

        span {
          transition: all 0.3s ease 0s;
          top: calc(50% - 1px);
          left: 0;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #fff;

          &:first-child {
            top: 0;
          }

          &:last-child {
            top: auto;
            bottom: 0;
          }
        }

        &._active {
          span {
            transform: scale(0);
            background-color: #fff;

            &:first-child {
              transform: rotate(-45deg);
              top: calc(50% - 1px);
            }

            &:last-child {
              transform: rotate(45deg);
              bottom: calc(50% - 1px);
            }
          }
        }
      }
    }

    .menu {
      &_body {
        @media (max-width: $md2+px) {
          transition: all 0.5s ease 0s;
          visibility: hidden;
          opacity: 0;
          position: fixed;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          overflow: hidden;
          padding: 110px 20px 30px 20px;
          z-index: 11;
          background-color: #fff;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 90px;
            top: 0;
            left: 0;
            background-color: #1ab9ce;
          }

          &._active {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &_list {
        display: grid;
        grid-template-columns: 110px 130px 180px;

        li {
          margin: 1px 0;
        }

        @media (max-width: $md1+px) {
          grid-template-columns: 90px 130px 160px;
        }

        @media (max-width: $md2+px) {
          display: block;
          padding-top: 30px;
        }
      }

      &_link {
        font-family: Play, sans-serif;
        min-height: 27px;
        white-space: nowrap;
        text-decoration: underline;
        color: #FFF;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px 22px;
        transition: all 0.3s ease 0s;

        @media (min-width: $md2+px) {
          &:hover {
            border-radius: 20px;
            background-color: #068292;
          }
        }

        @media (max-width: $md1+px) {
          padding: 5px 15px;
        }

        @media (max-width: $md2+px) {
          color: #000;
          font-size: 24px;
          padding: 5px 0;
        }
      }
    }

    .contacts-header {
      display: flex;
      justify-content: center;

      @media (max-width: $md2+px) {
        justify-content: flex-end;
      }

      &_column {
        padding: 0 30px;
        border-left: 1px solid #FFF;

        &:first-child {
          border: 0;
        }

        @media (max-width: $md1+px) {
          padding: 0 15px;
        }

        @media (max-width: $md2+px) {
          &:last-child {
            display: none
          }

          @media (max-width: 640px) {
            padding: 0;
          }
        }
      }

      &_item {

        &_icon {
          background: url("../img/icons/header/phone.png") left no-repeat;
          padding: 0 0 0 37px;

          @media (max-width: $md1+px) {
            padding: 0 0 0 30px;
          }

          @media (max-width: 640px) {
            background: none;
            padding: 0;
          }
        }
      }

      &_label {
        font-size: 12px;
        font-weight: 300;
        color: #FFF;
        @media (max-width: 640px) {
          font-size: 0;
        }
      }

      &_phone {
        color: #FFF;
        font-size: 18px;
        font-weight: 900;
        white-space: nowrap;

        @media(max-width: $md1+px) {
          font-size: 16px;
        }

        @media (max-width: 640px) {
          font-size: 0;
          background: url("../img/icons/header/phone.png") left no-repeat;
          display: inline-block;
          width: 25px;
          height: 25px;
          vertical-align: middle;
        }
      }
    }
  }
}

.bottom-header {
  &_container {
    display: flex;
    height: 63px;
    align-items: center;
    justify-content: space-between;
  }

  &_column {
    flex: 0 1 calc(50% - 95px);
    transition: all 0.3s ease 0s;

    &._active {
      display: block;
      z-index: 15;
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 640px) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.actions-header {
  display: flex;
  align-items: center;

  li {
    margin: 0 54px 0 0;

    @media (max-width: $maxWidthContainer +px) {
      margin: 0 30 / $maxWidthContainer * 100vw 0 0;
    }
  }

  &_item {
    padding: 0 0 0 36px;
    display: inline-block;
    line-height: 24px;
    color: #999999;
    transition: color 0.3s;

    @media (max-width: $md1 + px) {
      padding: 0 0 0 30px;
    }

    @media (max-width: $md2 + px) {
      padding: 0 20px 0 0;
    }

    @media (min-width: $md2+px) {
      &:hover {
        color: #1ab9ce;
      }
    }
  }

  &_login {
    //background: url('') left no-repeat;

    span {
      border-bottom: 1px dotted;
    }

    //@media (max-width: $md1+px) {
    //  padding: 0 0 0 30px;
    //}
  }

  &_reg {
    //background: url('') left no-repeat;

    span {
      border-bottom: 1px dotted;
    }
  }

  &_email {
    line-height: 13px;
    //background: url('') left no-repeat;

    span {
      border-bottom: 1px solid;
    }
  }
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;

  &_column {
    padding: 0 54px 0 0;

    @media (max-width: $maxWidthContainer +px) {
      padding: 0 54 / $maxWidthContainer * 100vw 0 0;
    }

    &:last-child {
      padding: 0;
    }
  }

  &_callback {
    display: inline-block;
    color: #999999;
    transition: color 0.3s;
    line-height: 20px;
    padding: 0 0 0 32px;
    white-space: nowrap;

    span {
      border-bottom: 1px dotted;
    }

    &:hover {
      color: #1ab9ce;
    }
  }

  &_schedule {
    padding: 0 0 0 37px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #999999;
    white-space: nowrap;

    span {
      font-weight: 900;
    }

    @media (max-width: $md1+px) {
      padding: 0;
    }

    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &_cart {
    width: 43px;
    height: 43px;
    display: inline-block;
    position: relative;

    img {
      opacity: 0.6;
    }

    span {
      padding: 0 11px;
      border-radius: 20px;
      background-color: #f68038;
      position: absolute;
      left: 12px;
      top: -3px;
      line-height: 25px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;

      @media (min-width: 1200px) {
        transform: translate(10%, 0);
      }
    }
  }
}

//Основной блок>========================================================================================================

.page {
  flex: 1 1 auto;
  //padding: 160px 0 0 0;

  &._active {
    display: none;
  }

  @media (max-width: #md3+px) {
    //padding: 133px 0 0 0;
  }

  &_container {
    @media (min-width: $md2+px) {
      display: flex;
    }
  }

  &_side {
    position: relative;
    z-index: 10;
    flex: 0 0 260px;

    @media (max-width: $md2+px) {
      margin: 0 0 30px 0;
    }
  }

  &_menu {

  }

  &_search {
    margin: 0 0 22px 0;
    position: relative;
    z-index: 5;
  }

  &_slider {
    margin: 0 0 65px 0;
  }

  &_content {
    @media (min-width: $md2+px) {
      flex: 1 1 auto;
      min-width: 0;
      padding: 0 0 0 30px;
    }
  }
}

.menu-page {
  background: #1ab9ce;
  position: relative;

  &_header {
    padding: 20px;
    display: flex;
    align-items: center;
  }

  &_title {
    flex: 1 1 auto;
    color: #FFF;
    font-family: Play, sans-serif;
    font-weight: 700;
    line-height: 35 / 30 * 100%;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  &_burger {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #068292;
    position: relative;
    cursor: pointer;
    z-index: 5;
    padding: 10px 6px;


    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #FFF;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }


  &_lines {
    height: 16px;
    position: relative;
  }

  &_body {
    display: none;

    &._active {
      display: block;
    }
  }

  &_list {
    > li {
      border-bottom: 1px solid #1aa7b9;
    }
  }

  &_parent {
    .menu-page_link {
      cursor: pointer;

      &::after {
        transition: all 0.3s ease 0s;
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        width: 14px;
        height: 14px;
        transform: translate(0, -50%) rotate(-90deg);
        background: url("../img/icons/sideMenu/arrows.png") 0 0 no-repeat;

        @media (max-width: $md2+px) {
          transform: translate(0, -50%);
        }
      }
    }

    &._active {
      .menu-page_submenu {
        pointer-events: all;
      }

      .submenu-page_item {
        display: block;
        @media (min-width: $md2+px) {
          z-index: 2;
          transform: translate(0, 0);
        }
      }

      .menu-page_link {
        background-color: #098494;

        @media (max-width: $md2+px) {
          &::after {
            transform: translate(0, -50%) rotate(180deg);
          }
        }
      }
    }
  }

  &_link {
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    display: block;
    padding: 12px 20px;
    position: relative;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: #098494;
      }
    }

    @media (max-width: $md2+px) {
      font-size: 14px;
    }
  }

  &_submenu {
    @media (min-width: $md2+px) {
      width: 108%;
      position: absolute;
      top: 0;
      height: 100%;
      left: 100%;
      overflow: hidden;
      pointer-events: none;
    }
  }

}

.submenu-page {
  @media (max-width: $md2+px) {
    background-color: #fff;
  }
  //width: 100%;
  //border-left: 0;
  //position: absolute;
  //top: 0;
  //left: 100%;
  //height: 100%;

  @media (max-width: md2+px) {
    background-color: #fff;
  }

  &_item {
    display: none;
    @media (min-width: $md2+px) {
      display: block;
      width: 280px;
      border: 2px solid #098494;
      background-color: #FFF;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(-100%, 0);
      transition: all 0.3s ease 0.3s;
    }
  }

  &_menu {
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
  }

  &_link {
    color: #1ab9ce;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    padding: 10px 40px;
    display: block;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: #71c7d3;
        color: #FFFF;
      }
    }

    @media (max-width: $md2+px) {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  &_product {
    padding: 0 15px;
    @media (max-width: $md2+px) {
      display: none;
    }
  }
}

.item-product {
  padding: 15px;
  position: relative;

  &_labels {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  &_label {
    font-weight: 900;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 0 5px 0;
    padding: 0 15px;
    text-transform: uppercase;
    height: 21px;
    background-color: #fd8424;
  }

  &_image {
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    img {
      max-width: 100%;
      max-height: 175px;
    }
  }

  &_body {
    padding: 0 10px;
  }

  &_title {
    color: #36949f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    display: inline-block;
    margin: 0 0 5px 0;

    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &_old-price {
    flex: 1 1 100%;
    text-align: right;
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    text-decoration: line-through;

    &::after {
      font-size: 14px;
    }
  }

  &_bottom {
    display: flex;
  }

  &_add {
    width: 40px;
    height: 40px;
    background: url("../img/icons/shoppingBasket.png") 0 0 no-repeat;
    opacity: 0.6;
  }

  &_price {
    color: #333333;
    font-size: 24px;
    font-weight: 900;

    &::after {
      font-size: 18px;
    }
  }
}

//>========================================================================================================

.search-page {
  display: flex;
  position: relative;

  &_select {
    display: flex;
    align-items: center;
    padding: 0 14px;
    background-color: #f3f3f3;

    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &_title {
    color: #666666;
    font-weight: 300;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      border-bottom: 1px dashed;
      margin: 0 13px;

      &:last-child {
        display: none;
      }
    }

    &::before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../img/searchField/magnifying.png") 0 0 no-repeat;
      opacity: 0.6;
    }

    &::after {
      transition: all 0.3s ease 0s;
      content: "";
      width: 10px;
      height: 10px;
      background: url("../img/searchField/searchArrows.png");
      transform: rotate(-270deg);
      opacity: 0.6;
    }

    &._categories {
      span {
        display: none;

        &:last-child {
          display: block;
        }
      }
    }

    &._active {
      &::after {
        transform: rotate(-90deg);
      }
    }
  }

  &_categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &_input {
    border: 2px solid #f2f2f2;
    //border-bottom: 2px solid #f2f2f2;
    //border-left: 2px solid #f2f2f2;
    flex: 1 1 auto;

    input {
      height: 100%;
      width: 100%;
      padding: 0 15px;
    }
  }

  .btn {
    display: inline-flex;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    height: 39px;
    background-color: #f68038;
    transition: all 0.3s ease 0s;
    color: #FFF;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    @media (min-width: 992px) {
      &:hover {
        background-color: #b86029;
      }
    }

    &._fw {
      width: 100%;
    }
  }
}

.categories-search {
  transition: height 0.3s, opacity 0.3s;
  border: 1px solid #f3f3f3;
  background-color: #FFF;
  display: none;


  &::after {
    content: "";
    background-color: #f68038;
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  &_row {
    @media (min-width: $md3+px) {
      display: flex;
    }

    @media (max-width: $md2+px) {
      padding: 20px 0;
    }
  }

  &_column {
    flex: 0 1 33.333%;
    padding: 27px 40px;
    border-right: 1px solid #f3f3f3;

    &:last-child {
      border: 0;
    }

    @media (max-width: $md1+px) {
      padding: 27px 20px;
    }

    @media (max-width: $md3+px) {
      padding: 10px 20px;
      margin: 0 0 20px 0;
      &:last-child {
        margin: 0 0 0 0;
      }
    }
  }

  &_list {
    li {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0 0 0 0;
      }
    }
  }

  &_checkbox {
    .checkbox_input {
      display: none;

      &:checked + .checkbox_text {
        color: #f68038;
      }
    }

    .checkbox_text {
      color: #666666;
      cursor: pointer;

      &::before {
        display: none;
      }
    }
  }

  &_link {
    color: #999999;
  }
}

// Адаптивная верстка интернет-магазина с нуля. Часть #2. GULP SCSS JS, 4:10:34
