@import "../variables/variables.scss";

body {
  margin: 15px 0 0 0;
  font-family: $fontFamilyRubik;
  font-weight: 500;
  line-height: 24px;
  color: $colorGray;
  font-size: 18px;
  overflow: visible;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .circle, .circleTwoBanners, .circleAfterManyPicturesBanner,
  .circleAfterTwoFooter, .circleBannerBeforeLastFooter {
    @include heightAndWidth(24px, 24px);
    position: absolute;
    background-color: #1F347B;
    border-radius: 50%;
  }

  .circle {
    @include topAndLeft(430px, 939px);
  }

  .circleTwoBanners {
    @include topAndLeft(138px, -42px);
  }

  .circleAfterManyPicturesBanner {
    @include topAndLeft(247px, 1424px);
  }

  .circleAfterTwoFooter {
    left: 143px;
    bottom: 171px;
    background-color: rgba(31, 52, 123, 0.2);
  }

  .circleBannerBeforeLastFooter {
    @include topAndLeft(-9px, 147px);
    background-color: rgba(31, 52, 123, 0.2);
  }

  .arrowLeftManyPictures {
    @include heightAndWidth(20px, 20px);
    position: relative;
    display: inline-flex;
    cursor: pointer;

    &::before {
      @include heightAndWidth(2px, 40px);
      background-color: $colorGray;
      top: 58px;
      left: 117px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::after {
      @include heightAndWidth(10px, 10px);
      @include topAndLeft(54px, 147px);
      border-top: 2px solid $colorGray;
      border-left: 2px solid $colorGray;
      transform: rotate(-225deg);
    }
  }

  .checkBoxAndSpan {
    @include heightAndWidth(30px, 205px);
    display: flex;
    justify-content: space-between;

    .checkMarkBlock {
      @include heightAndWidth(30px, 30px);
      @include flexAndAlign(center, center);
      cursor: pointer;
      background-color: $colorGray;

      .checkMark {
        @include heightAndWidth(15px, 15px);
      }
    }

    .spanAfterCheckMark {
      cursor: text;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .hatBlock {
    //@include heightAndWidth(163px, 1395px);
    max-width: 1395px;
    max-height: 163px;
    //width: 1395px;
    position: relative;
    display: grid;
    //grid-template-rows: 48px 63px 54px;
    //grid-template-columns: 767px 641px;
    grid-template-rows: 29% 38.4% 32.6%;
    grid-template-columns: 54.5% 45.5%;
    margin: auto;

    @media screen and (max-width: 999px) {
      max-width: 999px;
    }

    .labelImg {
      //@include heightAndWidth(138px, 329px);
      grid-area: 1/1/2/1;
      margin: -12px 0 0 -7px;
    }

    .navBar {
      @include heightAndWidth(24px, 1046px);
      max-width: 1046px;
      max-height: 24px;
      grid-area: 1/1/1/2;
      display: flex;
      justify-content: space-between;
      //gap: 44px;
      margin: 0 0 0 360px;

      .relativeDivNavBar {
        position: relative;
      }

      .commonSizesNumber {
        cursor: pointer;
        margin: 0;
        font-weight: 500;
        text-align: center;
        line-height: 24px;
        font-size: 20px;
        letter-spacing: 0;
        transition: color 0.5s;

        &::after {
          @include backgroundImage($colorGray, 60%);
          content: '';
          display: inline-block;
          position: absolute;
          height: 2px;
          top: 35px;
          left: 0;
          background-position: bottom;
          background-size: 5px 1px;
          background-repeat: repeat-x;
          transition: linear-gradient 0.5s;
        }
      }
      //
      .sizesOne {
        //@include heightAndWidth(24px, 178px);

        &:after {
          width: 178px;
        }
      }
      //
      .sizesOne:hover, .sizesTwo:hover, .sizesThree:hover,
      .sizesFour:hover, .sizesFive:hover, .sizesSix:hover {
        color: $colorOrange;
      }

      .sizesOne:hover:after, .sizesTwo:hover:after,
      .sizesThree:hover:after, .sizesFour:hover:after,
      .sizesFive:hover:after, .sizesSix:hover:after {
        @include backgroundImage($colorOrange, 100%);
      }
      //
      //.sizesTwo {
      //  //@include heightAndWidth(24px, 187px);
      //
      //  &:after {
      //    width: 186px;
      //  }
      //}
      //
      //.sizesThree {
      //  //@include heightAndWidth(24px, 78px);
      //
      //  &:after {
      //    width: 78px;
      //  }
      //}
      //
      //.sizesFour {
      //  //@include heightAndWidth(24px, 167px);
      //
      //  &:after {
      //    width: 166px;
      //  }
      //}
      //
      //.sizesFive {
      //  @include heightAndWidth(24px, 117px);
      //
      //  &:after {
      //    width: 116px;
      //  }
      //}
      //
      //.sizesSix {
      //  //@include heightAndWidth(24px, 99px);
      //
      //  &:after {
      //    width: 96px;
      //  }
      //}
    }

    .description {
      @include heightAndWidth(45px, 403px);
      display: flex;
      grid-area: 2/1/2/1;
      margin: 5px auto auto 360px;
      line-height: 21px;
      letter-spacing: 0;
      text-align: left;
    }

    .phoneNumber {
      @include heightAndWidth(37px, 569px);
      display: flex;
      position: relative;
      grid-area: 2/2/2/2;
      justify-content: space-between;
      margin: 5px 0 auto auto;
      padding-right: 4px;

      .phoneImage {
        @include heightAndWidth(30px, 30px);
      }

      .number {
        font-family: $fontFamilyMontserrat;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 36px;
      }

      #requestCall {
        @include heightAndWidth(37px, 240px);
      }

      #modalGetCall {
        @include heightAndWidth(500px, 764px);
        @include topAndLeft(68px, -500px);
        display: none;
        position: absolute;
        box-shadow: $boxShadow;
        border-radius: 10px;
        z-index: 200;
        flex-direction: column;
        border: 2px solid $colorGray;
        background-color: $colorWhite;

        .modalContentSpanAndClose {
          display: flex;
          flex-direction: row;

          .modalContentHeader {
            @include heightAndWidth(48px, 382px);
            text-align: center;
            margin: 30px auto 20px 200px;
            color: $colorGray;
            font-size: 20px;
          }
        }

        .modalContentBlock {
          @include heightAndWidth(346px, 331px);
          @extend %tplFlexAndColumn;
          align-items: flex-start;
          justify-content: center;
          margin-left: 80px;
          z-index: 100;

          .modalContentBlockOneInput, #sendRequest {
            @include heightAndWidth(60px, 330px);
            margin-bottom: 20px;
          }
        }

        .oneModalImage {
          @include heightAndWidth(254px, 397px);
          @include topAndLeft(230px, 360px);
          position: absolute;
        }
      }
    }

    #overModal {
      @include heightAndWidth(500px, 500px);
      @include topAndLeft(70px, -367px);
      display: none;
      position: absolute;
      flex-direction: column;
      box-shadow: $boxShadow;
      border: 2px solid $colorGray;
      border-radius: 10px;
      background-color: $colorWhite;
      z-index: 200;
      justify-content: space-between;

      .oneRowOverModal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;

        .overModalLabel {
          @include heightAndWidth(99px, 146px);
          margin: 15px auto auto 38px;
        }
      }

      .twoRowOverModal {
        margin-top: 33px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }

      .threeRowOverModal {
        @include heightAndWidth(295px, 100%);
        @include flexAndAlign(flex-end, flex-end);

        .overModalBigImage {
          @include heightAndWidth(185px, 190px);
          @include topAndLeft(259px, 38px);
          position: absolute;
        }

        .overModalSmallImage {
          @include heightAndWidth(146px, 146px);
          @include topAndLeft(298px, 184px);
          position: absolute;
        }

        #threeRowOverModalSpan {
          cursor: pointer;
          font-size: 14px;
          color: #001569;
          transition: color 0.5s;
          margin: auto 25px 40px auto;

          &:hover {
            color: $colorBlue;
            text-decoration: underline;
          }
        }
      }
    }

    .numberAndButton {
      display: flex;
      grid-area: 3/1/3/1;
      margin: 15px 0 0 -7px;

      .searchField {
        @include heightAndWidth(40px, 690px);
      }

      #searchButton {
        position: absolute;
        font-size: 20px;
        background-color: white;
        border: none;
        margin: 8px 0 0 639px;
      }
    }

    #oneDropDawn {
      @include topAndLeft(165px, -7px);
      display: none;
      position: absolute;
      max-height: 690px;
      max-width: 690px;
      overflow-x: hidden;
      background-color: $colorWhite;
      box-shadow: $boxShadow;
      z-index: 400;
      cursor: pointer;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border: 1px solid $colorBlue;

      &::-webkit-scrollbar {
        background-color: #FFFF;
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 21, 105, 0.7);
        border-radius: 10px;
      }

      .noResultsMessage {
        @include heightAndWidth(69px, 688px);
        display: none;
        padding-left: 20px;
        align-items: center;
      }

      .optionDropDawn {
        @include heightAndWidth(69px, 688px);
        display: flex;
        align-items: center;
        color: $colorGray;
        transition: color 0.5s, background-color 0.5s;
        padding-left: 20px;
        border-bottom: 1px solid rgba(74, 77, 74, 0.5);

        &:hover {
          background-color: $colorBlue;
          color: $colorOrange;
        }
      }
    }

    .contactWithMe {
      display: flex;
      grid-area: 3/2/3/2;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 624px;
      margin-left: 14px;

      .whatsApp {
        @include heightAndWidth(24px, 24px);
      }

      .contactsOne {
        margin-left: 10px;
        height: 34px;
        width: 130px;
        font-size: 14px;
        line-height: 17px;
      }

      .sms {
        @include heightAndWidth(18px, 24px);
        margin: 9px 0 0 80px;
      }

      .contactsTwo {
        @include heightAndWidth(21px, 164px);
        margin: 4px 0 0 12px;
      }

      .geo {
        @include heightAndWidth(27px, 20px);
        margin: 14px 0 0 66px;
      }

      .contactsThree {
        @include heightAndWidth(50px, 176px);
        font-size: 16px;
        text-align: center;
        margin: 4px auto auto 10px;
      }

      .city {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .bottom_navBar {
    @include heightAndWidth(60px, 100%);
    width: 100%;
    height: 60px;
    background-color: #F0F0FF;
    margin-top: 28px;
    padding: 15px;

    .alignSpan {
      @extend %tplFlexAndSpace;
      width: 1394px;
      margin: auto;

      .bottom_navBar_one, .bottom_navBar_two,
      .bottom_navBar_three, .bottom_navBar_four {
        display: flex;
        position: relative;
        cursor: pointer;
        transition: color 0.5s;
      }

      .bottom_navBar_one:hover, .bottom_navBar_two:hover,
      .bottom_navBar_three:hover, .bottom_navBar_four:hover {
        color: $colorOrange;
      }

      .bottom_navBar_one::after, .bottom_navBar_two::after,
      .bottom_navBar_three::after, .bottom_navBar_four::after {
        @include backgroundImage(black, 60%);
        content: '';
        position: absolute;
        margin-top: 30px;
        height: 2px;
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
        cursor: pointer;
      }

      .bottom_navBar_one:hover:after, .bottom_navBar_two:hover:after,
      .bottom_navBar_three:hover:after, .bottom_navBar_four:hover:after {
        @include backgroundImage($colorOrange, 100%);
      }

      .bottom_navBar_one {
        @include heightAndWidth(29px, 245px);
        position: relative;
        left: -7px;

        &::after {
          left: 0;
          width: 240px;
        }
      }

      .bottom_navBar_two {
        @include heightAndWidth(25px, 350px);
        line-height: 21px;

        &::after {
          width: 346px;
        }
      }

      .bottom_navBar_three {
        @include heightAndWidth(21px, 385px);
        padding-left: 12px;

        &::after {
          width: 368px;
        }
      }

      .bottom_navBar_four {
        @include heightAndWidth(21px, 99px);
        padding-left: 21px;

        &::after {
          left: 0;
          margin-left: 23px;
          width: 85px;
        }
      }
    }
  }

  .afterNavBar {
    @include heightAndWidth(736px, 1410px);
    @extend %tplFlexAndSpace;
    margin: 50px auto auto auto;

    .mainMenu {
      @include heightAndWidth(736px, 448px);
      @extend %tplFlexAndColumn;
    }

    .headerMainMenu {
      @include heightAndWidth(60px, 447px);
      display: inline-block;
      border-radius: 10px 10px 0 0;
      background: #F0F0FF;
    }

    .headerSpan {
      @include heightAndWidth(26px, 106px);
      display: flex;
      margin: 17px auto auto 21px;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0;
      text-align: left;
    }

    .choiceChapter {
      @include heightAndWidth(676px, 447px);
      @extend %tplFlexAndColumn;
      box-shadow: $boxShadow;
    }

    .left {
      @include heightAndWidth(9px, 9px);
      margin-right: 15px;
      cursor: pointer;
      border-top: 3px solid #00156999;
      border-left: 3px solid #00156999;
      transform: rotate(-225deg);
      transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
    }

    .commonSpanMainMenu:hover .left {
      border-top-color: #FFFFFF;
      border-left-color: #FFFFFF;
    }

    .choiceChapter > div > :nth-child(1) {
      @include heightAndWidth(16px, 20px);
      margin-left: 20px;
    }

    .choiceChapter > div > :nth-child(2) {
      margin-left: 12px;
    }

    #smallImageSize, #smallTwoImageSize,
    #smallFourImageSize, #smallFiveImageSize,
    #smallSixImageSize {
      height: 20px;
    }

    #newSticker {
      height: 10px;
      margin-top: 6px;
    }

    #smallOneImageSize {
      @include heightAndWidth(24px, 15px);
      margin-top: -1px;
      margin-left: 22px;
    }

    .commonSpanMainMenu {
      @include flexAndAlign(space-between, center);
      flex-direction: row;
      flex-grow: 1;
      cursor: pointer;
      transition: $backgroundTransition, color 0.3s;

      &:hover {
        background-color: $colorOrange;
        color: #FFFFFF;
      }
    }

    .choiceChapterOneBlockBack {
      background-color: $colorBlue;
      flex-grow: 1;
    }

    .one {
      margin-right: 85px;
    }

    .two {
      margin-right: 138px;
    }

    .three {
      margin-right: 152px;
    }

    .four {
      margin-right: 159px;
    }

    .five {
      margin-right: 162px;
    }

    .six {
      margin-right: 36px;
    }

    .seven {
      margin-right: 53px;
    }

    .eight {
      margin-right: 146px;
    }

    .nine {
      margin-right: 106px;
    }

    .ten {
      margin-right: 93px;
    }

    .eleven {
      margin-right: 210px;
    }

    .twelve {
      margin-right: 173px;
    }

    .thirteen {
      margin-right: 310px;
    }

    .fourteen {
      margin-right: 289px;
    }

    .afterNavBarBannerAndSpan {
      @extend %tplFlexAndColumn;
      margin-left: 42px;

      .productMenu {
        @include heightAndWidth(752px, 922px);
        display: none;
        position: relative;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        animation: fadeIn 0.9s ease-in-out;

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .productMenuBlock {
          @include heightAndWidth(320px, 210px);
          @extend %tplFlexAndColumn;
          align-items: center;
          background-color: $colorWhite;
          box-shadow: $boxShadow;
          border: 0.4px solid #4A4D4A;
          border-radius: 4px;
          transition: $backgroundTransition;
          font-size: 14px;
          text-align: center;
        }

        .oneProduct:hover, .twoProduct:hover,
        .threeProduct:hover, .fourProduct:hover {
          background-color: #cec9c9;
        }

        .oneProduct {
          background-color: #F0F0FF;
          cursor: pointer;

          .pmPhoneMain {
            @include heightAndWidth(116px, 45px);
            margin-top: 45px;
          }

          .oneProductSpan {
            margin-top: 22px;
          }
        }

        .twoProduct {
          background-color: #F0F0FF;
          cursor: pointer;

          .pmTabletMain {
            @include heightAndWidth(118px, 81px);
            margin-top: 45px;
          }

          .twoProductSpan {
            margin-top: 20px;
          }
        }

        .threeProduct {
          background-color: #F0F0FF;
          cursor: pointer;

          .pmPodsMain {
            @include heightAndWidth(117px, 93px);
            margin-top: 48px;
          }

          .threeProductSpan {
            margin-top: 18px;
          }
        }

        .fourProduct {
          background-color: #F0F0FF;
          cursor: pointer;

          .pmCaseMain {
            @include heightAndWidth(117px, 93px);
            margin-top: 48px;
          }

          .fourProductSpan {
            margin-top: 18px;
          }
        }

        .fiveProduct, .sixProduct, .sevenProduct, .eightProduct {
          display: flex;
          justify-content: space-between;
        }

        .pmPhone {
          @include heightAndWidth(94px, 59px);
          margin-top: 8px;
        }

        .pmPods {
          margin-top: 16px;
        }

        .pmClock {
          margin-top: 9px;
        }

        .pmTablet {
          margin-top: 9px;
        }

        .productBlockSpanOne {
          margin-top: 12px;
          font-weight: 600;
          color: black;
          line-height: 17px;
        }

        .fiveProductSpanOneTwo {
          margin-top: 4px;
        }

        .productBlockSpanTwo {
          font-weight: 300;
          line-height: 21px;
        }

        .sevenProductSpanOneTwo {
          margin-top: 11px;
        }

        .productBlockSpanThree {
          font-weight: 400;
          line-height: 21px;
          color: black;
        }

        .productBlockSpanFour {
          color: $colorBlue;
          font-size: 24px;
          line-height: 29px;
        }

        .inBasket {
          @include heightAndWidth(50px, 190px);
          @include flexAndAlign(center, center);
          gap: 11px;
          margin-bottom: 14px;
        }

        .blockBetweenTwoRowProduct {
          @include heightAndWidth(20px, 350px);
          @include flexAndAlign(space-between, center);
          top: 350px;
          display: flex;
          position: absolute;
          flex-direction: row;
          justify-content: space-between;
          color: #4A4D4A;
          font-size: 14px;

          .blockBetweenTwoRowProductOneSpan {
            cursor: pointer;
            transition: color 0.5s;
          }

          .blockBetweenTwoRowProductSpan {
            font-weight: 400;
            line-height: 21px;
            cursor: pointer;
            transition: color 0.5s;
          }

          .blockBetweenTwoRowProductSpan:hover, .blockBetweenTwoRowProductOneSpan:hover {
            color: $colorOrange;
          }

          .leftBlockBetweenOne, .leftBlockBetweenTwo, .leftBlockBetweenThree {
            @include heightAndWidth(8px, 8px);
            position: absolute;
            margin-right: 15px;
            cursor: pointer;
            border-top: 1px solid #4A4D4A;
            border-left: 1px solid #4A4D4A;
            transform: rotate(-135deg);
          }

          .leftBlockBetweenOne {
            @include topAndLeft(3px, 127px);
          }

          .leftBlockBetweenTwo {
            @include topAndLeft(3px, 258px);
          }

          .leftBlockBetweenThree {
            @include topAndLeft(3px, 357px);
          }
        }
      }

      .mainBanner {
        @include heightAndWidth(132px, 922px);
        display: flex;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0;
        text-align: left;
        color: $colorGray;
        font-family: $fontFamilyMontserrat;
        animation: fadeIn 0.5s ease-in-out;

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .bigText {
          font-weight: 700;
          line-height: 44px;
        }

        .orangeText {
          font-family: $fontFamilyRubik;
          color: $colorOrange;
        }
      }

      .mainBannerImage {
        @include heightAndWidth(590px, 922px);
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        background-image: url("../images_adaptive_layout/hat/mainBannerImage.png");
        background-size: cover;
        margin-top: 14px;
        animation: fadeIn 0.5s ease-in-out;
        transition: background-image 0.5s;

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .leftMain {
          @include heightAndWidth(175px, 240px);
          position: absolute;
          left: 715px;
          top: 447px;
          border-top: 8px solid #1F347B;
          border-left: 8px solid #1F347B;
          transform: rotate(-180deg);
        }

        .bannerTextOnImage {
          @include heightAndWidth(116px, 422px);
          margin-left: 400px;
          margin-top: 150px;
          text-align: center;
          font-size: 30px;
          color: $colorWhite;
          font-weight: 550;
          line-height: 37px;
          transition: color 0.5s;
        }

        #showOffer {
          @include heightAndWidth(69px, 330px);
          @include flexAndAlign(center, center);
          margin-left: 440px;
        }

        .bannerButtonCommon {
          @include heightAndWidth(50px, 100%);
          display: flex;
          flex-direction: row;

          .buttonBanner {
            @include heightAndWidth(50px, 50px);
            cursor: pointer;
            background-color: $colorWhite;
            border-radius: 50%;
            transition: $backgroundTransition;
            padding: 20px;

            &:hover {
              background-color: $colorOrange;
            }
          }

          .buttonBannerLeft {
            margin-left: 5px;
          }

          .buttonBannerRight {
            margin-left: 812px;
          }

          .leftBannerButton, .rightBannerButton {
            @include heightAndWidth(16px, 16px);
          }

          .leftBannerButton {
            border-top: 5px solid #001569;
            border-left: 5px solid #001569;
          }

          .leftButtonBannerOne {
            position: relative;
            bottom: 2px;
            right: 2px;
          }

          .rightButtonBannerOne {
            left: 2px;
            top: 16px;
          }

          .leftButtonBannerOne {
            transform: rotate(-45deg);
          }

          .leftButtonBannerTwo, .rightButtonBannerTwo {
            position: relative;
            right: 3px;
            bottom: 2px;
          }
        }

        .leftButtonBannerTwo {
          transform: rotate(-225deg);
        }

        .paginationBanner {
          @include heightAndWidth(20px, 152px);
          display: flex;
          margin: 170px auto auto 370px;

          .circlePagination {
            @include heightAndWidth(20px, 20px);
            cursor: pointer;
            border-radius: 100%;
            margin-left: 4px;
            border: 1px solid $colorWhite;
            transition: $backgroundTransition;

            &:hover {
              background-color: $colorOrange;
            }
          }

          .circlePaginationOne {
            background-color: $colorOrange;
          }
        }
      }
    }
  }

  .sideButtons {
    @include heightAndWidth(271px, 90px);
    box-shadow: $boxShadow;
    position: fixed;
    right: 0;
    margin-top: -690px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1000;

    .oneSideButton, .twoSideButton, .threeSideButton {
      @include flexAndAlign(center, center);
      transition: $backgroundTransition;
    }

    .oneSideButton {
      @include heightAndWidth(90px, 90px);
      background-color: #1F347B;
      border-top-left-radius: 10px;
      transition: $backgroundTransition;
    }

    .oneSideButton:hover, .twoSideButton:hover, .threeSideButton:hover {
      background-color: $colorBlue;
    }

    .twoSideButton {
      @include heightAndWidth(90px, 90px);
      background-color: $colorWhite;
      transition: $backgroundTransition;
    }

    .threeSideButton {
      @include heightAndWidth(91px, 90px);
      background-color: $colorWhite;
      border-bottom-left-radius: 10px;
      border-top: 1px solid #1F347B;
    }

    .oneSideButtonImage {
      @include heightAndWidth(30px, 30px);
      @include topAndLeft(7px, 15px);
    }
  }

  .manyBanners {
    @include heightAndWidth(530px, 1410px);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: 250px 250px;
    flex-wrap: wrap;
    margin: 100px auto auto auto;

    .workCBC, .reliableSupplier,
    .fullComplex, .orderKey,
    .directDeliveries, .qualityService,
    .cooperation {
      @include flexAndAlign(center, center);
      text-align: center;
      box-shadow: $boxShadow;
      transition: $backgroundTransition;
      cursor: pointer;
      background-color: $colorWhite;
    }

    .reliableSupplierSpanOne, .fullComplexSpanOne {
      font-size: 24px;
      margin-top: 10px;
    }

    .reliableSupplierSpanTwo, .fullComplexSpanTwo,
    .orderKeySpanTwo, .cooperationSpanTwo, .qualityServiceSpanTwo {
      font-weight: 400;
    }

    .spanAndImageReliable, .spanAndImageFullComplex,
    .spanAndImageOrderKey {
      @extend %tplFlexAndColumn;
      align-items: center;
      text-align: center;
    }

    .workCBC:hover, .reliableSupplier:hover,
    .fullComplex:hover, .orderKey:hover,
    .directDeliveries:hover, .qualityService:hover,
    .cooperation:hover {
      background-color: #cec9c9;
    }

    .workCBC {
      @include heightAndWidth(250px, 330px);
      background-color: #F0F0FF;

      .workCBCSpan {
        @include heightAndWidth(111px, 256px);
        font-size: 30px;
        line-height: 38px;
      }
    }

    .reliableSupplier {
      @include heightAndWidth(250px, 323px);

      .spanAndImageReliable {
        @include heightAndWidth(172px, 269px);
        margin: 37px 30px;

        .oneImageReliable {
          @include heightAndWidth(60px, 60px);
        }

        .reliableSupplierSpanOne {
          @include heightAndWidth(29px, 269px);
          line-height: 29px;
        }

        .reliableSupplierSpanTwo {
          @include heightAndWidth(63px, 194px);
          margin-top: 10px;
        }
      }
    }

    .fullComplex {
      @include heightAndWidth(250px, 330px);

      .spanAndImageFullComplex {
        @include heightAndWidth(181px, 292px);
        margin: 43px 27px;

        .twoImageReliableOne {
          @include heightAndWidth(62px, 72px);
          margin-top: 2px;
        }

        .fullComplexSpanOne {
          @include heightAndWidth(31px, 215px);
          padding-top: 2px;
        }

        .fullComplexSpanTwo {
          @include heightAndWidth(71px, 292px);
          padding-top: 8px;
        }
      }
    }

    .orderKey {
      @include heightAndWidth(250px, 330px);

      .spanAndImageOrderKey {
        @include heightAndWidth(181px, 178px);
        margin: 29px 36px;

        .threeImageOrderKey {
          @include heightAndWidth(70px, 50px);
        }

        .orderKeySpanOne {
          @include heightAndWidth(29px, 187px);
          font-size: 24px;
          margin-top: 6px;
        }

        .orderKeySpanTwo {
          @include heightAndWidth(63px, 281px);
          margin-top: 8px;
        }
      }
    }

    .directDeliveries {
      @include heightAndWidth(250px, 690px);
      grid-area: 2/1/2/2;
      flex-direction: column;

      .fourImageDirectDeliveries {
        @include heightAndWidth(73px, 70px);
        margin-top: -1px;
      }

      .directDeliveriesSpanOne {
        @include heightAndWidth(29px, 213px);
        font-size: 24px;
        padding-top: 12px;
      }

      .manyPictures {
        @include heightAndWidth(67px, 630px);
        @include flexAndAlign(space-between, center);
        flex-direction: row;
        margin-top: 40px;

        .oneBottom {
          @include heightAndWidth(56px, 45px);
        }

        .twoBottom {
          @include heightAndWidth(44px, 50px);
        }

        .threeBottom {
          @include heightAndWidth(15px, 75px);
        }

        .fourBottom {
          @include heightAndWidth(60px, 60px);
        }

        .fiveBottom {
          @include heightAndWidth(12px, 80px);
        }

        .sixBottom {
          @include heightAndWidth(46px, 70px);
        }

        .sevenBottom {
          @include heightAndWidth(23px, 70px);
        }
      }
    }

    .qualityService {
      @include heightAndWidth(250px, 330px);
      @extend %tplFlexAndColumn;
      align-items: center;
      grid-area: 2/3/2/3;

      .fiveImageOrderKey {
        @include heightAndWidth(63px, 60px);
        background: url("../images_adaptive_layout/manyBanners/fiveImage.png");
      }

      .qualityServiceSpanOne {
        @include heightAndWidth(29px, 267px);
        font-size: 24px;
        margin-top: 15px;
      }

      .qualityServiceSpanTwo {
        @include heightAndWidth(84px, 292px);
        margin-top: 6px;
      }
    }

    .cooperation {
      @extend %tplFlexAndColumn;
      @include heightAndWidth(250px, 330px);
      align-items: center;
      grid-area: 2/4/2/4;
    }

    .sixImageCooperation {
      @include heightAndWidth(54px, 60px);
      margin-top: -8px;
    }

    .cooperationSpanOne {
      @include heightAndWidth(29px, 202px);
      padding-top: 11px;
      font-size: 24px;
    }

    .cooperationSpanTwo {
      @include heightAndWidth(84px, 292px);
      padding-top: 20px;
      line-height: 21px;
    }
  }

  .twoBannersNextDiv {
    @include heightAndWidth(402px, 1410px);
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 130px auto auto auto;

    .leftTwoBanners {
      @include heightAndWidth(175px, 240px);
      @include topAndLeft(-33px, -34px);
      position: absolute;
      border-top: 8px solid #1F347B;
      border-left: 8px solid #1F347B;
      transform: rotate(0deg);
    }

    .oneBanner, .twoBanner {
      @include heightAndWidth(402px, 688px);
      display: flex;
    }

    .oneSpanOneBannerTwoBanners, .oneSpanTwoBannerTwoBanners {
      font-size: 24px;
      text-align: right;
      line-height: 29px;
    }

    .oneBannerSpanAndButton, .twoBannerSpanAndButton {
      @extend %tplFlexAndColumn;
      align-items: self-end;
      margin-top: 82px;
      height: 239px;
    }

    .twoSpanOneBannerTwoBanners, .twoSpanTwoBannerTwoBanners {
      text-align: right;
      font-weight: 400;
      line-height: 21px;
    }

    .oneAndTwoBannerSmallImage {
      @include heightAndWidth(59px, 60px);
      position: absolute;
      margin-left: 15px;
      margin-top: 27px;
    }

    .oneBanner {
      background-color: #F0F0FF;

      .oneBannerImage {
        @include heightAndWidth(240px, 323px);
        position: absolute;
        margin-top: 162px;
      }

      .oneBannerSpanAndButton {
        width: 537px;
        margin-left: 106px;

        .twoSpanOneBannerTwoBanners {
          margin-top: 32px;
        }

        #chooseTechnique {
          @include heightAndWidth(70px, 300px);
          margin-top: 16px;
          text-transform: uppercase;
        }
      }
    }

    .twoBanner {
      background-color: #E3E1FF;

      .twoBannerImage {
        @include heightAndWidth(262px, 344px);
        position: absolute;
        margin-top: 115px;
      }

      .twoBannerSpanAndButton {
        width: 268px;
        margin-left: 389px;

        .twoSpanTwoBannerTwoBanners {
          margin-top: 6px;
        }

        #assembleOffice {
          @include heightAndWidth(69px, 268px);
          margin-top: 17px;
          text-transform: uppercase;
        }
      }
    }
  }

  .oneFooter {
    @include heightAndWidth(300px, 100%);
    display: flex;
    align-items: center;
    background-color: #F0F0FF;
    margin-top: 100px;

    .oneFooterCenterBanner {
      @include heightAndWidth(258px, 1389px);
      display: grid;
      position: relative;
      list-style: none;
      grid-row-gap: 18px;
      grid-template-rows: 74px 166px;
      grid-template-columns: 694px 695px;
      margin: auto;
      padding: 0;

      .onBlockOneFooter {
        @include heightAndWidth(74px, 687px);
        line-height: 37px;
        font-size: 30px;
        align-self: flex-start;
        grid-column-start: 1;
        grid-row-start: 1;
      }

      #twoBlockOneFooter {
        @include heightAndWidth(60px, 400px);
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-self: right;
        grid-column-start: 2;
        grid-row-start: 1;
        border: 2px solid $colorOrange;
        padding-left: 20px;
        transition: $backgroundTransition, color 0.5s;
        background-color: #F0F0FF;
        color: $colorGray;

        &:hover {
          background-color: $colorBlue;
          color: $colorWhite;
        }
      }

      .arrowTwoBlockOneFooterSpan {
        @include topAndLeft(-30px, 1215px);
        position: absolute;
      }

      .threeBlockOneFooter {
        @include heightAndWidth(166px, 1327px);
        @include flexAndAlign(space-between, center);
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        margin-left: 62px;
        font-size: 20px;

        .imagesOneBlockOneFooter, .imagesTwoBlockOneFooter,
        .imagesThreeBlockOneFooter, .imagesFourBlockOneFooter,
        .imagesFiveBlockOneFooter {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .imagesOneBlockOneFooter {
          @include heightAndWidth(161px, 291px);

          .oneImageOneFooter {
            @include heightAndWidth(100px, 120px);
          }
        }

        .imagesTwoBlockOneFooter {
          @include heightAndWidth(104px, 200px);

          .twoImageOneFooter {
            @include heightAndWidth(66px, 200px);
          }
        }

        .imagesThreeBlockOneFooter {
          @include heightAndWidth(161px, 342px);
        }

        .imagesFourBlockOneFooter {
          @include heightAndWidth(85px, 200px);
        }

        .imagesFiveBlockOneFooter {
          @include heightAndWidth(162px, 1509x);
        }
      }
    }
  }

  .bannerManyPictures {
    @include heightAndWidth(804px, 1410px);
    display: grid;
    grid-template-rows: 248px 248px 248px;
    grid-template-columns: 330px 330px 330px 330px;
    grid-gap: 30px;
    margin: 100px auto auto auto;

    .oneBannerManyPictures, .bannersManyPicturesContainer {
      @include heightAndWidth(248px, 330px);
      @include flexAndAlign(center, center);
      display: flex;
      position: relative;
      flex-direction: column;
      background-color: $colorWhite;
      box-shadow: $boxShadow;
      transition: color 0.5s;
      cursor: pointer;
    }

    .oneBannerManyPictures:hover, .bannersManyPicturesContainer:hover {
      color: $colorBlue;
    }

    .commonImageBannerManyPictures {
      @include heightAndWidth(154px, 180px);
      margin-top: -20px;
    }

    .oneBannerManyPictures {
      grid-area: 1/1/1/1;
      background-color: #F0F0FF;

      .oneBannerManyPicturesSpan {
        font-size: 30px;
        text-align: center;
        line-height: 37px;
      }
    }

    .twoBannerManyPicturesTwoSpan, .eightBannerManyPicturesTwoSpan {
      @include heightAndWidth(21px, 303px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
    }

    .arrowBannerManyPictures {
      position: absolute;
      top: 146px;
      left: 158px;
    }

    .eightImageBannerManyPictures {
      @include heightAndWidth(187px, 222px);
      position: absolute;
      top: 5px;
    }

    .elevenImageBannerManyPictures {
      @include heightAndWidth(126px, 195px);
      top: 5px;
    }

    .eightBannerManyPicturesTwoSpan {
      margin-top: 165px;
    }

    .spanElevenBannerManyPictures {
      font-size: 14px;
      font-weight: 400;
      font-family: $fontFamilyMontserrat;
    }

    #showAllOffer {
      @include heightAndWidth(70px, 283px);
      font-size: 14px;
    }
  }

  .twoBannersAfterManyPicturesBanner {
    @include heightAndWidth(402px, 1408px);
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 100px auto auto auto;

    .oneAfterManyPicturesBanner, .twoAfterManyPicturesBanner {
      @include heightAndWidth(402px, 690px);
      display: flex;
      position: relative;
    }

    .smallOneAfterManyPicturesBanner, .smallTwoAfterManyPicturesBanner {
      @include heightAndWidth(60px, 60px);
      position: absolute;
      top: 30px;
      left: 15px;
    }

    .oneSpanAfterManyPictures, .fourSpanAfterManyPictures {
      text-align: right;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .oneAfterManyPicturesBlock, .twoAfterManyPicturesBlock {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .oneAfterManyPicturesBanner {
      background-color: #F0F0FF;

      .bigOneAfterManyPicturesBanner {
        @include heightAndWidth(228px, 273px);
        position: absolute;
        top: 180px;
        z-index: 100;
      }

      .oneAfterManyPicturesBlock {
        @include heightAndWidth(227px, 520px);
        margin: 100px 35px auto auto;
      }

      .oneSpanAfterManyPictures {
        @include heightAndWidth(84px, 520px);
      }

      .twoSpanAfterManyPictures {
        @include heightAndWidth(42px, 464px);
      }

      #oneButtonAfterManyPicturesBanner {
        @include heightAndWidth(65px, 348px);
        text-transform: uppercase;
      }
    }

    .twoSpanAfterManyPictures, .fiveSpanAfterManyPictures {
      text-align: right;
      margin-bottom: 20px;
      font-weight: 400;
    }

    .twoAfterManyPicturesBanner {
      background-color: #E3E1FF;

      .fiveSpanAfterManyPictures {
        @include heightAndWidth(63px, 263px);
      }

      #twoButtonAfterManyPicturesBanner {
        @include heightAndWidth(69px, 268px);
        text-transform: uppercase;
        z-index: 100;
      }

      .bigTwoAfterManyPicturesBanner {
        @include heightAndWidth(254px, 330px);
        position: absolute;
        top: 137px;
        left: 5px;
        z-index: 100;
      }

      .twoAfterManyPicturesBlock {
        @include heightAndWidth(220px, 311px);
        margin: 100px 35px auto auto;
      }

      .fourSpanAfterManyPictures {
        @include heightAndWidth(52px, 311px);
      }
    }

    .leftAfterManyPicturesBanner {
      @include heightAndWidth(175px, 240px);
      @include topAndLeft(260px, 1200px);
      position: absolute;
      border-top: 8px solid #1F347B;
      border-left: 8px solid #1F347B;
      transform: rotate(-180deg);
    }

    .circleAfterManyPicturesBanner {
      @include topAndLeft(247px, 1424px);
    }
  }

  .twoFooter {
    @include heightAndWidth(300px, 100%);
    margin: 100px auto auto auto;
    background-color: #F0F0FF;

    .twoFooterBlockAndImage {
      @include heightAndWidth(260px, 1225px);
      display: flex;
      position: relative;
      justify-content: space-between;
      margin: auto;

      .twoFooterBlock {
        @include heightAndWidth(199px, 487px);
        @extend %tplFlexAndColumn;
        margin: 55px 240px auto auto;
        left: 100px;
        align-items: flex-start;

        .twoFooterOneSpan {
          @include heightAndWidth(60px, 487px);
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 20px;
        }

        .twoFooterTwoSpan {
          @include heightAndWidth(42px, 343px);
          font-size: 17px;
          font-weight: 400;
          margin-bottom: 20px;
        }

        .twoFooterButton {
          @include heightAndWidth(61px, 450px);
          display: flex;
          align-items: center;
          border: 2px solid $colorOrange;
          background-color: #F0F0FF;
          color: $colorGray;
          transition: $backgroundTransition, color 0.5s;
          padding-left: 20px;

          &:hover {
            background-color: $colorBlue;
            color: $colorWhite;
          }
        }

        .arrowTwoFooter {
          @include topAndLeft(166px, 310px);
          position: absolute;
        }
      }

      .twoFooterImage {
        @include heightAndWidth(251px, 464px);
        margin-top: 25px;
      }
    }
  }

  .bannerAfterTwoFooter {
    @include heightAndWidth(334px, 1410px);
    @include flexAndAlign(center, center);
    position: relative;
    margin: 100px auto auto auto;
    border-bottom: 8px solid rgba(31, 52, 123, 0.2);;
    border-left: 8px solid rgba(31, 52, 123, 0.2);;
    box-sizing: border-box;

    .bannerAfterTwoFooterBlock {
      @include heightAndWidth(270px, 1330px);
      @extend %tplFlexAndColumn;

      .bannerAfterTwoFooterSpan {
        @include heightAndWidth(74px, 680px);
        display: inline-block;
        font-size: 30px;
        line-height: 37px;
      }

      .bannerAfterTwoFooterDiv {
        @include flexAndAlign(space-between, center);
        @include heightAndWidth(146px, 1326px);
        margin: auto auto 20px auto;

        .bannerAfterTwoFooterOne {
          @include heightAndWidth(146px, 150px);
        }

        .bannerAfterTwoFooterTwo {
          @include heightAndWidth(80px, 200px);
        }

        .bannerAfterTwoFooterThree {
          @include heightAndWidth(138px, 200px);
        }

        .bannerAfterTwoFooterFour {
          @include heightAndWidth(133px, 200px);
        }

        .bannerAfterTwoFooterFive {
          @include heightAndWidth(112px, 200px);
        }
      }
    }

    .leftAndRightMainAfterTwoFooter {
      display: flex;
      position: absolute;
      margin: 45px 0 0 710px;

      .leftMainAfterTwoFooter {
        @include heightAndWidth(110px, 240px);
        position: absolute;
        left: 171px;
        bottom: -75px;
        border-top: 8px solid rgba(31, 52, 123, 0.2);
        border-left: 8px solid rgba(31, 52, 123, 0.2);
        transform: rotate(-270deg);
      }

      .leftMainAfterTwoFooterAfter {
        @include heightAndWidth(1200px, 240px);
        @include topAndLeft(-666px, -576px);
        position: absolute;
        border-left: 8px solid rgba(31, 52, 123, 0.2);;
        transform: rotate(90deg);
      }
    }
  }

  .twoBannerAfterTwoFooter {
    @include heightAndWidth(660px, 1405px);
    @extend %tplFlexAndColumn;
    margin: 100px auto auto auto;

    .twoBannerAfterTwoFooterSpanBlock {
      @include heightAndWidth(84px, 1146px);
      @include flexAndAlign(center, center);
      flex-direction: column;
      margin: 0 auto 33px auto;

      .twoBannerAfterTwoFooterOneSpan {
        font-size: 36px;
        line-height: 30px;
      }

      .twoBannerAfterTwoFooterTwoSpan {
        padding-top: 10px;
        font-size: 24px;
        line-height: 42px;
      }
    }

    .twoBannerAfterTwoFooterBlockMain {
      @include heightAndWidth(546px, 1405px);
      display: flex;
      justify-content: space-between;
      bottom: 0;
      box-shadow: $boxShadow;

      .mainPicture {
        @include heightAndWidth(471px, 774px);
        margin: 75px 0 0 90px;
      }

      .twoBannerAfterTwoFooterBlockAfterImage {
        @include heightAndWidth(461px, 331px);
        @extend %tplFlexAndColumn;
        margin: 42px 115px 0 0;

        .twoBannerAfterTwoFooterField {
          @include heightAndWidth(80px, 330px);
          width: 330px;
          height: 80px;
          margin-bottom: 30px;
        }

        #getConsultation {
          @include heightAndWidth(80px, 330px);
          text-transform: uppercase;
          width: 330px;
          height: 80px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .bannerBeforeLastFooter {
    @include heightAndWidth(608px, 1408px);
    display: flex;
    position: relative;
    margin: 100px auto auto auto;
    border-right: 8px solid rgba(31, 52, 123, 0.2);
    border-bottom: 8px solid rgba(31, 52, 123, 0.2);

    .beforeLastFooterSpanAndImage {
      @include heightAndWidth(514px, 1188px);
      @extend %tplFlexAndColumn;
      margin: auto;

      .beforeLastFooterSpanImage {
        @include heightAndWidth(74px, 579px);
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        margin: 0 auto auto auto;
      }

      .beforeLastFooterUnderSpanBlock {
        @include heightAndWidth(428px, 1188px);
        @include flexAndAlign(space-between, center);
        flex-direction: row;

        .beforeLastFooterSpanColumnBlock {
          @include heightAndWidth(274px, 459px);
          @extend %tplFlexAndColumn;
          font-size: 20px;
          margin-top: 86px;

          .oneBeforeLastFooterSpanColumnBlock {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            flex-grow: 1;

            .newGeo {
              @include heightAndWidth(40px, 30px);
            }

            .newPhone, .clock {
              width: 30px;
              height: 30px;
            }

            .clock {
              margin-bottom: 8px;
            }

            .newSMS {
              width: 30px;
              height: 22px;
              margin-bottom: 8px;
            }

            .newWhatsApp {
              width: 26px;
              height: 26px;
              margin-bottom: 8px;
            }

            .bannerBeforeLastFooterSpan {
              margin: 0 0 10px 10px;
            }
          }
        }

        .maps {
          @include heightAndWidth(423px, 553px);
          background: url("../images_adaptive_layout/bannerBeforeLastFooter/maps.png");
          background-size: cover;
        }
      }
    }

    .lineBorderLeftBannerBeforeLastFooter,
    .lineBorderTopBannerBeforeLastFooter {
      position: absolute;
      border-top: 8px solid rgba(31, 52, 123, 0.2);
    }

    .lineBorderLeftBannerBeforeLastFooter {
      @include heightAndWidth(430px, 120px);
      top: 170px;
      border-left: 8px solid rgba(31, 52, 123, 0.2);
    }

    .lineBorderTopBannerBeforeLastFooter {
      @include heightAndWidth(10px, 1230px);
      left: 170px;
    }
  }

  .lastFooter {
    @include heightAndWidth(343px, 100%);
    @include flexAndAlign(center, center);
    position: relative;
    margin-top: 100px;
    background-color: #F0F0FF;

    .lastFooterMainBlock {
      @include heightAndWidth(267px, 1408px);
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .lastFooterOneBlock, .lastFooterTwoBlock,
      .lastFooterThreeBlock, .lastFooterFourBlock,
      .lastFooterFiveBlock, .lastFooterSixBlock {
        @extend %tplFlexAndColumn;
        justify-content: space-between;
      }

      .lastFooterOneBlock {
        @include heightAndWidth(222px, 209px);

        .cbsFooter {
          @include heightAndWidth(94px, 209px);
        }

        .lastFooterOneSpan {
          @include heightAndWidth(103px, 209px);
          line-height: 21px;
        }
      }

      .lastFooterTwoBlock {
        @include heightAndWidth(212px, 247px);
      }

      .lastFooterBlockBigSpan {
        line-height: 21px;
        font-weight: 700;
      }

      .lastFooterBlockSmallSpan {
        font-size: 14px;
        line-height: 17px;
      }

      .lastFooterThreeBlock {
        @include heightAndWidth(176px, 167px);
      }

      .lastFooterFourBlock {
        @include heightAndWidth(212px, 155px);
      }

      .lastFooterFiveBlock {
        @include heightAndWidth(220px, 31px);
        align-items: center;

        .ig, .goldWhatsApp, .human {
          @include heightAndWidth(30px, 30px);
        }

        .faceB {
          @include heightAndWidth(41px, 20px);
        }

        .vk {
          @include heightAndWidth(17px, 30px);
        }
      }

      .lastFooterSixBlock {
        @include heightAndWidth(168px, 185px);

        .lastFooterSixBlockSpanImageOne, .lastFooterSixBlockSpanImageTwo,
        .lastFooterSixBlockSpanImageThree {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .lastFooterSixBlockSpanImageOne {
          @include heightAndWidth(22px, 185px);
          font-family: $fontFamilyMontserrat;

          .lastPhone {
            @include heightAndWidth(19px, 18px);
            width: 18px;
            height: 19px;
          }
        }

        .lastFooterSixBlockSpanImageTwo {
          @include heightAndWidth(21px, 162px);
          margin-left: -3px;

          .lastSMS {
            @include heightAndWidth(18px, 24px);
          }
        }

        .lastFooterSixBlockSpanImageThree {
          @include heightAndWidth(50px, 185px);

          .lastGeo {
            @include heightAndWidth(27px, 20px);
          }

          .lastFooterTwoSpan {
            @include heightAndWidth(50px, 146px);
            @extend %tplFlexAndColumn;
            text-align: center;
            margin-right: 8px;

            .lastFooterTwoSpanOne {
              font-family: $fontFamilyMontserrat;
              font-weight: 600;
              text-align: left;
              line-height: 29px;
              font-size: 20px;
            }

            .lastFooterTwoSpanTwo {
              font-family: $fontFamilyMontserrat;
              line-height: 23px;
              font-size: 16px;
            }
          }
        }
      }

      .visa {
        @include heightAndWidth(60px, 197px);
        position: absolute;
        top: 251px;
        margin-left: 1226px;
      }
    }
  }
}