@import "fonts";

body {
  font-family: Rubik, sans-serif;
  //background-color: #fa4f4f;
  span {
    color: green;
  }
  background: url("../img/shoppingBasket.png") 0 0 no-repeat;
}

@media (max-width: 768px) {
  span {
    font-size: 20px;
  }
}


@media (max-width: 768px) {
  body {
    background-color: #4f980a;
  }
}