body {
    margin: 15px 0 0 0;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #4A4D4A;
    font-size: 18px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

button {
    background-color: #FFAF37;
    cursor: pointer;
    color: #FFFF;
    font-size: 18px;
    font-family: Rubik, sans-serif;
    border: none;
    line-height: 21px;
    font-weight: 500;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #4f980a;
}

.hatBlock {
    display: grid;
    grid-template-rows: 48px 63px 54px;
    grid-template-columns: 767px 641px;
    height: 163px;
    width: 1395px;
    margin: auto;
}

.labelImg {
    grid-area: 1/1/2/1;
    height: 138px;
    width: 329px;
    margin: -12px 0 0 -7px;
}

.navBar {
    grid-area: 1/1/1/2;
    display: flex;
    width: 1046px;
    height: 24px;
    gap: 44px;
    margin: 0 0 0 360px;
}

.commonSizesNumber {
    cursor: pointer;
    margin: 0;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0;
    transition: color 0.5s;
}

.sizesOne {
    width: 178px;
    height: 24px;
}

.sizesOne:hover, .sizesTwo:hover,
.sizesThree:hover, .sizesFour:hover,
.sizesFive:hover, .sizesSix:hover {
    color: #FFAF37;
}

.commonSizesNumber:after {
    content: '';
    display: inline-block;
    position: relative;
    height: 2px;
    top: -11px;
    left: 0;
    background-image: linear-gradient(to right, black 60%, transparent 0);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    transition: linear-gradient 0.5s;
}

.sizesOne:after {
    width: 181px;
}

.sizesOne:hover:after, .sizesTwo:hover:after,
.sizesThree:hover:after, .sizesFour:hover:after,
.sizesFive:hover:after, .sizesSix:hover:after {
    background-image: linear-gradient(to right, #FFAF37 100%, transparent 0);
}

.sizesTwo {
    width: 187px;
    height: 24px;
}

.sizesTwo::after {
    width: 190px;
}

.sizesThree {
    width: 78px;
    height: 24px;
}

.sizesThree::after {
    width: 81px;
}

.sizesFour {
    width: 167px;
    height: 24px;
}

.sizesFour::after {
    width: 170px;
}

.sizesFive {
    width: 117px;
    height: 24px;
}

.sizesFive::after {
    width: 122px;
}

.sizesSix {
    width: 99px;
    height: 24px;
}

.sizesSix::after {
    width: 100px;
}

.description {
    display: flex;
    grid-area: 2/1/2/1;
    margin: 5px auto auto 360px;
    width: 403px;
    height: 45px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.phoneNumber {
    display: flex;
    grid-area: 2/2/2/2;
    justify-content: space-between;
    width: 569px;
    height: 37px;
    margin: 5px 0 auto auto;
    padding-right: 4px;
}

.phoneImage {
    height: 30px;
    width: 30px;
}

.number {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;
}

#RequestCall {
    width: 240px;
    height: 37px;
}

.numberAndButton {
    display: flex;
    grid-area: 3/1/3/1;
    margin: 15px 0 0 -7px;
}

.searchField {
    cursor: text;
    width: 690px;
    height: 40px;
}

.searchField::placeholder {
    font-size: 14px;
    padding-left: 20px;
}

#searchButton {
    position: absolute;
    font-size: 20px;
    background-color: white;
    border: none;
    margin: 8px 0 0 639px;
}

.contactWithMe {
    display: flex;
    grid-area: 3/2/3/2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 624px;
    margin-left: 14px;
}

.whatsApp {
    width: 24px;
    height: 24px;
}

.contactsOne {
    margin-left: 10px;
    height: 34px;
    width: 130px;
    font-size: 14px;
    line-height: 17px;
}

.sms {
    margin: 9px 0 0 80px;
    width: 24px;
    height: 18px;
}

.contactsTwo {
    margin: 4px 0 0 12px;
    height: 21px;
    width: 164px;
}

.geo {
    margin: 14px 0 0 66px;
    width: 20px;
    height: 27px;
}

.contactsThree {
    height: 50px;
    width: 176px;
    font-size: 16px;
    text-align: center;
    margin: 4px auto auto 10px;
}

.city {
    font-size: 20px;
    font-weight: 600;
}

.bottom_navBar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #F0F0FF;
    margin-top: 28px;
    justify-content: space-between;
    padding: 15px;
}

.alignSpan {
    display: flex;
    justify-content: space-between;
    width: 1394px;
    margin: auto;
}

.bottom_navBar_one, .bottom_navBar_two,
.bottom_navBar_three, .bottom_navBar_four {
    cursor: pointer;
    transition: color 0.5s;
}

.bottom_navBar_one:hover, .bottom_navBar_two:hover,
.bottom_navBar_three:hover, .bottom_navBar_four:hover {
    color: #FFAF37;
}

.bottom_navBar_one:after, .bottom_navBar_two::after,
.bottom_navBar_three::after, .bottom_navBar_four::after {
    content: '';
    position: absolute;
    margin-top: 30px;
    height: 2px;
    background-image: linear-gradient(to right, black 60%, transparent 0);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    cursor: pointer;
}

.bottom_navBar_one:hover:after, .bottom_navBar_two:hover:after,
.bottom_navBar_three:hover:after, .bottom_navBar_four:hover:after {
    background-image: linear-gradient(to right, #FFAF37 100%, transparent 0);
}

.bottom_navBar_one {
    display: flex;
    position: relative;
    height: 29px;
    width: 245px;
    left: -7px;
}

.bottom_navBar_one:after {
    left: 0;
    width: 240px;
}

.bottom_navBar_two {
    display: flex;
    width: 350px;
    height: 25px;
    line-height: 21px;
}

.bottom_navBar_two::after {
    width: 350px;
}

.bottom_navBar_three {
    display: flex;
    width: 385px;
    height: 21px;
    padding-left: 12px;
}

.bottom_navBar_three::after {
    width: 375px;
}

.bottom_navBar_four {
    display: flex;
    position: relative;
    width: 99px;
    height: 21px;
    padding-left: 21px;
}

.bottom_navBar_four::after {
    left: 0;
    margin-left: 23px;
    width: 85px;
}

.afterNavBar {
    display: flex;
    justify-content: space-between;
    width: 1410px;
    height: 736px;
    margin: 50px auto auto auto;
}


.mainMenu {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 736px;
}

.headerMainMenu {
    display: inline-block;
    width: 447px;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background: #F0F0FF;
}

.headerSpan {
    display: flex;
    width: 106px;
    height: 26px;
    margin: 17px auto auto 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
}

.choiceChapter {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 #00000040;
    width: 447px;
    height: 676px;
}

.choiceChapterOne {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 447px;
    height: 40px;
}

.left {
    position: absolute;
    width: 9px;
    height: 9px;
    margin-left: 377px;
    cursor: pointer;
    margin-top: 10px;
}

.left {
    border-top: 2px solid #00156999;
    border-left: 2px solid #00156999;
    transform: rotate(-225deg);
}

.choiceChapter > div > :nth-child(1) {
    width: 20px;
    height: 16px;
    margin-top: 4px;
}

.choiceChapter > div > :nth-child(2) {
    margin-left: 12px;
}

#smallImageSize, #smallTwoImageSize,
#smallFourImageSize, #smallFiveImageSize,
#smallSixImageSize {
    height: 20px;
}

#newSticker {
    height: 10px;
    margin-top: 6px;
}

#smallOneImageSize {
    width: 15px;
    height: 24px;
    margin-top: -1px;
    margin-left: 2px;
}

.commonSpanMainMenu {
    display: flex;
    margin-left: 22px;
    margin-bottom: 22px;
}

.one {
    width: 339px;
    height: 21px;
    margin-top: 10px;
}

.two {
    width: 289px;
    height: 21px;
}

.three {
    width: 279px;
    height: 21px;
}

.four {
    width: 265px;
    height: 21px;
}

.five {
    width: 254px;
    height: 21px;
}

.six {
    padding-left: 3px;
    width: 389px;
    height: 24px;
}

.seven {
    width: 372px;
    height: 42px;
}

.eight {
    width: 297px;
    height: 42px;
}

.nine {
    width: 337px;
    height: 47px;
}

.ten {
    width: 337px;
    height: 21px;
}

.eleven {
    width: 209px;
    height: 21px;
}

.twelve {
    width: 254px;
    height: 21px;
}

.thirteen {
    width: 107px;
    height: 21px;
}

.fourteen {
    width: 127px;
    height: 21px;
}


.afterNavBarBannerAndSpan {
    display: flex;
    flex-direction: column;
    margin-left: 42px;
}

.mainBanner {
    width: 922px;
    height: 132px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #4A4D4A;
    font-family: Montserrat, sans-serif;
}

.bigText {
    font-weight: 700;
    line-height: 44px;
}

.orangeText {
    font-family: Rubik, sans-serif;
    color: #FFAF37;
}

.mainBannerImage {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 922px;
    height: 590px;
    border-radius: 10px;
    background: url("images/hat/mainBannerImage.png");
    background-size: cover;
    margin-top: 14px;
}

.leftMain {
    position: absolute;
    width: 240px;
    height: 175px;
    left: 715px;
    top: 447px;
    border-top: 8px solid #1F347B;
    border-left: 8px solid #1F347B;
    transform: rotate(-180deg);
}

.circle, .circleTwoBanners, .circleAfterManyPicturesBanner,
.circleAfterTwoFooter, .circleBannerBeforeLastFooter {
    position: absolute;
    background-color: #1F347B;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.circle {
    left: 939px;
    top: 430px;
}

.circleTwoBanners {
    top: 138px;
    left: -42px;
}

.circleAfterManyPicturesBanner {
    top: 247px;
    left: 1424px;
}

.circleAfterTwoFooter {
    left: 143px;
    bottom: 171px;
    background-color: rgba(31, 52, 123, 0.2);
}

.circleBannerBeforeLastFooter {
    top: -9px;
    left: 147px;
    background-color: rgba(31, 52, 123, 0.2);
}

.bannerTextOnImage {
    margin-left: 400px;
    margin-top: 150px;
    height: 116px;
    width: 422px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 550;
    line-height: 37px;
}

#showOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 440px;
    width: 330px;
    height: 69px;
}

.bannerButtonCommon {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.buttonBanner {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 0.5s;
    padding: 20px;
}

.buttonBanner:hover {
    background-color: #4f980a;
}

.buttonBannerLeft {
    margin-left: 5px;
}

.buttonBannerRight {
    margin-left: 812px;
}

.leftBannerButton, .rightBannerButton {
    width: 16px;
    height: 16px;
}

.leftBannerButton {
    border-top: 5px solid #001569;
    border-left: 5px solid #001569;
}

.leftButtonBannerOne {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.rightButtonBannerOne {
    left: 2px;
    top: 16px;
}

.leftButtonBannerOne {
    transform: rotate(-45deg);
}

.leftButtonBannerTwo, .rightButtonBannerTwo {
    position: relative;
    right: 3px;
    bottom: 2px;
}

.leftButtonBannerTwo {
    transform: rotate(-225deg);
}

.paginationBanner {
    display: flex;
    margin: 170px auto auto 370px;
    height: 20px;
    width: 152px;
}

.circlePagination {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-left: 4px;
    border: 1px solid #FFFFFF;
    transition: background-color 0.5s;
}

.circlePagination:hover {
    background-color: #4f980a;
}

.circlePaginationOne {
    background-color: #FFAF37;
}

.sideButtons {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 30%;
    width: 5%;
    max-height: 271px;
    max-width: 90px;
    right: 0;
    margin-top: -690px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 20px 0 #00000040;
    cursor: pointer;
    z-index: 1000;
}

.oneSideButton, .twoSideButton, .threeSideButton {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.oneSideButton {
    height: 90px;
    width: 90px;
    background-color: #1F347B;
    border-top-left-radius: 10px;
    transition: background-color 0.5s;
}

.oneSideButton:hover {
    background-color: #4f980a;
}

.oneSideButtonImage {
    max-height: 30px;
    max-width: 30px;
    height: 50%;
    width: 50%;
    top: 7px;
    left: 15px;
}

.twoSideButton {
    background-color: #FFFFFF;
    height: 90px;
    width: 90px;
    transition: background-color 0.5s;
}

.twoSideButton:hover {
    background-color: #4f980a;
}

.threeSideButton {
    background-color: #FFFFFF;
    height: 91px;
    width: 90px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #1F347B;
}

.threeSideButton:hover {
    background-color: #4f980a;
}

.manyBanners {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: 250px 250px;
    flex-wrap: wrap;
    margin: 100px auto auto auto;
    height: 530px;
    width: 1410px;
}

.workCBC, .reliableSupplier,
.fullComplex, .orderKey,
.directDeliveries, .qualityService,
.cooperation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 20px 0 #00000040;
    transition: background-color 0.5s;
    cursor: pointer;
    background-color: #FFFF;
}

.workCBC {
    height: 250px;
    width: 330px;
    background-color: #F0F0FF;
}

.workCBC:hover {
    background-color: #cec9c9;
}

.workCBCSpan {
    line-height: 38px;
    height: 111px;
    width: 256px;
    font-size: 30px;
}

.reliableSupplier {
    height: 250px;
    width: 323px;
}

.reliableSupplier:hover {
    background-color: #cec9c9;
}

.spanAndImageReliable {
    width: 269px;
    height: 172px;
    margin: 37px 30px;
}

.oneImageReliable {
    height: 60px;
    width: 60px;
}


.reliableSupplierSpanOne, .fullComplexSpanOne {
    font-size: 24px;
    margin-top: 10px;
}

.reliableSupplierSpanTwo, .fullComplexSpanTwo,
.orderKeySpanTwo, .cooperationSpanTwo, .qualityServiceSpanTwo {
    font-weight: 400;
}

.spanAndImageReliable, .spanAndImageFullComplex,
.spanAndImageOrderKey {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reliableSupplierSpanOne {
    height: 29px;
    width: 269px;
    line-height: 29px;
}

.reliableSupplierSpanTwo {
    height: 63px;
    width: 194px;
    margin-top: 10px;
}

.fullComplex {
    height: 250px;
    width: 330px;
}

.fullComplex:hover {
    background-color: #cec9c9;
}

.twoImageReliableOne {
    margin-top: 2px;
    height: 62px;
    width: 72px;
}

.spanAndImageFullComplex {
    width: 292px;
    height: 181px;
    margin: 43px 27px;
}

.fullComplexSpanOne {
    height: 31px;
    width: 215px;
    padding-top: 2px;
}

.fullComplexSpanTwo {
    height: 71px;
    width: 292px;
    padding-top: 8px;
}

.orderKey {
    height: 250px;
    width: 330px;
}

.orderKey:hover {
    background-color: #cec9c9;
}

.threeImageOrderKey {
    height: 70px;
    width: 50px;
}

.spanAndImageOrderKey {
    width: 178px;
    height: 181px;
    margin: 29px 36px;
}

.orderKeySpanOne {
    height: 29px;
    width: 187px;
    font-size: 24px;
    margin-top: 6px;
}

.orderKeySpanTwo {
    height: 63px;
    width: 281px;
    margin-top: 8px;
}

.directDeliveries {
    grid-area: 2/1/2/2;
    flex-direction: column;
    height: 250px;
    width: 690px;
}

.directDeliveries:hover {
    background-color: #cec9c9;
}

.spanDirectDeliveries {
    display: flex;
    width: 178px;
    height: 181px;
    margin: 29px 36px;
}

.fourImageDirectDeliveries {
    margin-top: -1px;
    height: 73px;
    width: 70px;
}

.directDeliveriesSpanOne {
    height: 29px;
    width: 213px;
    font-size: 24px;
    padding-top: 12px;
}

.manyPictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    height: 67px;
    width: 630px;
}

.oneBottom {
    height: 56px;
    width: 45px;
}

.twoBottom {
    height: 44px;
    width: 50px;
}

.threeBottom {
    height: 15px;
    width: 75px;
}

.fourBottom {
    height: 60px;
    width: 60px;
}

.fiveBottom {
    height: 12px;
    width: 80px;
}

.sixBottom {
    height: 46px;
    width: 70px;
}

.sevenBottom {
    height: 23px;
    width: 70px;
}

.qualityService {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 2/3/2/3;
    height: 250px;
    width: 330px;
}

.qualityService:hover {
    background-color: #cec9c9;
}

.fiveImageOrderKey {
    height: 63px;
    width: 60px;
    background: url("images/manyBanners/fiveImage.png");
}

.qualityServiceSpanOne {
    height: 29px;
    width: 267px;
    font-size: 24px;
    margin-top: 15px;
}

.qualityServiceSpanTwo {
    height: 84px;
    width: 292px;
    margin-top: 6px;
}

.cooperation {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 2/4/2/4;
    height: 250px;
    width: 330px;
}

.cooperation:hover {
    background-color: #cec9c9;
}

.sixImageCooperation {
    margin-top: -8px;
    height: 54px;
    width: 60px;
}

.cooperationSpanOne {
    padding-top: 11px;
    height: 29px;
    width: 202px;
    font-size: 24px;
}

.cooperationSpanTwo {
    padding-top: 20px;
    height: 84px;
    width: 292px;
    line-height: 21px;
}

.twoBannersNextDiv {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 1410px;
    height: 402px;
    margin: 130px auto auto auto;
}

.oneBanner, .twoBanner {
    display: flex;
    height: 402px;
    width: 688px;
}

.oneBanner {
    background-color: #F0F0FF;
}

.twoBanner {
    background-color: #E3E1FF;
}

.oneBannerSmallImage {
    position: absolute;
    height: 59px;
    width: 60px;
    margin-left: 15px;
    margin-top: 27px;
}

.oneBannerImage {
    position: absolute;
    height: 240px;
    width: 323px;
    margin-top: 162px;
}

.twoBannerImage {
    position: absolute;
    height: 262px;
    width: 344px;
    margin-top: 115px;
}

.oneSpanOneBannerTwoBanners, .oneSpanTwoBannerTwoBanners {
    font-size: 24px;
    text-align: right;
    line-height: 29px;
}

.twoSpanOneBannerTwoBanners, .twoSpanTwoBannerTwoBanners {
    text-align: right;
    font-weight: 400;
    line-height: 21px;
}

.twoSpanOneBannerTwoBanners {
    margin-top: 32px;
}

.twoSpanTwoBannerTwoBanners {
    margin-top: 6px;
}

#chooseTechnique {
    margin-top: 16px;
    height: 70px;
    width: 300px;
    text-transform: uppercase;
}

.twoBannerSmallImage {
    position: absolute;
    height: 59px;
    width: 60px;
    margin-left: 20px;
    margin-top: 27px;
}


.oneBannerSpanAndButton, .twoBannerSpanAndButton {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-top: 82px;
    height: 239px;
}

.oneBannerSpanAndButton {
    width: 537px;
    margin-left: 106px;
}

.twoBannerSpanAndButton {
    width: 268px;
    margin-left: 389px;
}

#assembleOffice {
    margin-top: 17px;
    height: 69px;
    width: 268px;
    text-transform: uppercase;
}

.leftTwoBanners {
    position: absolute;
    width: 240px;
    height: 175px;
    left: -34px;
    top: -33px;
    border-top: 8px solid #1F347B;
    border-left: 8px solid #1F347B;
    transform: rotate(0deg);
}

.oneFooter {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #F0F0FF;
    margin-top: 100px;
}

.oneFooterCenterBanner {
    display: grid;
    list-style: none;
    grid-row-gap: 18px;
    grid-template-rows: 74px 166px;
    grid-template-columns: 694px 695px;
    height: 258px;
    width: 1389px;
    margin: auto;
    padding: 0;
}

.onBlockOneFooter {
    line-height: 37px;
    font-size: 30px;
    align-self: flex-start;
    grid-column-start: 1;
    grid-row-start: 1;
    height: 74px;
    width: 687px;
}

.twoBlockOneFooter {
    cursor: pointer;
    justify-self: right;
    grid-column-start: 2;
    grid-row-start: 1;
    border: 2px solid #FFAF37;
    margin-top: 3px;
    margin-right: 10px;
    height: 60px;
    width: 400px;
    transition: background-color 0.5s;
}

.twoBlockOneFooter:hover {
    background-color: #4f980a;
}

.twoBlockOneFooterDiv {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 400px;
}

.twoBlockOneFooterSpan {
    position: relative;
    height: 24px;
    width: 369px;
}

.arrowTwoBlockOneFooterSpan {
    position: absolute;
    top: -30px;
    left: 225px;
}

.threeBlockOneFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    height: 166px;
    width: 1327px;
    margin-left: 62px;
    font-size: 20px;
}


.imagesOneBlockOneFooter, .imagesTwoBlockOneFooter,
.imagesThreeBlockOneFooter, .imagesFourBlockOneFooter,
.imagesFiveBlockOneFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagesOneBlockOneFooter {
    height: 161px;
    width: 291px;
}

.imagesTwoBlockOneFooter {
    height: 104px;
    width: 200px;
}

.imagesThreeBlockOneFooter {
    height: 161px;
    width: 342px;
}

.imagesFourBlockOneFooter {
    height: 85px;
    width: 200px;
}

.imagesFiveBlockOneFooter {
    height: 162px;
    width: 150px;
}

.oneImageOneFooter {
    height: 100px;
    width: 120px;
}

.twoImageOneFooter {
    height: 66px;
    width: 200px;
}

.threeImageOneFooter {
    height: 105px;
    width: 200px;
}

.fourImageOneFooter {
    height: 48px;
    width: 200px;
}

.twoImageOneFooter {
    height: 102px;
    width: 150px;
}

.bannerManyPictures {
    display: grid;
    grid-template-rows: 248px 248px 248px;
    grid-template-columns: 330px 330px 330px 330px;
    grid-gap: 30px;
    max-width: 1410px;
    max-height: 804px;
    margin: 100px auto auto auto;
}

.oneBannerManyPictures, .bannersManyPicturesContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 330px;
    max-height: 248px;
    background-color: #FFFF;
    box-shadow: 0 4px 20px 0 #00000040;
    transition: color 0.5s;
    cursor: pointer;
}

.oneBannerManyPictures:hover, .bannersManyPicturesContainer:hover {
    color: #4f980a;
}

.commonImageBannerManyPictures {
    margin-top: -20px;
    height: 154px;
    width: 180px;
}

.eightImageBannerManyPictures {
    position: absolute;
    height: 187px;
    width: 222px;
    top: 5px;
}

.elevenImageBannerManyPictures {
    height: 126px;
    width: 195px;
    top: 5px;
}

.oneBannerManyPictures {
    grid-area: 1/1/1/1;
    background-color: #F0F0FF;
}

.oneBannerManyPicturesSpan {
    font-size: 30px;
    text-align: center;
    line-height: 37px;
}

.twoBannerManyPicturesTwoSpan, .eightBannerManyPicturesTwoSpan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 21px;
    width: 303px;
    margin-top: 30px;
}

.arrowBannerManyPictures {
    position: absolute;
    top: 146px;
    left: 158px;
}

.eightBannerManyPicturesTwoSpan {
    margin-top: 165px;
}

.spanElevenBannerManyPictures {
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}

#showAllOffer {
    height: 70px;
    width: 283px;
    font-size: 14px;
}

.arrowLeftManyPictures {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.arrowLeftManyPictures::before {
    width: 40px;
    height: 2px;
    background-color: #4A4D4A;
    top: 58px;
    left: 117px;
}

.arrowLeftManyPictures::before,
.arrowLeftManyPictures::after {
    content: '';
    position: absolute;
}

.arrowLeftManyPictures::after {
    width: 10px;
    height: 10px;
    top: 54px;
    left: 147px;
}

.arrowLeftManyPictures::after {
    border-top: 2px solid #4A4D4A;
    border-left: 2px solid #4A4D4A;
    transform: rotate(-225deg);
}

.twoBannersAfterManyPicturesBanner {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 1408px;
    height: 402px;
    margin: 100px auto auto auto;
}

.oneAfterManyPicturesBanner, .twoAfterManyPicturesBanner {
    display: flex;
    position: relative;
    width: 690px;
    height: 402px;
}

.oneAfterManyPicturesBanner {
    background-color: #F0F0FF;
}

.twoAfterManyPicturesBanner {
    background-color: #E3E1FF;
}

.smallOneAfterManyPicturesBanner, .smallTwoAfterManyPicturesBanner {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 15px;
}

.bigOneAfterManyPicturesBanner {
    position: absolute;
    top: 180px;
    width: 273px;
    height: 228px;
    z-index: 100;
}

.bigTwoAfterManyPicturesBanner {
    position: absolute;
    top: 137px;
    left: 5px;
    width: 330px;
    height: 254px;
    z-index: 100;
}

.oneAfterManyPicturesBlock, .twoAfterManyPicturesBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.oneAfterManyPicturesBlock {
    height: 227px;
    width: 520px;
    margin: 100px 35px auto auto;
}

.twoAfterManyPicturesBlock {
    height: 220px;
    width: 311px;
    margin: 100px 35px auto auto;
}

.oneSpanAfterManyPictures, .fourSpanAfterManyPictures {
    text-align: right;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.oneSpanAfterManyPictures {
    width: 520px;
    height: 84px;
}

.fourSpanAfterManyPictures {
    width: 311px;
    height: 52px;
}

.twoSpanAfterManyPictures, .fiveSpanAfterManyPictures {
    text-align: right;
    margin-bottom: 20px;
    font-weight: 400;
}

.twoSpanAfterManyPictures {
    width: 464px;
    height: 42px;
}

.fiveSpanAfterManyPictures {
    width: 263px;
    height: 63px;
}

#oneButtonAfterManyPicturesBanner {
    width: 348px;
    height: 65px;
    text-transform: uppercase;
}

#twoButtonAfterManyPicturesBanner {
    width: 268px;
    height: 69px;
    text-transform: uppercase;
    z-index: 100;
}

.bigOneAfterManyPicturesBanner {
    position: absolute;
    top: 180px;
    width: 273px;
    height: 228px;
    z-index: 100;
}

.oneAfterManyPicturesBlock, .twoAfterManyPicturesBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.oneAfterManyPicturesBlock {
    height: 227px;
    width: 520px;
    margin: 100px 35px auto auto;
}

.oneSpanAfterManyPictures {
    width: 520px;
    height: 84px;
    text-align: right;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.twoSpanAfterManyPictures {
    width: 464px;
    height: 42px;
    text-align: right;
    margin-bottom: 20px;
}

#oneButtonAfterManyPicturesBanner {
    width: 348px;
    height: 65px;
    text-transform: uppercase;
}

.leftAfterManyPicturesBanner {
    position: absolute;
    width: 240px;
    height: 175px;
    top: 260px;
    left: 1200px;
    border-top: 8px solid #1F347B;
    border-left: 8px solid #1F347B;
    transform: rotate(-180deg);
}

.twoFooter {
    width: 100%;
    height: 300px;
    margin: 100px auto auto auto;
    background-color: #F0F0FF;
}

.twoFooterBlockAndImage {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1225px;
    height: 260px;
}

.twoFooterBlock {
    display: flex;
    flex-direction: column;
    width: 487px;
    height: 199px;
    margin: 55px 240px auto auto;
    left: 100px;
    align-items: flex-start;
}

.twoFooterImage {
    margin-top: 25px;
    width: 464px;
    height: 251px;
}

.twoFooterOneSpan {
    width: 487px;
    height: 60px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.twoFooterTwoSpan {
    font-size: 17px;
    font-weight: 400;
    width: 343px;
    height: 42px;
    margin-bottom: 20px;
}

.twoFooterButton {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 450px;
    height: 61px;
    border: 2px solid #FFAF37;
    transition: background-color 0.5s;
}

.twoFooterButton:hover {
    background-color: #4f980a;
}

.twoFooterButtonSpan {
    margin: 17px auto auto 15px;
}

.arrowTwoFooter {
    position: absolute;
    left: 270px;
    top: -31px;
}

.bannerAfterTwoFooter {
    display: flex;
    position: relative;
    margin: 100px auto auto auto;
    width: 1410px;
    height: 334px;
    align-items: center;
    justify-content: center;
    border-bottom: 8px solid rgba(31, 52, 123, 0.2);;
    border-left: 8px solid rgba(31, 52, 123, 0.2);;
    box-sizing: border-box;

}

.bannerAfterTwoFooterBlock {
    display: flex;
    flex-direction: column;
    width: 1330px;
    height: 270px;
}

.bannerAfterTwoFooterSpan {
    display: inline-block;
    font-size: 30px;
    line-height: 37px;
    width: 680px;
    height: 74px;
}

.bannerAfterTwoFooterDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1326px;
    height: 146px;
    margin: auto auto 20px auto;
}

.bannerAfterTwoFooterOne {
    width: 150px;
    height: 146px;
}

.bannerAfterTwoFooterTwo {
    width: 200px;
    height: 80px;
}

.bannerAfterTwoFooterThree {
    width: 200px;
    height: 138px;
}

.bannerAfterTwoFooterFour {
    width: 200px;
    height: 133px;
}

.bannerAfterTwoFooterFive {
    width: 200px;
    height: 112px;
}

.leftAndRightMainAfterTwoFooter {
    display: flex;
    position: absolute;
    margin: 45px 0 0 710px;
}

.leftMainAfterTwoFooter {
    position: absolute;
    width: 240px;
    height: 110px;
    left: 171px;
    bottom: -75px
}

.leftMainAfterTwoFooter {
    border-top: 8px solid rgba(31, 52, 123, 0.2);;
    border-left: 8px solid rgba(31, 52, 123, 0.2);;
    transform: rotate(-270deg);
}

.leftMainAfterTwoFooterAfter {
    position: absolute;
    width: 240px;
    height: 1200px;
    left: -576px;
    top: -666px;
}

.leftMainAfterTwoFooterAfter {
    border-left: 8px solid rgba(31, 52, 123, 0.2);;
    transform: rotate(90deg);
}

.twoBannerAfterTwoFooter {
    display: flex;
    flex-direction: column;
    width: 1405px;
    height: 660px;
    margin: 100px auto auto auto;
}

.twoBannerAfterTwoFooterSpanBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 33px auto;
    width: 1146px;
    height: 84px;
}

.twoBannerAfterTwoFooterOneSpan {
    font-size: 36px;
    line-height: 30px;
}

.twoBannerAfterTwoFooterTwoSpan {
    padding-top: 10px;
    font-size: 24px;
    line-height: 42px;
}

.twoBannerAfterTwoFooterBlockMain {
    display: flex;
    justify-content: space-between;
    width: 1405px;
    height: 546px;
    bottom: 0;
    box-shadow: 0 4px 20px 0 #00000040;
}

.mainPicture {
    margin: 75px 0 0 90px;
    width: 774px;
    height: 471px;
}

.twoBannerAfterTwoFooterBlockAfterImage {
    display: flex;
    flex-direction: column;
    width: 331px;
    height: 461px;
    margin: 42px 115px 0 0;
}

.twoBannerAfterTwoFooterField {
    width: 330px;
    height: 80px;
    margin-bottom: 30px;
    border: 1px solid #4A4D4A;
}

.twoBannerAfterTwoFooterField::placeholder {
    font-size: 14px;
    padding-left: 20px;
    color: #4A4D4A;
}

.treeBannerAfterTwoFooterField {
    margin-bottom: 30px;
}

#getConsultation {
    text-transform: uppercase;
    width: 330px;
    height: 80px;
    margin-bottom: 20px;
}

.checkBoxAndSpan {
    display: flex;
    justify-content: space-between;
    width: 211px;
    height: 30px;
}

.checkMarkBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #4A4D4A;
}

.checkMark {
    width: 15px;
    height: 15px;
}

.spanAfterCheckMark {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.spanAfterCheckMark:hover {
    text-decoration: underline;
}

.bannerBeforeLastFooter {
    display: flex;
    position: relative;
    width: 1408px;
    height: 608px;
    margin: 100px auto auto auto;
    border-right: 8px solid rgba(31, 52, 123, 0.2);
    border-bottom: 8px solid rgba(31, 52, 123, 0.2);
}

.beforeLastFooterSpanAndImage {
    display: flex;
    flex-direction: column;
    width: 1188px;
    height: 514px;
    margin: auto;
}

.beforeLastFooterSpanImage {
    font-size: 30px;
    line-height: 37px;
    width: 579px;
    height: 74px;
    text-align: center;
    margin: 0 auto auto auto;
}

.beforeLastFooterUnderSpanBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1188px;
    height: 428px;
}

.beforeLastFooterSpanColumnBlock {
    display: flex;
    flex-direction: column;
    width: 459px;
    height: 274px;
    font-size: 20px;
    margin-top: 86px;
}

.oneBeforeLastFooterSpanColumnBlock {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    flex-grow: 1;
}

.newGeo {
    width: 30px;
    height: 40px;
}

.newPhone, .clock {
    width: 30px;
    height: 30px;
}

.clock {
    margin-bottom: 8px;
}

.newSMS {
    width: 30px;
    height: 22px;
    margin-bottom: 8px;
}

.newWhatsApp {
    width: 26px;
    height: 26px;
    margin-bottom: 8px;
}

.bannerBeforeLastFooterSpan {
    margin: 0 0 10px 10px;
}

.maps {
    width: 553px;
    height: 423px;
    background: url("images/bannerBeforeLastFooter/maps.png");
    background-size: cover;
}

.lineBorderLeftBannerBeforeLastFooter,
.lineBorderTopBannerBeforeLastFooter {
    position: absolute;
    border-top: 8px solid rgba(31, 52, 123, 0.2);
}

.lineBorderLeftBannerBeforeLastFooter {
    top: 170px;
    width: 120px;
    height: 430px;
    border-left: 8px solid rgba(31, 52, 123, 0.2);
}

.lineBorderTopBannerBeforeLastFooter {
    left: 170px;
    width: 1230px;
    height: 10px;
}

.lastFooter {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 343px;
    margin-top: 100px;
    background-color: #F0F0FF;
}

.lastFooterMainBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1408px;
    height: 267px;
}


.lastFooterOneBlock, .lastFooterTwoBlock,
.lastFooterThreeBlock, .lastFooterFourBlock,
.lastFooterFiveBlock, .lastFooterSixBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.lastFooterOneBlock {
    width: 209px;
    height: 222px;
}

.CbsFooter {
    width: 209px;
    height: 94px;
}

.lastFooterOneSpan {
    width: 209px;
    height: 103px;
    line-height: 21px;
}

.lastFooterTwoBlock {
    width: 247px;
    height: 212px;
}

.lastFooterBlockBigSpan {
    line-height: 21px;
    font-weight: 700;
}

.lastFooterBlockSmallSpan {
    font-size: 14px;
    line-height: 17px;
}

.lastFooterThreeBlock {
    width: 167px;
    height: 176px;
}

.lastFooterFourBlock {
    width: 155px;
    height: 212px;
}

.lastFooterFiveBlock {
    align-items: center;
    width: 31px;
    height: 220px;
}

.ig, .goldWhatsApp, .human {
    width: 30px;
    height: 30px;
}

.faceB {
    width: 20px;
    height: 41px;
}

.vk {
    width: 30px;
    height: 17px;
}

.lastFooterSixBlock {
    width: 185px;
    height: 168px;
}

.lastFooterSixBlockSpanImageOne, .lastFooterSixBlockSpanImageTwo,
.lastFooterSixBlockSpanImageThree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lastFooterSixBlockSpanImageOne {
    font-family: Montserrat, sans-serif;
    width: 185px;
    height: 22px;
}

.lastFooterSixBlockSpanImageTwo {
    margin-left: -3px;
    width: 162px;
    height: 21px;
}

.lastFooterSixBlockSpanImageThree {
    width: 185px;
    height: 50px;
}

.lastPhone {
    width: 18px;
    height: 19px;
}

.lastSMS {
    width: 24px;
    height: 18px;
}

.lastGeo {
    width: 20px;
    height: 27px;
}

.lastFooterTwoSpan {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 146px;
    height: 50px;
    margin-right: 8px;
}

.lastFooterTwoSpanOne {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: left;
    line-height: 29px;
}

.lastFooterTwoSpanTwo {
    font-family: Montserrat, sans-serif;
    line-height: 23px;
    font-size: 16px;
}

.visa {
    top: 251px;
    margin-left: 1226px;
    position: absolute;
    width: 197px;
    height: 60px;
}